<ul class="nav flex-column settings-nav">
    <li class="nav-item">
        <a class="nav-link" href="/settings">
            <i class="bi bi-gear"></i>
            {{ t('accounts.edit.my settings') | lower | capitalize }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings/security">
            <i class="bi bi-shield-lock"></i>
            {{ t('settings.password_and_security') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings/connections">
            <i class="bi bi-diagram-3"></i>
            {{ t('settings.connected_accounts') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings/applications">
            <i class="bi bi-boxes"></i>
            {{ t('settings.applications') }}
        </a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link text-secondary" href="/settings/delete-account">
            <i class="bi bi-trash"></i>
            {{ t('settings.delete_account') }}
        </a>
    </li>
</ul>
