{% extends 'settings/_base.jinja2' %}
{% block title_prefix %}{{ t('accounts.edit.my settings') | capitalize }} | {% endblock %}
{% block body_class %}settings-body{% endblock %}
{% block settings_active_href %}/settings{% endblock %}
{% block settings_title %}{{ t('accounts.edit.my settings') | capitalize }}{% endblock %}
{% block settings_body %}

<form class="settings-form" method="POST" action="/api/web/settings">

    <label class="form-label d-block mb-3">
        {{ t('activerecord.attributes.user.display_name') | capitalize }}
        <input type="text" class="form-control mt-2" name="display_name" data-blacklist="{{ URLSAFE_BLACKLIST }}"
            value="{{ user.display_name }}" required>
    </label>

    <label class="form-label d-block">
        {{ t('passwords.new.email address') | capitalize }}
        <div class="input-group mt-2">
            <input type="email" class="form-control bg-body-tertiary" value="{{ user.email }}" readonly>
            <a class="btn btn-light border" href="/settings/email">
                {{ t('settings.change_email') }}
            </a>
        </div>
    </label>
    <p class="form-text">{{ t('settings.your_email_address_is_not_displayed_publicly') }}</p>

    <label class="form-label d-block mb-3">
        {{ t('settings.password_last_changed') }}
        <div class="input-group mt-2">
            <div class="form-control bg-body-tertiary">
                <time datetime="{{ user.password_changed_at.isoformat() }}" data-style="long"></time>
            </div>
            <a class="btn btn-light border" href="/settings/security">
                {{ t('settings.change_password') }}
            </a>
        </div>
    </label>

    <label class="form-label d-block">
        {{ t('settings.preferred_language') }}
        <select class="form-select format-select mt-2" name="language" required>
            {% for locale_code, locale_name in INSTALLED_LOCALES_NAMES_MAP.items() %}
            <option value="{{ locale_code }}" {% if user.language == locale_code %}selected{% endif %}>
                {{ locale_name.display_name }}
            </option>
            {% endfor %}
        </select>
    </label>
    <p class="form-text mb-3">
        {% set this_guide %}
        <a href="https://wiki.openstreetmap.org/wiki/Website_internationalization#How_to_translate">
            {{- t('internalization.this_guide') -}}
        </a>
        {%- endset %}
        {{ t('internalization.get_started', this_guide=this_guide) | safe }}
    </p>

    <div class="form-check ms-1">
        <label class="form-check-label d-block">
            <input class="form-check-input" type="checkbox" name="activity_tracking" value="true"
                {% if user.activity_tracking %}checked{% endif %}>
            <i class="bi bi-graph-up text-primary"></i>
            {{ t('privacy.enable_activity_tracking.title') }}
        </label>
    </div>
    <p class="form-text mb-3">
        {{ t('privacy.enable_activity_tracking.description') }}
        {{ t('privacy.enable_activity_tracking.we_use_matomo') }}
    </p>

    <div class="form-check ms-1">
        <label class="form-check-label d-block">
            <input class="form-check-input" type="checkbox" name="crash_reporting" value="true"
                {% if user.crash_reporting %}checked{% endif %}>
            <i class="bi bi-bug text-primary"></i>
            {{ t('privacy.enable_crash_reporting.title') }}
        </label>
    </div>
    <p class="form-text mb-3">
        {{ t('privacy.enable_crash_reporting.description') }}
    </p>

    <div class="text-end">
        <button class="btn btn-primary px-3" type="submit">
            {{ t('action.save_changes') }}
        </button>
    </div>

</form>

{% endblock %}
