{% macro row(weekday, name) %}
<tr>
    <td class="chart-weekday"><span>{{ name }}</span></td>
    {% for day in weekday %}
    <td class="activity-{{ day  }} activity"></td>
    {% endfor %}
</tr>
{% endmacro %}

<div id="activity-container">

    <h3 class="ms-1">Recent activity</h3>
    <p>
        {{activity_days}} mapping days with {{activity_sum}} changesets in the last year
    </p>

    <table id="activity-table" class="overflow-hidden">
        {{ row(activity.0, "") }}
        {{ row(activity.1, "Mon") }}
        {{ row(activity.2, "") }}
        {{ row(activity.3, "Wed") }}
        {{ row(activity.4, "") }}
        {{ row(activity.5, "Fri") }}
        {{ row(activity.6, "") }}
    </table>

    <div class="text-end small">
        Less (0)
        <span class="activity-0 activity"></span>
        <span class="activity-6 activity"></span>
        <span class="activity-12 activity"></span>
        <span class="activity-19 activity"></span>
        More ({{ activity_max }})
    </div>

    <div class="text-end">
        <a class="small me-1" href="/user/{{ profile.display_name }}/groups">
            View full statistics<i class="bi bi-box-arrow-up-right ms-2"></i>
        </a>
    </div>

</div>

{# TODO: move this #}
<script>
    const container = document.getElementById('activity-container');

    const f = (width) => {
        container.style.cssText = `--width: ${width}px`;

    }
    const observer = new ResizeObserver(entries => {
        for (let entry of entries) {
            const { width, height } = entry.contentRect;
            f(width)
        }
    });
    observer.observe(container);
    f(container.offsetWidth)
</script>
