{% macro row(row, name) %}
<tr>
    <td class="chart-weekday text-muted small"><span>{{ name }}</span></td>
    {% for day in row %}
    <td class="activity" data-total="{{  day.total  }}" data-level="{{  day.level  }}"
        data-date="{{  day.date.strftime('%B %d, %Y')  }}"></td>
    {% endfor %}
</tr>
{% endmacro %}

<h3 class="ms-1">{{ t('user.activity.recent') }}</h3>
<p>{{ nt('user.activity.description_front',count=activity_days) }} {{ nt('user.activity.description_end', activity_sum) }}</p>

<table id="activity-table" class="overflow-hidden">
    <tr class="header">
        {% for month in months %}
        {% if month != "" %}
        <td class="position-relative"><span class="position-absolute small text-muted"> {{ month }}</span></td>
        {% else %}
        <td></td>
        {% endif %}
        {% endfor %}
    </tr>
    {{ row(rows.0, "") }}
    {{ row(rows.1, "Mon") }}
    {{ row(rows.2, "") }}
    {{ row(rows.3, "Wed") }}
    {{ row(rows.4, "") }}
    {{ row(rows.5, "Fri") }}
    {{ row(rows.6, "") }}
</table>

<div class="text-end comparison text-muted">
    {{ t('user.activity.less') }} (0)
    <span class="activity small" data-level="0"></span>
    <span class="activity small" data-level="6"></span>
    <span class="activity small" data-level="12"></span>
    <span class="activity small" data-level="19"></span>
    {{ t('user.activity.more') }} ({{ activity_max }})
</div>

<div class="text-end">
    <a class="small me-1" href="/user/{{ profile.display_name }}/groups">
        {{ t('user.activity.view_all') }}<i class="bi bi-box-arrow-up-right ms-2"></i>
    </a>
</div>
