<div class="modal fade" id="profileDescriptionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="description-form modal-content" method="POST" action="/api/web/settings/description">
            <div class="modal-header">
                <h5 class="modal-title">{{ t('user.edit_description') }}</h5>
                <button class="btn-close" aria-label="{{ t('javascripts.close') }}" type="button"
                        data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% set rich_text_name = 'description' %}
                {% set rich_text_value = profile.description %}
                {% set rich_text_maxlength = USER_DESCRIPTION_MAX_LENGTH %}
                {% include 'rich_text/_control.jinja2' %}
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <p class="form-text m-0">{{ t('user.your_profile_description_is_displayed_publicly') }}</p>
                </div>
                <div>
                    <button class="btn btn-secondary" type="button"
                            data-bs-dismiss="modal">{{ t('javascripts.close') }}</button>
                    <button class="btn btn-primary" type="submit">{{ t('action.save_changes') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
