<div class="card">
    <div class="card-body pb-0">
        <h5 class="card-title d-flex justify-content-between align-items-center ms-1">
            <a href="/user/{{ profile.display_name }}/notes">
                <b>{{ notes_count }}</b>
                {{ nt('note.count', notes_count) }}
            </a>
            <span class="dropdown">
                <button class="btn btn-sm btn-light border py-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/user/{{ profile.display_name }}/notes/commented">
                            {{ note_comments_count }}
                            {{ nt('comment.count', note_comments_count) }}
                        </a>
                    </li>
                </ul>
            </span>
        </h5>

        <ul class="content-list notes-list social-list-sm list-unstyled">
            {% for note in notes %}
                {% set comment = note.comments[0] %}
                <li class="row g-2">
                    <div class="col-auto">
                        {% if note.closed_at is none %}
                            <img class="marker" src="/static/img/marker/open.webp" alt="{{ t('state.unresolved') }}"
                                 draggable="false">
                        {% else %}
                            <img class="marker" src="/static/img/marker/closed.webp" alt="{{ t('state.resolved') }}"
                                 draggable="false">
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="social-action social-entry h-100">
                            <p class="header text-muted d-flex justify-content-between">
                                <span>
                                    {% if note.updated_at > comment.created_at %}
                                        {{ t('action.updated') | capitalize }}
                                        <time datetime="{{ note.updated_at.isoformat() }}" data-style="long"></time>
                                    {% else %}
                                        {{ t('browse.created') }}
                                        <time datetime="{{ note.created_at.isoformat() }}" data-style="long"></time>
                                    {% endif %}
                                </span>
                                <a class="stretched-link" href="/note/{{ note.id }}">{{ note.id }}</a>
                            </p>
                            <div class="body d-flex justify-content-between">
                                <div>{{ comment.body }}</div>
                                {% if note.num_comments > 1 %}
                                    <div class="num-comments">
                                        {{ note.num_comments - 1 -}}
                                        <i class="bi bi-chat-left-text"></i>
                                    </div>
                                {% else %}
                                    <div class="num-comments no-comments">
                                        0<i class="bi bi-chat-left"></i>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            {% if notes_count > USER_RECENT_ACTIVITY_ENTRIES %}
                <li class="view-more">
                    <a class="btn btn-sm btn-light border" href="/user/{{ profile.display_name }}/notes">
                        {{ t('action.view_more') }}
                    </a>
                </li>
            {% elif not notes_count %}
                <li class="no-activity">{{ t('user.no_activity_yet') }}</li>
            {% endif %}
        </ul>
    </div>
</div>
