<div class="card">
    <div class="card-body pb-0">
        <h5 class="card-title ms-1">
            <a href="/user/{{ profile.display_name }}/traces">
                <b>{{ traces_count }}</b>
                {{ nt('trace.count', traces_count) }}
            </a>
        </h5>

        <ul class="content-list content-list-sm traces-list traces-list-sm list-unstyled"
            data-lines="{{ traces_lines | safe }}">
            {% for trace in traces %}
            <li class="row g-2">
                <div class="col-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="92" height="92" viewBox="-1 -1 92 92"></svg>
                </div>
                <div class="col">
                    <div class="social-action social-entry h-100">
                        <p class="header text-muted d-flex justify-content-between">
                            <span>
                                {{ t('action.uploaded') | title }}
                                {{ timeago(trace.created_at, html=True) | safe }}
                            </span>
                            <a class="stretched-link" href="/trace/{{ trace.id }}">{{ trace.id }}</a>
                        </p>
                        <p class="body">
                            <span class="fst-italic me-1">
                                {{ trace.description }}
                            </span>
                            <span>
                                {% for tag in trace.tags %}
                                <a class="hashtag"
                                    href="/user/{{ profile.display_name }}/traces/tag/{{ tag }}">#{{ tag }}</a>
                                {% endfor %}
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% if traces_count > USER_RECENT_ACTIVITY_ENTRIES %}
            <li class="view-more">
                <a class="btn btn-sm btn-light border" href="/user/{{ profile.display_name }}/traces">
                    {{ t('action.view_more') }}
                </a>
            </li>
            {% elif not traces_count %}
            <li class="no-activity">{{ t('user.no_activity_yet') }}</li>
            {% endif %}
        </ul>
    </div>
</div>
