{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('user.not_found') }} | {% endblock %}
{% block body %}

    <div class="content-header">
        <h1 class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            {{ t('user.not_found') }}
        </h1>
    </div>
    <div class="content-body">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            <p>
                {{ t('users.no_such_user.body', user=name) }}
            </p>
        </div>
    </div>

{% endblock %}
