#languagePickerModal {
    .language-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 0.25rem;

        .btn {
            display: flex;
            align-items: center;

            .flag {
                margin-right: 0.375rem;
                font-size: 1.2em;
            }

            .name {
                text-align: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
    }
}
