<div id="languagePickerModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ t('language_picker.select_your_preferred_language') }}</h5>
                <button class="btn-close" aria-label="{{ t('javascripts.close') }}" type="button"
                    data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="text" class="form-control mb-3"
                    placeholder="{{ t('language_picker.search_languages') }}..." autocomplete="off">
                <ul class="language-list list-unstyled mb-3" aria-live="polite">
                    {% for locale_code, locale_name in INSTALLED_LOCALES_NAMES_MAP.items() %}
                    <li>
                        <button type="button" data-lang="{{ locale_code }}" title="{{ locale_name.display_name }}">
                            <span class="flag">{{ locale_name.flag or '' }}</span>
                            <span class="name-native">{{ locale_name.native }}</span>
                            {% if locale_name.english != locale_name.native %}
                            <span class="name-english">{{ locale_name.english }}</span>
                            {% endif %}
                        </button>
                    </li>
                    {% endfor %}
                </ul>

                <p class="form-text mb-0">
                    {% set _this_guide %}
                    <a href="https://wiki.openstreetmap.org/wiki/Website_internationalization#How_to_translate"
                        target="_blank">
                        {{- t('internalization.this_guide') -}}
                    </a>
                    {%- endset %}
                    {{ t('internalization.get_started', this_guide=_this_guide) | safe }}
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ t('javascripts.close') }}
                </button>
            </div>
        </div>
    </div>
</div>
