<div class="navbar-language-picker d-flex d-lg-inline-flex mt-2 mt-lg-0 ms-lg-1">
    <button class="btn btn-light btn-bg-initial navbar-color w-100" type="button" data-bs-toggle="modal"
        data-bs-target="#languagePickerModal" title="{{ t('settings.choose_language') }}">
        <i class="bi bi-translate"></i><span class="d-lg-none ms-2">{{ t('settings.choose_language') }}</span>
    </button>
</div>
