#languagePickerModal {
    .language-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 0.25rem;

        .btn {
            display: flex;
            align-items: center;
            text-align: left;
            overflow: hidden;

            .flag {
                margin-right: 0.375rem;
                font-size: 1.2em;
                line-height: 1;
                flex-shrink: 0;
            }

            .name-native {
                font-weight: 500;
                flex-shrink: 0;
            }

            .name-english {
                margin-left: 0.375rem;
                font-size: 0.875em;
                padding-top: 0.0625rem;
                color: var(--bs-secondary-color);
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
