@use "bootstrap/scss/functions";

#ThemeSwitcher {
    .dropdown-toggle {
        @include media-breakpoint-down(lg) {
            border: 1px solid $border-color-dark;
        }

        .bi {
            opacity: 0.85;

            &::before {
                width: 1em;
            }
        }
    }

    .dropdown-item {
        .bi {
            opacity: 0.8;
        }
    }

    .dropdown-item:not(.active):not(:active) {
        .bi {
            color: $primary;
        }
    }
}
