.messages-index-body {
  .col-lg:not(:first-child) {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid var(--bs-border-color);
    }
  }

  .message-preview {
    border: unset;

    .message-sender {
      margin-bottom: 0.5rem;

      .avatar {
        margin-right: 0.5rem;
        font-size: 2em;
      }
    }

    .message-recipients {
      display: inline-flex;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      .avatar {
        margin-right: 0.375rem;
      }
    }

    .btn-group.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    .card-body {
      padding-top: 1.5rem;
      padding-bottom: unset;
    }

    .title {
      @extend .mb-3;

      overflow-wrap: anywhere;
    }
  }
}
