{% extends '_base' %}
{% block title_prefix %}
  {% if inbox %}{{ t('messages.inbox.title') }}{% else %}{{ t('messages.outbox.title') }}{% endif %}
  |
{% endblock %}
{% block body_class %}messages-index-body{% endblock %}
{% block body %}
  <div class="content-header pb-0">
    <div class="container">
      <h1>{{ t('users.show.my messages') }}</h1>
      <p>{{ t('messages.description') }}</p>

      <nav>
        <ul class="nav nav-tabs nav-tabs-md flex-column flex-md-row">
          <li class="nav-item">
            <a
              href="/messages/inbox"
              {% if inbox %}
                class="nav-link active" aria-current="page"
              {% else %}
                class="nav-link"
              {% endif %}
            >
              {{ t('messages.heading.my_inbox') }}
            </a>
          </li>
          <li class="nav-item">
            <a
              href="/messages/outbox"
              {% if not inbox %}
                class="nav-link active" aria-current="page"
              {% else %}
                class="nav-link"
              {% endif %}
            >
              {{ t('messages.heading.my_outbox') }}
            </a>
          </li>
          <li class="nav-item ms-auto">
            <a
              class="btn btn-soft"
              href="/message/new"
            >
              <i class="bi bi-envelope-plus me-2"></i>
              {{- t('action.send_a_message') }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content-body">
    <div class="container">
      <div
        id="MessagesIndex"
        data-inbox="{{ inbox }}"
      ></div>
    </div>
  </div>
{% endblock %}
