{% extends '_base' %}
{% block title_prefix %}{{ t('action.send_a_message') }} |{% endblock %}
{% block body_class %}messages-new-body{% endblock %}
{% block body %}
  <div
    id="MessagesNewRoot"
    data-recipients="{{ recipients }}"
    data-subject="{{ subject }}"
    data-body="{{ body }}"
  ></div>
{% endblock %}
