// Styles for rich text rendered content
.rich-text {
  overflow-y: hidden;
  overflow-y: clip;
  text-wrap: pretty;
  overflow-wrap: anywhere;

  code {
    @extend .bg-body-tertiary;

    padding: 0.15em 0.2em 0;
  }

  pre {
    @extend .bg-body-tertiary;

    padding: 0 0.2em;
    white-space: pre-wrap;

    // Remove padding from nested code blocks
    code {
      padding: 0;
    }
  }

  blockquote {
    @extend .text-body-secondary;

    padding-left: 1.5em;
    border-left: 1.5em solid var(--bs-tertiary-bg);
  }

  img {
    @extend .bg-body-tertiary;

    display: block;
    max-width: 100%;
    padding: 1.5rem;
    margin: auto;
  }
}

.RichTextPreview {
  // Seamless preview experience: copy padding and border size from textarea
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;

  @include media-breakpoint-down(md) {
    // Same default height as the source textarea: better UX when scaling
    min-height: 445.6px;
  }
}

.RichTextHelp {
  img.markdown-logo {
    position: relative;
    top: -0.075em;
    height: 0.8em;
  }

  dd {
    font-size: 0.75em;
  }
}
