.audit-body {
  .details-col {
    max-width: 160px;

    > div {
      @extend .font-monospace;
      @extend .small;

      max-height: 4em;
      overflow-y: auto;
      overflow-wrap: anywhere;
      white-space: pre-wrap;
    }
  }
}
