{% for comment in comments %}
<li class="social-entry">
    <p class="header text-muted">
        {% if not comment.user %}
        {{ t('browse.anonymous') }}
        {% else %}
        <a href="/user/{{ comment.user.display_name }}">
            <img class="avatar" src="{{ user_avatar_url(comment.user) }}" alt="{{ t('alt.profile_picture') }}"
                loading="lazy">
            {{- comment.user.display_name -}}
        </a>
        {% endif %}
        {% if comment.event == 'commented' %}
        {{ t('action.commented') }}
        {% elif comment.event == 'closed' %}
        {{ t('action.resolved') }}
        {% elif comment.event == 'reopened' %}
        {{ t('action.reactivated') }}
        {% elif comment.event == 'hidden' %}
        {{ t('action.hidden') }}
        {% endif %}
        <time datetime="{{ comment.created_at.isoformat() }}" data-style="long"></time>
    </p>
    {% if comment.body %}
    <div class="body pre">{{ comment.body_rich | safe }}</div>
    {% else %}
    <div class="mb-2"></div>
    {% endif %}
</li>
{% endfor %}
