.leaflet-container {
    // Style buttons displayed on the side of the map
    // (e.g. zoom in/out, layers, etc.)
    .control-button {
        display: block;
        background: rgba(0, 0, 0, 0.6);
        padding: unset;
        border: unset;
        line-height: 0;

        &:hover,
        &:focus {
            background: black;
        }

        &:disabled {
            background: rgba(0, 0, 0, 0.5);
            cursor: default;
        }

        &.active {
            background: $vibrant-green;
        }
    }

    // // Style the map popup
    // .leaflet-popup-content-wrapper {
    //     border-radius: $border-radius;
    // }

    // // Style the cursor depending on the action
    // &.query-features {
    //     cursor: help;

    //     // TODO: ESC to cancel
    //     &.query-features-disabled {
    //         cursor: not-allowed;
    //     }
    // }

    // TODO: is this necessary?
    // .leaflet-marker-draggable {
    //     cursor: move;

    //     &.leaflet-drag-target {
    //         cursor: grabbing;
    //     }
    // }

    // Fix white grid lines on browser zoom-in
    img.leaflet-tile {
        mix-blend-mode: initial;
    }
}

// Hint the browser that the map will be animated
.leaflet-map-pane,
.leaflet-zoom-animated {
    will-change: transform;
}

// Stick controls to the edges of the map
.leaflet-top.leaflet-left .leaflet-control {
    margin-left: 0;
}
.leaflet-top.leaflet-right .leaflet-control {
    margin-right: 0;
}

// Style the control group
.leaflet-control.leaflet-control-group {
    margin-top: 0;

    &.first {
        margin-top: 0.625rem;
        border-start-start-radius: $border-radius-sm;
        overflow: hidden;
    }

    &.last {
        border-end-start-radius: $border-radius-sm;
        overflow: hidden;
    }
}

// Style the distance label from "Measure Distance"
.leaflet-marker-icon.distance-label {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        padding: 0 0.25rem;
        color: $white;
        background: $blue-500;
        border-radius: $border-radius-sm;
    }
}

// Style the ghost marker icon from "Measure Distance"
.leaflet-marker-icon.ghost-marker {
    opacity: 0.5;
    padding-bottom: 10px !important;
    box-sizing: content-box;
}

// Increase the priority of the routing pane
.leaflet-focus-routing {
    z-index: 420;
}

// Increase the priority of the focus pane
.leaflet-focus-pane {
    z-index: 450;
}
