// Make body a flex container and stretch it to fill the viewport
.map-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// Expand map container and make it another flex container
.map-container {
    flex-grow: 1;
    position: relative;
    display: flex;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        position: absolute;
        top: $navbar-mobile-height;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.main-map {
    // Disable outline on main map (appears too often by accident)
    outline: none;
    flex-grow: 1;

    .leaflet-top.leaflet-right {
        @include media-breakpoint-down(sm) {
            margin-top: min((breakpoint-max(sm) - 100vw) * 0.5, 3.125rem);
        }
    }

    // Merge zoom and geolocate controls
    .leaflet-control.zoom {
        .control-button:last-child {
            border-end-start-radius: 0;
        }
    }

    .leaflet-control.geolocate {
        .control-button:first-child {
            margin-top: 0;
            border-start-start-radius: 0;
        }
    }
}
