// Make body a flex container and stretch it to fill the viewport
.map-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// Expand map container and make it another flex container
.main-map-container {
    flex-grow: 1;
    position: relative;
    display: flex;

    @include media-breakpoint-down(lg) {
        position: absolute;
        top: $navbar-mobile-height;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

.main-map {
    // Disable outline on main map (appears too often by accident)
    // outline: none;
    flex-grow: 1;

    background: $green;
    background: radial-gradient(circle, #fff 0%, $green 100%);

    .maplibregl-ctrl-top-right {
        @include media-breakpoint-down(sm) {
            margin-top: min((breakpoint-max(sm) - 100vw) * 0.5, 3.125rem);
        }
    }
}

@include color-mode(dark) {
    .main-map {
        background: $dark;
        background: radial-gradient(circle, #444 0%, $dark 40%);
    }
}
