// Style the alert container that appears on top of the map
.map-alert-container {
    z-index: 1003; // leaflet controls are 1000
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.map-alert {
    margin-bottom: 0;
    cursor: initial;
    box-shadow: $box-shadow;
}
