// Style the "Map Layers" sidebar picker
.leaflet-sidebar.layers {
    // Make each layer clickable and overlay a label on top of it
    .layer {
        cursor: pointer;
        position: relative;
        border-radius: $border-radius;
        border: 2px solid transparent;
        overflow: hidden;
        transition: border-color 0.08s ease-in;

        // Add some margin between each layer
        &:not(:last-child) {
            margin-bottom: 0.65rem;
        }

        label {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.15rem 0.5rem;
            font-weight: 600;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(0.5rem);
            border-bottom-right-radius: $border-radius-sm;
            z-index: 1000;
        }

        .leaflet-container {
            height: 3.5rem;
        }

        // Change border color depending on the state
        &.active {
            border-color: $green-500;
        }

        &:hover {
            border-color: $gray-400;

            &.active {
                border-color: $green-600;
            }
        }
    }
}
