@use "sass:color";

// Style the "Map Layers" sidebar picker
.leaflet-sidebar.layers {
    // Make each layer clickable and overlay a label on top of it
    .layer {
        cursor: pointer;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        transition: box-shadow 0.08s ease-out;

        // Add some margin between each layer
        &:not(:last-child) {
            margin-bottom: 0.875rem;
        }

        label {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.15rem 0.5rem;
            font-weight: 700;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(0.5rem);
            border-bottom-right-radius: $border-radius-sm;
            z-index: 1000;
        }

        .leaflet-container {
            height: 3.5rem;
        }

        // Change border color depending on the state
        &.active {
            box-shadow: 0 0 0 0.25rem $primary;
        }

        &:hover {
            box-shadow: 0 0 0 0.25rem color.adjust($primary, $alpha: -0.6);

            &.active {
                box-shadow: 0 0 0 0.25rem shade-color($primary, 20%);
            }
        }
    }
}
