// Style the sidebars and make their contents scrollable
.sidebar {
    max-height: 100%;
    overflow-y: auto;

    // Add padding to the sidebar sections
    .section {
        padding: 1.2em 1em;
        background: $white;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }

    // Adjust position of the close button
    .btn-close {
        position: relative;
        top: -0.1em;
    }

    // Fixup the close button position for the alerts
    .alert .btn-close {
        position: absolute;
        top: 0;
    }
}

// Support action sidebar overlaying the map
.sidebar-overlay {
    position: absolute;
    z-index: 1001; // leaflet controls are 1000

    .sidebar-content {
        position: static;
    }
}

// Style the action sidebar (left)
.action-sidebar {
    position: relative;
    width: $action-sidebar-width;

    @include media-breakpoint-down(md) {
        &:not(.index) {
            width: 100%;
            height: 40vh;
        }
    }
}

// Fill sidebar with content
.sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// Style the leaflet sidebar (right)
.leaflet-sidebar {
    position: relative;
    width: $leaflet-sidebar-width;
    z-index: 1003; // higher than .sidebar-overlay

    @include media-breakpoint-down(md) {
        width: 100%;
        height: 50vh;
    }
}
