---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
BreakAfterAttributes: Always
BreakAfterReturnType: All
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 88
IndentGotoLabels: false
InsertNewlineAtEOF: true
---
