root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 88
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,pyi,html.jinja,ts,js,scss,css,sql,proto}]
indent_size = 4

[*.{html.jinja}]
max_line_length = 120

[*.md]
max_line_length = off

[Caddyfile]
indent_style = tab
indent_size = 4
