[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aioboto3 = "*"
aiosmtplib = "*"
alembic = "*"
anyio = "*"
argon2-cffi = "*"
asyncache = "*"
authlib = "*"
babel = "*"
beautifulsoup4 = "*"
bleach = "*"
boto3 = "*"
brotlipy = "*"
cachetools = "*"
cryptography = "*"
email-validator = "*"
fastapi = "*"
feedgen = "*"
filelock = "*"
geoalchemy2 = "*"
h2 = "*"
httpx = "*"
humanize = "*"
jinja2 = "*"
markdown-it-py = {extras = ["plugins"], version = "*"}
networkx = "*"
numba = "*"
numpy = "*"
orjson = "*"
pillow = "*"
psycopg2-binary = "*"
pycryptodome = "*"
pydantic = "*"
pyproj = "*"
python-dateutil = "*"
python-magic = "*"
python-multipart = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
rfc3986 = "*"
scikit-learn = "*"
shapely = "*"
six = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
starlette = "*"
timezonefinder = "*"
tqdm = "*"
uvicorn = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
