{% extends '_base.jinja2' %}
{% block title %}{% endblock %}
{% block title_prefix %}{{ self.title() }} | {% endblock %}
{% block body_class %}traces-index-body{% endblock %}
{% block body %}

<div class="content-header pb-0">
    <div class="container">
        <h1>{{ self.title() }}</h1>
        <p>
            {{ t('traces.index.description') }}
            {% if tag %}
            <a class="ms-2" href="{{ base_url_notag }}">
                <i class="bi bi-x-circle me-1"></i>{{ t('traces.index.remove_tag_filter') }}
            </a>
            {% endif %}
        </p>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/traces" {% if not personal %} class="nav-link active" aria-current="page" {% else %}
                    class="nav-link" {% endif %}>
                    {{ t('traces.index.all_traces') }}
                </a>
            </li>
            {% if user is not none %}
            <li class="nav-item">
                <a href="/traces/mine" {% if personal %} class="nav-link active" aria-current="page" {% else %}
                    class="nav-link" {% endif %}>
                    {{ t('traces.index.my_traces') }}
                </a>
            </li>
            {% endif %}
            <li class="nav-item ms-auto">
                {% if user is not none %}
                <a class="btn btn-light border" href="/traces/new">
                    <i class="bi bi-cloud-arrow-up me-2"></i>{{ t('traces.index.upload_trace') }}
                </a>
                {% endif %}
                {% if not personal %}
                <a class="btn btn-light border" href="{{ base_url }}/rss" aria-label="{{ t('alt.rss_feed') }}">
                    <i class="bi bi-rss-fill rss-color"></i>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<div class="content-body">
    <div class="container">
        {% include 'traces/_list.jinja2' %}
    </div>
</div>

{% endblock %}
