{% extends '_base.jinja2' %}
{% set title = t('traces.show.title', name=trace.name) %}
{% block title_prefix %}{{ title }} | {% endblock %}
{% block body_class %}traces-details-body{% endblock %}
{% block body %}

<div class="content-header">
    <div class="col-6 offset-3">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="content-body">
    <div class="col-6 offset-3">
        <div class="trace-preview leaflet-container mb-3" data-line="{{ trace_line | safe }}">
        </div>

        <div class="traces-list row g-2 mb-4">
            <div class="col social-entry">
                <p class="header text-muted d-flex justify-content-between">
                    <span>
                        <a href="/user/{{ trace.user.display_name }}" rel="author">
                            <img class="avatar" src="{{ trace.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                            {{- trace.user.display_name -}}
                        </a>
                        {{ t('action.uploaded') }}
                        <time datetime="{{ trace.created_at.isoformat() }}" data-style="long"></time>
                    </span>
                    <span>
                        <span class="badge text-bg-secondary">
                            {{ nt('traces.trace.count_points', trace.size) }}
                        </span>
                        {% if trace.visibility == 'identifiable' %}
                        <span class="badge text-bg-green">{{ t('traces.trace.identifiable') }}</span>
                        <i class="bi bi-question-circle ms-1" data-bs-toggle="tooltip"
                            data-bs-title="{{ t('traces.visibility.identifiable') }}"></i>
                        {% elif trace.visibility == 'public' %}
                        <span class="badge text-bg-green">{{ t('traces.trace.public') }}</span>
                        <i class="bi bi-question-circle ms-1" data-bs-toggle="tooltip"
                            data-bs-title="{{ t('traces.visibility.public') }}"></i>
                        {% elif trace.visibility == 'trackable' %}
                        <span class="badge text-bg-danger">{{ t('traces.trace.trackable') }}</span>
                        <i class="bi bi-question-circle ms-1" data-bs-toggle="tooltip"
                            data-bs-title="{{ t('traces.visibility.trackable') }}"></i>
                        {% elif trace.visibility == 'private' %}
                        <span class="badge text-bg-danger">{{ t('traces.trace.private') }}</span>
                        <i class="bi bi-question-circle ms-1" data-bs-toggle="tooltip"
                            data-bs-title="{{ t('traces.visibility.private') }}"></i>
                        {% endif %}
                    </span>
                </p>
                <p class="body mb-0">
                    <span class="fst-italic me-1">
                        {{ trace.description }}
                    </span>
                    <span>
                        {% for tag in trace.tags %}
                        <a class="hashtag" href="/traces/tag/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </span>
                </p>
            </div>
            {% if user is not none %}
            <div class="col-auto">
                <div class="btn-group" role="group">
                    <a class="btn btn-sm btn-link" href="/edit?gpx={{ trace.id }}">
                        <i class="bi bi-pencil fs-5"></i>
                        <span>{{ t('traces.trace.edit_map') | capitalize }}</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="text-end me-1">
            {% if (user is not none) and trace.user_id == user.id %}
            <a class="btn btn-light border" href="/trace/{{ trace.id }}/edit">
                {{ t('layouts.edit') }}
            </a>
            {% endif %}
            {# intentionally without API_URL, to not require user authorization #}
            <a class="btn btn-primary px-3" href="/api/0.6/gpx/{{ trace.id }}/data.gpx">
                {{ t('action.download_as') }} <b>GPX</b>
            </a>
        </div>

    </div>
</div>

{% endblock %}
