{% extends '_base.jinja2' %}
{% set title = t('traces.show.title', name=trace.name) %}
{% block title_prefix %}{{ title }} | {% endblock %}
{% block body_class %}traces-details-body{% endblock %}
{% block body %}

    <div class="content-header">
        <div class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="content-body">
        <div class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            <div class="trace-preview leaflet-container mb-3" data-line="{{ trace_line | safe }}">
            </div>

            <div class="traces-list social-list mb-4">
                {% set entry_hide_preview = True %}
                {% set entry_no_link = True %}
                {% include 'traces/_list_entry.jinja2' %}
            </div>

            <div class="text-end me-1">
                {% if (user is not none) and trace.user_id == user.id %}
                    <a class="btn btn-light border" href="/trace/{{ trace.id }}/edit">
                        {{ t('layouts.edit') }}
                    </a>
                {% endif %}
                {# intentionally without API_URL, to not require user authorization #}
                <a class="btn btn-primary px-3" href="/api/0.6/gpx/{{ trace.id }}/data.gpx">
                    {{ t('action.download_as') }} <b>GPX</b>
                </a>
            </div>

        </div>
    </div>

{% endblock %}
