{% extends '_base.jinja2' %}
{% set title = t('traces.edit.title', name=trace.name) %}
{% block title_prefix %}{{ title }} | {% endblock %}
{% block body_class %}traces-edit-body{% endblock %}
{% block body %}

<div class="content-header">
    <div class="col-6 offset-3">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="content-body">
    <div class="col-6 offset-3">
        <div class="trace-preview trace-preview-sm leaflet-container mb-3" data-line="{{ trace_line | safe }}">
        </div>

        <form class="update-form" method="POST" action="/api/web/traces/{{ trace.id }}/update">

            <label class="form-label d-block mb-3">
                <span class="required">{{ t('oauth2_applications.index.name') }}</span>
                <input type="text" class="form-control mt-2" name="name" value="{{ trace.name }}" required>
            </label>

            <label class="form-label d-block mb-3">
                <span class="required">{{ t('notes.show.description') }}</span>
                <input type="text" class="form-control mt-2" name="description" value="{{ trace.description }}"
                    required>
            </label>

            <label class="form-label d-block">
                {{ t('browse.tag_details.tags') }}
                <input type="text" class="form-control mt-2" name="tags" value="{{ trace.tag_string }}">
            </label>
            <p class="form-text">
                {{ t('activerecord.help.trace.tagstring') }}
            </p>

            <label class="form-label">
                <span class="required">{{ t('activerecord.attributes.trace.visibility') }}</span>
            </label>
            <div class="ms-1">
                <div class="form-check">
                    {% set visibility = trace.visibility %}
                    <label class="form-check-label w-100 mb-2">
                        <input class="form-check-input" type="radio" name="visibility" value="private"
                            {% if visibility == "private" %}checked{% endif %}>
                        {{ t('traces.visibility.private') }}
                    </label>
                    <label class="form-check-label w-100 mb-2">
                        <input class="form-check-input" type="radio" name="visibility" value="trackable"
                            {% if visibility == "trackable" %}checked{% endif %}>
                        {{ t('traces.visibility.trackable') }}
                    </label>
                    <label class="form-check-label w-100 mb-2">
                        <input class="form-check-input" type="radio" name="visibility" value="public"
                            {% if visibility == "public" %}checked{% endif %}>
                        {{ t('traces.visibility.public') }}
                    </label>
                    <label class="form-check-label w-100 mb-2">
                        <input class="form-check-input" type="radio" name="visibility" value="identifiable"
                            {% if visibility == "identifiable" %}checked{% endif %}>
                        {{ t('traces.visibility.identifiable') }}
                    </label>
                </div>
            </div>
            <p class="form-text">
                <a class="link-primary" href="https://wiki.openstreetmap.org/wiki/Visibility_of_GPS_traces"
                    target="_blank" rel="help">
                    {{ t('traces.edit.visibility_help') }}
                </a>
            </p>

            <div class="d-flex justify-content-between">
                <a class="btn btn-secondary px-4" href="/trace/{{ trace.id }}">
                    {{ t('action.cancel') }}
                </a>
                <button class="btn btn-primary px-4" type="submit">
                    <i class="bi bi-floppy2-fill me-2"></i>{{ t('action.save') }}
                </button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
