{% extends '_base.jinja2' %}
{% block heading %}
    {% if active_tab == 0 %}
        {% if tag is not none %}
            {{ t('traces.index.public_traces') + ' ' + t('traces.index.tagged_with', tags=tag) }}
        {% else %}
            {{ t('traces.index.public_traces') }}
        {% endif %}
    {% elif active_tab == 1 %}
        {% if tag is not none %}
            {{ t('traces.index.my_gps_traces') + ' ' + t('traces.index.tagged_with', tags=tag) }}
        {% else %}
            {{ t('traces.index.my_gps_traces') }}
        {% endif %}
    {% elif active_tab == 2 %}
        {% if tag is not none %}
            {{ t('traces.index.public_traces_from', user=profile.display_name) + ' ' + t('traces.index.tagged_with', tags=tag) }}
        {% else %}
            {{ t('traces.index.public_traces_from', user=profile.display_name) }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block title_prefix %}{{ self.heading() }} | {% endblock %}
{% block body_class %}traces-index-body{% endblock %}
{% block body %}

    <div class="content-header pb-0">
        <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <h1>{{ self.heading() }}</h1>
            <p>
                {{ t('traces.index.description') }}
                {% if tag %}
                    <a class="ms-2" href="{{ base_url_notag }}">
                        <i class="bi bi-x me-1"></i>
                        {{- t('traces.index.remove_tag_filter') }}
                    </a>
                {% endif %}
            </p>

            <nav>
                <ul class="nav nav-tabs nav-tabs-md flex-column flex-md-row">
                    <li class="nav-item">
                        <a href="/traces" {% if active_tab == 0 %} class="nav-link active"
                           aria-current="page" {% else %}
                           class="nav-link" {% endif %}>
                            {{ t('traces.index.all_traces') }}
                        </a>
                    </li>
                    {% if user is not none %}
                        <li class="nav-item">
                            <a href="/user/{{ user.display_name }}/traces" {% if active_tab == 1 %}
                               class="nav-link active"
                               aria-current="page" {% else %} class="nav-link" {% endif %}>
                                {{ t('traces.index.my_traces') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if active_tab == 2 %}
                        <li class="nav-item">
                            <a href="/user/{{ profile.display_name }}/traces" class="nav-link active"
                               aria-current="page">
                                {{ t('traces.index.public_traces_from', user=profile.display_name) }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item ms-auto">
                        {% if user is not none %}
                            <a class="btn btn-light border" href="/trace/upload">
                                <i class="bi bi-pin-map me-2"></i>
                                {{- t('traces.index.upload_trace') }}
                            </a>
                        {% endif %}
                        {% if active_tab == 0 %}
                            <a class="btn btn-light border" href="{{ base_url }}/rss"
                               aria-label="{{ t('alt.rss_feed') }}">
                                <i class="bi bi-rss-fill rss-color"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content-body">
        <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            {% include 'traces/_list.jinja2' %}
        </div>
    </div>

{% endblock %}
