.traces-list {
    height: 100%;

    td:first-child {
        svg {
            width: 5em;
            height: 5em;
            background: $body-bg;
        }
    }

    td:nth-child(2) {
        width: 100%;
    }

    .hashtag {
        &:not(:last-child) {
            &::after {
                content: ",";
                color: black;
            }
        }
    }

    .btn-group {
        height: 100%;

        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-wrap: nowrap;
        }
    }
}
