.traces-list {
    height: 100%;

    td {
        background: initial;
    }

    td:first-child {
        svg {
            width: 5em;
            height: 5em;
            background: $body-bg;
        }
    }

    td:nth-child(2) {
        width: 100%;
    }

    a:not(.stretched-link),
    time {
        position: relative;
        z-index: 10;
    }

    .hashtag:not(:last-child)::after {
        content: ",";
        color: black;
    }

    .btn-group {
        height: 100%;

        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-wrap: nowrap;
        }
    }
}
