<div class="leaflet-sidebar layers d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-3">
                <div class="col">
                    <h2>
                        {{ t('javascripts.map.layers.header') }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="layer" data-layer-id="standard">
                <label>
                    {{ t('javascripts.map.base.standard' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

            <div class="layer" data-layer-id="cyclosm">
                <label>
                    {{ t('javascripts.map.base.cyclosm' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

            <div class="layer" data-layer-id="cyclemap">
                <label>
                    {{ t('javascripts.map.base.cycle_map' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

            <div class="layer" data-layer-id="transportmap">
                <label>
                    {{ t('javascripts.map.base.transport_map' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

            <div class="layer" data-layer-id="tracestracktopo">
                <label>
                    {{ t('javascripts.map.base.tracestracktop_topo' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

            <div class="layer mb-2" data-layer-id="hot">
                <label>
                    {{ t('javascripts.map.base.hot' )}}
                </label>
                <div class="leaflet-container"></div>
            </div>

        </div>
        <div class="section">

            <h4>{{ t('map.overlays.title') | title }}</h4>
            <p class="text-body-secondary small">
                {{ t('javascripts.map.layers.overlays') }}
            </p>

            <div class="ms-1">
                <div class="form-check" data-bs-title="{{ t('javascripts.site.map_notes_zoom_in_tooltip') }}">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="notes">
                        {{ t('javascripts.map.layers.notes') }}
                    </label>
                </div>

                <div class="form-check" data-bs-title="{{ t('javascripts.site.map_data_zoom_in_tooltip') }}">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="data">
                        {{ t('javascripts.map.layers.data') }}
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="gps">
                        {{ t('traces.index.public_traces') }}
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
