<div class="leaflet-sidebar layers d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-1">
                <div class="col">
                    <h2>{{ t('javascripts.map.layers.header') }}</h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="form-check ms-1 mb-3">
                <label class="form-check-label d-block">
                    <input class="form-check-input globe-projection" type="checkbox">
                    {{ t('map.enable_3d_projection') }}
                </label>
            </div>

            <div class="base layer" data-layer-id="standard">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.standard' ) }}</label>
            </div>

            <div class="base layer" data-layer-id="cyclosm">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.cyclosm' ) }}</label>
            </div>

            <div class="base layer" data-layer-id="cyclemap">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.cycle_map' ) }}</label>
            </div>

            <div class="base layer" data-layer-id="transportmap">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.transport_map' ) }}</label>
            </div>

            <div class="base layer" data-layer-id="tracestracktopo">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.tracestracktop_topo' ) }}</label>
            </div>

            <div class="base layer" data-layer-id="liberty">
                <div class="map-container"></div>
                <label>{{ t('map.layers.liberty' ) }} <span class="vector">{{ t('map.layers.vector') }}</span></label>
            </div>

            <div class="base layer mb-2" data-layer-id="hot">
                <div class="map-container"></div>
                <label>{{ t('javascripts.map.base.hot' ) }}</label>
            </div>

        </div>
        <div class="section">

            <h4>{{ t('map.overlays.title') | title }}</h4>
            <p class="text-body-secondary small">
                {{ t('javascripts.map.layers.overlays') }}
            </p>

            <div class="layer-settings mb-3">
                <div class="overlay layer" data-layer-id="aerial">
                    <div class="map-container"></div>
                    <label>{{ t('map.layers.esri_world_imagery') }}</label>
                </div>
                <div class="layer-settings-inner">
                    <label class="form-label d-flex align-items-center gap-2 mb-0">
                        {{ t('map.overlays.opacity') }}:
                        <input class="overlay-opacity form-range" type="range" min="1" max="100" step="1"
                               autocomplete="off"
                               data-layer-id="aerial">
                    </label>
                </div>
            </div>

            <div class="ms-1">
                <div class="form-check" data-bs-title="{{ t('javascripts.site.map_notes_zoom_in_tooltip') }}">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="notes">
                        {{ t('javascripts.map.layers.notes') }}
                    </label>
                </div>

                <div class="form-check" data-bs-title="{{ t('javascripts.site.map_data_zoom_in_tooltip') }}">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="data">
                        {{ t('javascripts.map.layers.data') }}
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label d-block">
                        <input class="form-check-input overlay" type="checkbox" value="gps">
                        {{ t('traces.index.public_traces') }}
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
