<div class="sidebar leaflet-sidebar layers --d-none">
    <div class="row g-1 mb-3">
        <div class="col">
            <h2>
                {{ t('javascripts.map.layers.header') }}
            </h2>
        </div>
        <div class="col-auto">
            <button class="btn-close" aria-label="{{ t('javascripts.close') }}"></button>
        </div>
    </div>

    <div>
        <div class="layer" data-layer-id="standard">
            <label>
                {{ t('javascripts.map.base.standard' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>

        <div class="layer" data-layer-id="cyclosm">
            <label>
                {{ t('javascripts.map.base.cyclosm' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>

        <div class="layer" data-layer-id="cyclemap">
            <label>
                {{ t('javascripts.map.base.cycle_map' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>

        <div class="layer" data-layer-id="transportmap">
            <label>
                {{ t('javascripts.map.base.transport_map' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>

        <div class="layer" data-layer-id="tracestracktopo">
            <label>
                {{ t('javascripts.map.base.tracestracktop_topo' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>

        <div class="layer" data-layer-id="hot">
            <label>
                {{ t('javascripts.map.base.hot' )}}
            </label>
            <div class="leaflet-container">
            </div>
        </div>
    </div>

</div>
