<div class="leaflet-sidebar share d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-1">
                <div class="col">
                    <h2>
                        {{ t('javascripts.share.title') }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="form-check ms-1 mb-2">
                <label class="form-check-label d-block">
                    <input class="form-check-input marker-check" type="checkbox" autocomplete="off">
                    {{ t('javascripts.share.include_marker') }}
                    <span class="text-body-tertiary">
                        (<img class="marker-icon" src="/static/img/marker/blue.webp" alt="{{ t('alt.marker.blue') }}"
                            loading="lazy">)
                    </span>
                </label>
            </div>

            <div class="custom-input-group mb-2">
                <label>{{ t('javascripts.share.long_link') }}</label>
                <div class="input-group copy-group">
                    <input class="form-control link-input" type="text" autocomplete="off" readonly>
                    <button class="btn btn-primary" title="{{ t('action.copy') }}">
                        <i class="bi bi-copy"></i>
                    </button>
                </div>
            </div>

            <div class="custom-input-group mb-2">
                <label>{{ t('javascripts.share.geo_uri') }}</label>
                <div class="input-group copy-group">
                    <input class="form-control geo-uri-input" type="text" autocomplete="off" readonly>
                    <button class="btn btn-primary" title="{{ t('action.copy') }}">
                        <i class="bi bi-copy"></i>
                    </button>
                </div>
            </div>

            <div class="custom-input-group mb-2">
                <label>{{ t('javascripts.share.embed') }}</label>
                <div class="input-group copy-group">
                    <input class="form-control embed-input" type="text" autocomplete="off" readonly>
                    <button class="btn btn-primary" title="{{ t('action.copy') }}">
                        <i class="bi bi-copy"></i>
                    </button>
                </div>
            </div>

        </div>
        <form class="section export-form">

            <h4 class="mb-3">
                {{ t('javascripts.share.image') }}
            </h4>

            <div class="form-check ms-1 mb-3">
                <label class="form-check-label d-block">
                    <input class="form-check-input custom-region-check" type="checkbox" autocomplete="off">
                    {{ t('map.export.select_custom_region') }}
                </label>
            </div>

            <label class="form-label">{{ t('map.export.level_of_detail.title') }}</label>
            <div class="ms-1 mb-3">
                <div class="form-check">
                    <label class="form-check-label w-100">
                        <input class="form-check-input" type="radio" name="detail" value="-2">
                        {{ t('map.export.level_of_detail.very_low') }}
                        <span class="resolution"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label w-100">
                        <input class="form-check-input" type="radio" name="detail" value="-1">
                        {{ t('map.export.level_of_detail.low') }}
                        <span class="resolution"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label w-100">
                        <input class="form-check-input" type="radio" name="detail" value="0" checked>
                        {{ t('map.export.level_of_detail.normal') }}
                        <span class="resolution"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label w-100">
                        <input class="form-check-input" type="radio" name="detail" value="1">
                        {{ t('map.export.level_of_detail.high') }}
                        <span class="resolution"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label w-100">
                        <input class="form-check-input" type="radio" name="detail" value="2">
                        {{ t('map.export.level_of_detail.very_high') }}
                        <span class="resolution"></span>
                    </label>
                </div>
            </div>

            <label class="form-label">
                {{ t('action.save_as') }}
            </label>
            <select class="form-select format-select mb-3">
                <option value="image/png" data-suffix=".png" selected>PNG</option>
                <option value="image/webp" data-suffix=".webp">WebP</option>
                <option value="image/jpeg" data-suffix=".jpg">JPEG</option>
                <option value="image/svg+xml" data-suffix=".svg">SVG</option>
                <option value="application/pdf" data-suffix=".pdf">PDF</option>
            </select>

            <button class="btn btn-primary px-4 mb-2" type="submit">
                {{ t('action.download') }}
            </button>
            <p class="form-text">
                {{ t('map.export.description') }}
            </p>
        </form>
    </div>
</div>
