<!DOCTYPE html>
<html data-config="{{ WEB_CONFIG }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static-id/{{ ID_VERSION }}/iD.css" fetchpriority="high">
    <link rel="stylesheet" href="/static/css/id.css" fetchpriority="high">
    <script src="/static-id/{{ ID_VERSION }}/iD.min.js" fetchpriority="high" defer></script>
    <script src="/static/js/bundle-id.js" type="module" fetchpriority="high" defer></script>
</head>

<body>
    <div class="id-container" data-version="{{ ID_VERSION }}"></div>
</body>

</html>
