<!DOCTYPE html>
<html data-config="{{ WEB_CONFIG }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static-rapid/{{ RAPID_VERSION }}/rapid.css" fetchpriority="high">
    <link rel="stylesheet" href="/static/css/rapid.css" fetchpriority="high">
    <script src="/static-rapid/{{ RAPID_VERSION }}/rapid.min.js" fetchpriority="high" defer></script>
    <script src="/static/js/bundle-rapid.js" type="module" fetchpriority="high" defer></script>
</head>

<body>
    <div class="rapid-container" data-version="{{ RAPID_VERSION }}"></div>
</body>

</html>
