.user-profile-body {
    .content-header {
        position: relative;
        padding-top: 2em;
        transition: padding-top 0.3s;

        &:not(:has(img.background[src])) {
            padding-top: 0;
        }

        .info {
            align-content: end;
            min-height: calc(8em * 1.5 - 0.5em);
            margin-left: calc(8em * 1.5 + 1.5em);
            z-index: 1;

            .badge {
                margin-left: 0.55em;
                position: relative;
                font-size: 0.5em;
                top: 0.1em;
                cursor: help;
            }
        }

        .mapper-since {
            color: $text-muted;
        }
    }

    .background-form {
        overflow: hidden;

        &:has(img.background[src])::after {
            content: "";
            box-shadow: inset 0 calc(-6em * 2.5) 6em -6em $body-bg;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }

        img.background {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: opacity(0.6);
            font-size: 0; // hide alt text
            pointer-events: none;
            transition: opacity 0.3s;

            &:not([src]) {
                opacity: 0;
            }
        }

        .dropdown {
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            z-index: 1;
        }

        &.pending img.background {
            opacity: 0.5;
        }
    }

    .avatar-form {
        position: absolute;
        bottom: -0.75rem;

        img.avatar {
            font-size: 8em;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0.25em 16px -0.3em rgba(0, 0, 0, 0.1);
            pointer-events: none;
            transition: opacity 0.3s;
        }

        .dropdown {
            position: absolute;
            bottom: 1.125rem;
            left: -0.75rem;
        }

        &.pending img.avatar {
            opacity: 0.5;
        }
    }

    .content-list {
        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    .content-list-sm {
        height: 200px;
    }

    .view-more {
        a {
            display: block;
            margin-top: 0.625rem;
        }
    }

    .no-activity {
        margin-left: 0.25rem;
        color: $text-muted;
    }
}
