@use "sass:color";

.signup-body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content-body {
        margin: unset;
        padding-left: unset;
        padding-right: unset;
        flex-grow: 1;

        > .row {
            height: 100%;
        }
    }

    .brand-content {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        box-shadow: inset -6rem 0 4rem -4rem rgba(0, 0, 0, 0.3);
        padding: 0 2.5rem 0 4.5rem;
    }

    img.background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .background-image-credits {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 0.875em;
        color: rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    }

    .brand-title {
        font-size: 4em;
        color: color.adjust($vibrant-green, $saturation: 3%);
        text-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        text-wrap: nowrap;

        img {
            position: relative;
            top: -2px;
            height: 1.125em;
            width: 1.125em;
            margin-right: 1.125rem;
        }
    }

    .brand-title-sm {
        @extend .display-4;
        color: color.adjust($vibrant-green, $saturation: 3%);

        img {
            position: relative;
            top: -2px;
            height: 1.125em;
            width: 1.125em;
            margin-right: 1rem;
        }
    }

    .brand-subtitle {
        @include media-breakpoint-down(sm) {
            font-size: calc(1.25rem + 0.9vw);
        }
    }

    .brand-description {
        color: #eee;
        font-size: 2em;
        text-wrap: pretty;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }

    .signup-content {
        display: flex;
        align-items: center;
        border-top: 3rem solid $body-tertiary-bg;
        padding: 1.5rem 4rem 3rem;

        @include media-breakpoint-down(sm) {
            padding: 1.5rem 2rem 3rem;
        }
    }

    .divider {
        position: relative;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background: $border-color;
        }

        .divider-text {
            position: relative;
            top: -1px;
            background: $modal-content-bg;
            padding: 0 1rem;
            color: $text-muted;
            font-size: 0.875rem;
        }
    }

    .auth-providers {
        .btn {
            padding: unset;
            overflow: hidden;
            transition: box-shadow 0.08s ease-out;

            img {
                width: 3em;
                height: 3em;
                opacity: 0.9;
                transition:
                    opacity 0.08s ease-out,
                    filter 0.08s ease-out;
            }

            &:hover {
                box-shadow: 0 0 0 0.25rem color.adjust($primary, $alpha: -0.8);

                img {
                    opacity: 1;
                    filter: saturate(1.1);
                }
            }
        }
    }
}
