.settings-security-body {
    .active-sessions li {
        padding: 0.875rem 0;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }

    .session-id {
        font-family: monospace;
    }

    .current-session {
        font-size: 0.75em;
        line-height: 1.1em;
        position: relative;
        top: -2px;
    }
}
