.diary-index-body,
.diary-details-body {
    .content-header {
        img.avatar {
            font-size: 3.3rem;
        }
    }
}

#diary-scroll-nav {
    max-height: max-content;
    overflow-x: hidden;
    overflow-y: scroll;

    nav {
        text-wrap: pretty;
        font-size: 0.85em;
        margin-left: 0.25rem;
    }

    li:not(:last-child) {
        border-bottom: 1px solid var(--bs-secondary-bg);
    }

    .nav-link {
        --bs-nav-link-padding-y: 0.425rem;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &:hover {
            @extend .bg-body-secondary;
        }

        &.active {
            @extend .text-body;
            @extend .fw-semibold;
            box-shadow: -0.25rem 0 $primary;
        }
    }
}
