<div class="accordion">
    <div class="accordion-header">
        <button class="accordion-button {% if not expanded %}collapsed{% endif %}"
            data-bs-target="#application-entry-{{ app.id }}" aria-expanded="{{ expanded | lower }}"
            aria-controls="application-entry-{{ app.id }}">

            <div class="row align-items-center">
                <div class="col-auto">
                    <img class="avatar" src="{{ app.avatar_url }}" alt="{{ t('alt.application_image') }}"
                        loading="lazy">
                </div>
                <div class="col">
                    <h6 class="mb-1">
                        {{ app.name }}
                    </h6>
                    <p class="form-text mb-0">
                        {% if token %}
                        {% set date %}
                        {{ format_rfc2822_date(token.authorized_at) }}
                        ({{ token.authorized_at | timeago }})
                        {% endset %}
                        {{ t('settings.authorized_at', date=date) }}
                        {% else %}
                        {% set date %}
                        {{ format_rfc2822_date(app.created_at) }}
                        ({{ app.created_at | timeago }})
                        {% endset %}
                        {{ t('settings.registered_at', date=date) }}
                        {% endif %}
                        <br>

                        {% if app.user_id == user.id %}
                        <i class="bi bi-person-fill text-primary"></i>
                        {{ t('settings.owned_by_you') }}
                        {% else %}

                        {% if app.is_system_app %}
                        <i class="bi bi-shield-fill-check text-success"></i>
                        {% set name %}
                        <a href="/">
                            {{ t('layouts.project_name.title') }}
                        </a>
                        {% endset %}
                        {% else %}
                        {% set name %}
                        <a href="/user/permalink/{{ app.user_id }}">
                            <img class="avatar me-1" src="{{ app.user.avatar_url }}"
                                alt="{{ t('alt.profile_picture') }}" loading="lazy">{#
                            #}{{ app.user.display_name }}{#
                        #}</a>
                        {% endset %}
                        {% endif %}
                        {{ t('settings.owned_by_user', name=name) | safe }}

                        {% endif %}
                    </p>
                </div>
            </div>
        </button>
    </div>
    <div id="application-entry-{{ app.id }}" class="accordion-collapse collapse {% if expanded %}show{% endif %}">
        <div class="accordion-body">
            <div class="row">
                <div class="col">

                    <h6>{{ t('settings.requested_permissions') }}:</h6>
                    <ul class="list-unstyled">
                        {% for scope in app.scopes %}
                        {% set scope = scope.value %}
                        <li>
                            <i class="bi bi-check text-success"></i>
                            {% if scope == 'read_prefs' %}
                            {{ t('permissions.read_user_preferences') }}
                            {% elif scope == 'write_prefs' %}
                            {{ t('permissions.modify_user_preferences') }}
                            {% elif scope == 'write_api' %}
                            {{ t('permissions.manage_changesets_and_map_data') }}
                            {% elif scope == 'read_gpx' %}
                            {{ t('permissions.read_all_gps_traces') }}
                            {% elif scope == 'write_gpx' %}
                            {{ t('permissions.manage_gps_traces') }}
                            {% elif scope == 'write_notes' %}
                            {{ t('permissions.manage_notes') }}
                            {% elif scope == 'web_user' %}
                            {{ t('permissions.access_the_website') }}
                            {% endif %}
                            <span class="scope">({{ scope }})</span>
                        </li>
                        {% endfor %}
                        {% if not app.scopes %}
                        <li>
                            <i class="bi bi-dot text-muted"></i>
                            {{ t('permissions.no_permissions') }}
                        </li>
                        {% endif %}
                    </ul>

                </div>
                {% if app.client_id == 'SystemApp.web' %}
                {% elif token %}
                <form class="col-auto align-self-end revoke-application-form btn-group" method="POST"
                    action="/api/web/settings/revoke-application">
                    <button class="btn btn-light border" type="submit">{{ t('action.revoke_access') }}</button>
                    <button class="btn btn-light border dropdown-toggle dropdown-toggle-split" type="button"
                        data-bs-toggle="dropdown" aria-expanded="{{ expanded | lower }}">
                        <span class="visually-hidden">{{ t('action.show_more') }}</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item">
                                TODO:
                                {{ t('action.report_abuse') }}
                            </button>
                        </li>
                    </ul>
                    <input type="hidden" name="application_id" value="{{ app.id }}">
                </form>
                {% else %}
                <div class="col-auto align-self-end">
                    <a class="btn btn-light border" href="/settings/applications/admin/{{ app.id }}/edit">
                        {{ t('layouts.edit') }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
