.action-sidebar.changesets-history {
  .date-filter {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.375rem;
    font-size: 0.875em;
    color: $primary;
    background: rgba($primary, 0.15);
    border: 1px solid rgba($primary, 0.1);
    border-radius: $border-radius-sm;

    .btn-close {
      position: initial;

      --bs-btn-font-size: 0.55rem;

      margin-left: 0.3rem;
    }

    &:empty {
      display: none;
    }
  }

  .comment {
    font-style: italic;
  }

  .changesets-list {
    // Ensure scroll-indicator are not touching each other when there are no changesets
    min-height: 1px;
  }

  .scroll-indicator {
    position: sticky;
    z-index: 20;
    width: 100%;
    height: 2px;

    &.top {
      top: 0;
      background: #b814ae;
      border-bottom-left-radius: $border-radius-sm;
      opacity: 0;
      transition: opacity 0.08s ease-out;

      &.visible {
        opacity: 1;
      }

      .indicator-text {
        padding: 0.25rem 0.5rem;
        border-radius: 0 0 4px 4px;
      }
    }

    &.bottom {
      bottom: 0;
      background: #14b8a6;
      border-top-left-radius: $border-radius-sm;
      opacity: 0;
      transition: opacity 0.08s ease-out;

      &.visible {
        opacity: 1;
      }

      .indicator-text {
        bottom: 100%;
        padding: 0.25rem 0.5rem calc(0.25rem - 2px);
        border-radius: 4px 4px 0 0;
      }
    }

    &.no-transition {
      transition: none !important;
    }

    .indicator-text {
      position: absolute;
      right: 0;
      font-size: 0.8em;
      line-height: 1.3;
      color: $body-bg;
      background: inherit;
    }
  }
}
