.action-sidebar.changeset {
  .changesets-list {
    .tag-value {
      @extend .fst-italic;

      > p {
        margin-bottom: 0;
      }
    }
  }

  .open-indicator {
    font-weight: 500;
    color: color-contrast($success);
    cursor: help;
    background: rgba($success, 0.3);
    border: 1px solid rgba($success, 0.5);
  }
}
