.action-sidebar.changeset {
    .changesets-list {
        .tag-value {
            @extend .fst-italic;

            > p {
                margin-bottom: 0;
            }
        }
    }

    .open-indicator {
        color: color-contrast($success);
        background: rgba($success, 0.3);
        border: 1px solid rgba($success, 0.5);
        font-weight: 500;
        cursor: help;
    }
}
