.action-sidebar.changeset {
    .changesets-list {
        .tag-value {
            @extend .fst-italic;

            > p {
                margin-bottom: 0;
            }
        }
    }

    .open-indicator {
        color: $success;
        background: rgba($success, 0.1);
        border: 1px solid rgba($success, 0.3);
        font-weight: 500;
        cursor: help;
    }

    .elements {
        td {
            padding: 0;
        }

        tr {
            // Style the elements icons
            td:first-child {
                width: 2em;
                line-height: 1;

                img {
                    display: inline-block;
                    width: 2em;
                    height: 1.5em;
                    padding: 0.1em 0;
                    object-fit: contain;
                }
            }

            // Style the elements links
            td:last-child {
                padding-left: 0.5rem;
            }
        }

        // Style the deleted elements
        .deleted {
            text-decoration: line-through;

            img {
                filter: grayscale(0.5) opacity(0.4);
            }
        }

        .pagination {
            text-align: center;

            .page-link {
                min-width: calc(2ch + 16px + 2px);
            }
        }
    }
}
