<div class="action-sidebar changeset dynamic-content d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-3">
                <div class="col">
                    <h2 class="sidebar-title">
                        {{ t('browse.in_changeset') }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="text-center mt-4">
                <div class="spinner-border text-body-secondary" role="status">
                    <span class="visually-hidden">{{ t('browse.start_rjs.loading') }}</span>
                </div>
            </div>

        </div>
    </div>
</div>
