<div class="action-sidebar distance d-none" data-sidebar-overlay="1">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1">
                <div class="col">
                    <div class="mb-2">
                        <i class="bi bi-signpost-2 me-1-5"></i>
                        <span>{{ t('javascripts.directions.distance') }}</span>:
                        <span class="total-distance fw-semibold"></span>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary clear-btn d-none">
                            {{ t('action.clear_markers') }}
                        </button>
                        <button class="btn btn-sm btn-outline-secondary unit-toggle-btn ms-2">
                        </button>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

        </div>
    </div>
</div>
