@use "sass:color";

.action-sidebar.element,
.action-sidebar.element-history {
    .sidebar-title-icon {
        @extend .border;
        @extend .rounded-2;
        position: relative;
        top: -0.1em;
        width: 1em;
        height: 1em;
        object-fit: contain;
        padding: 0.125em;
    }

    .version-badge {
        @extend .text-muted;
        @extend .bg-body-secondary;

        &.is-latest {
            @extend .text-bg-green;
        }
    }

    .tags {
        tr[data-status="added"] > td {
            background: color.mix($green, $body-bg, 20%);
        }

        tr[data-status="modified"] > td {
            background: color.mix($orange, $body-bg, 20%);
        }

        tr[data-status="modified"] > td:nth-child(2) {
            padding-top: 0;
            padding-bottom: 0;

            > div {
                display: flex;
            }

            .tag-values,
            .tag-previous {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                flex-grow: 1;
            }

            .tag-previous {
                padding-left: 0.55em;
                border-left: 1px solid $table-border-color;

                .tag-value {
                    color: $red-600;
                    text-decoration: line-through;
                    text-decoration-color: rgba($red-600, 0.55);
                }
            }
        }

        tr[data-status="deleted"] > td {
            background: color.mix($red, $body-bg, 20%);

            .tag-value {
                color: $red-600;
                text-decoration: line-through;
                text-decoration-color: rgba($red-600, 0.55);
            }
        }
    }
}

@include color-mode(dark) {
    .action-sidebar.element-history {
        .tags {
            tr[data-status="added"] > td {
                background: color.mix($green, $body-bg-dark, 20%);
            }

            tr[data-status="modified"] > td {
                background: color.mix($orange, $body-bg-dark, 20%);
            }

            tr[data-status="modified"] > td:nth-child(2) {
                .tag-previous {
                    .tag-value {
                        color: $red-400;
                        text-decoration-color: rgba($red-400, 0.55);
                    }
                }
            }

            tr[data-status="deleted"] > td {
                background: color.mix($red, $body-bg-dark, 20%);

                .tag-value {
                    color: $red-400;
                    text-decoration-color: rgba($red-400, 0.55);
                }
            }
        }
    }
}

.action-sidebar.element {
    .version-badge {
        position: relative;
        top: -0.2em;
        padding: 0.2em 0.3em;
        cursor: help;
        font-size: 0.5em;
    }
}

.action-sidebar.element-history {
    a:not(.stretched-link),
    button:not(.stretched-link),
    time,
    details,
    .location-container {
        position: relative;
        z-index: 10;
    }

    .version-badge {
        font-size: initial;
    }

    .version-section:hover {
        background: var(--bs-highlight-bg);
    }
}

.elements-list {
    @extend .rounded-2;
    border: 1px solid $table-border-color;
    overflow: hidden;
}

.elements-list > table {
    @extend .table;
    @extend .table-sm;
    @extend .table-borderless;
    @extend .table-striped;
    @extend .mb-0;

    tr.deleted {
        td:first-child img {
            filter: grayscale(0.5) opacity(0.4);
        }

        .element-row-title {
            text-decoration: line-through;
        }
    }

    td:first-child {
        @extend .p-0;

        width: 2em;
        line-height: 1;

        img {
            padding: 3px 0;
            width: 2em;
            height: 1.5em;
            object-fit: contain;
        }
    }

    .element-row-title {
        margin-bottom: 0.375rem;
        line-height: 1;

        a {
            @extend .text-decoration-none;
            @extend .fw-medium;
            @extend .text-break;

            font-size: 0.875em;
        }
    }

    .element-row-meta {
        @extend .text-muted;

        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        align-items: center;
        font-size: 0.8em;
        line-height: 1;
    }
}
