<div class="action-sidebar export d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-3">
                <div class="col">
                    <h2 class="sidebar-title">
                        {{ t('map.data_export.title') | title }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="export-box p-1 mb-2">
                <div class="d-flex justify-content-center mb-2">
                    <input type="text" class="form-control" name="max_lat" title="{{ t('map.export.max_lat') }}"
                        autocomplete="off" disabled>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <input type="text" class="form-control" name="min_lon" title="{{ t('map.export.min_lon') }}"
                        autocomplete="off" disabled>
                    <i class="bi bi-compass-fill"></i>
                    <input type="text" class="form-control" name="max_lon" title="{{ t('map.export.max_lon') }}"
                        autocomplete="off" disabled>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" name="min_lat" title="{{ t('map.export.min_lat') }}"
                        autocomplete="off" disabled>
                </div>
            </div>

            <div class="form-check ms-1 mb-3">
                <label class="form-check-label">
                    <input class="form-check-input custom-region-check" type="checkbox" autocomplete="off">
                    {{ t('site.export.manually_select') }}
                </label>
            </div>

            <div class="mb-3">
                <div class="export-available-container">
                    <a class="btn btn-primary w-100 export-link" href="{{ API_URL }}/api/0.6/map" target="_blank">
                        {{ t('site.export.export_button') }}
                    </a>
                </div>
                <div class="export-unavailable-container alert alert-warning" role="alert">
                    {{ t('site.export.too_large.body') }}
                </div>
            </div>

            <p>
                {{ t('site.export.too_large.advice') }}
            </p>
            <ul class="mb-2">
                <li>
                    <h6 class="mb-1">
                        <img class="source-icon" src="/static/img/brand/overpass.webp" alt="{{ t('alt.logo') }}"
                            loading="lazy">
                        <a class="export-overpass-link" href="https://overpass-api.de/api/map" target="_blank">
                            {{ t('site.export.too_large.overpass.title') }}
                        </a>
                    </h6>
                    <p>
                        {{ t('site.export.too_large.overpass.description') }}
                    </p>
                </li>

                <li>
                    <h6 class="mb-1">
                        <img class="source-icon" src="/static/img/favicon/256.webp" alt="{{ t('alt.logo') }}"
                            loading="lazy">
                        <a href="https://planet.openstreetmap.org">
                            {{ t('site.export.too_large.planet.title') }}
                        </a>
                    </h6>
                    <p>
                        {{ t('site.export.too_large.planet.description') }}
                    </p>
                </li>

                <li>
                    <h6 class="mb-1">
                        <img class="source-icon" src="/static/img/brand/geofabrik.webp" alt="{{ t('alt.logo') }}"
                            loading="lazy">
                        <a href="https://download.geofabrik.de">
                            {{ t('site.export.too_large.geofabrik.title') }}
                        </a>
                    </h6>
                    <p>
                        {{ t('site.export.too_large.geofabrik.description') }}
                    </p>
                </li>

                <li>
                    <h6 class="mb-1">
                        <a href="https://wiki.openstreetmap.org/wiki/Downloading_data">
                            {{ t('site.export.too_large.other.title') }}
                        </a>
                    </h6>
                    <p class="mb-0">
                        {{ t('site.export.too_large.other.description') }}
                    </p>
                </li>
            </ul>

        </div>
        <div class="section">

            <h4>{{ t('site.export.licence') }}</h4>
            <p class="mb-2">
                {% set odbl_link %}
                <a href="https://opendatacommons.org/licenses/odbl/1-0/" target="_blank">{{ t('site.export.odbl') }}</a>
                {% endset %}
                {{ t('site.export.licence_details_html', odbl_link=odbl_link) | safe }}
            </p>
            <p class="small text-end me-1 mb-2">
                <a href="/copyright" rel="license">
                    {{ t('layouts.learn_more') | capitalize -}}
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </p>

        </div>
    </div>
</div>
