{% extends '_base' %}
{% block head %}

  {% set description = t('layouts.intro_text') %}
  <meta
    name="description"
    content="{{ description }}"
  />
  <meta
    property="og:description"
    content="{{ description }}"
  />
{% endblock %}
{% block body_class %}map-body{% endblock %}
{% block body %}
  <div
    id="IndexApp"
    class="main-map-container"
  ></div>
{% endblock %}
