{% extends '_base' %}
{% block head %}

{% set description = t('layouts.intro_text') %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

{% endblock %}
{% block body_class %}map-body{% endblock %}
{% block body %}

<div class="main-map-container">
    <div class="sidebar sidebar-overlay">
        {% include 'index/search-form' %}

        {% include 'index/banner' %}
        {% include 'index/changeset' %}
        {% include 'index/changesets-history' %}
        {% include 'index/distance' %}
        {% include 'index/element' %}
        {% include 'index/element-deep-history' %}
        {% include 'index/element-history' %}
        {% include 'index/export' %}
        {% include 'index/new-note' %}
        {% include 'index/note' %}
        {% include 'index/query-features' %}
        {% include 'index/routing' %}
        {% include 'index/search' %}
    </div>

    <div class="main-map">
        <div class="map-alert-container">
            {% include 'index/alert/data-layer' %}
            {% include 'index/alert/search' %}
        </div>
    </div>

    <div class="sidebar">
        {% include 'index/sidebar/layers' %}
        {% include 'index/sidebar/legend' %}
        {% include 'index/sidebar/share' %}
    </div>
</div>

{% include 'index/context-menu' %}

{% endblock %}
