.action-sidebar.note {
    .status-badge {
        position: relative;
        top: -0.3em;
        padding: 0.3em 0.45em;
        font-size: 0.5em;
    }

    .section.small {
        .btn-sm {
            position: relative;
            top: -1px;
        }
    }
}
