.action-sidebar.note {
    .status-badge {
        @extend .text-muted;
        @extend .bg-body-secondary;
        position: relative;
        top: -0.3em;
        padding: 0.3em 0.45em;
        font-size: 0.5em;

        &[data-status="closed"] {
            @extend .text-bg-green;
        }
    }

    .section.small {
        .btn-sm {
            position: relative;
            top: -1px;
        }
    }
}
