// The sprite usage is deprecated.
// New icons should be kept separate for ease of maintenance.
// TODO: Split the sprite into separate files.
@mixin legacy-routing-icon($x, $y) {
  width: 20px;
  height: 20px;
  background: url("/app/static/img/routing/sprite.webp") $x $y;
}

// TODO: hover action
// TODO: limit navigation updates per sec
.action-sidebar.routing {
  .draggable-marker {
    height: 3.5em;
    padding: 0.6em 0.45em;
    cursor: move;
  }

  .attribution {
    text-align: center;
  }
}

.route-info {
  text-align: center;
}

.route-elevation-info {
  @extend .text-muted;

  font-size: 0.875em;
}

.route-steps {
  .hover {
    background: var(--bs-highlight-bg);
  }

  .number {
    font-weight: bold;
  }

  .instruction {
    overflow-wrap: anywhere;
  }

  // Style the distance text for each turn
  .distance {
    @extend .text-muted;

    font-size: 0.75em;
    white-space: nowrap;
  }

  @for $i from 0 through 25 {
    .icon-#{$i} {
      @include legacy-routing-icon($i * -20px, 0);
    }
  }
}
