// Style the search form
.SearchForm {
  @extend .bg-body-secondary;

  padding: 0.375rem;

  // Overlay the where-is-this button on the input
  .where-is-this {
    position: absolute;
    inset: 0 2.5rem 0 auto;
    z-index: 10;
    font-size: 0.875em;
    opacity: 0.7;
    transition: opacity 0.08s ease-out;

    &:hover {
      @extend .text-body-emphasis;

      text-decoration: unset;
      opacity: 1;
    }
  }

  .btn {
    padding: 0.5rem 0.375rem;
    line-height: 1;
  }
}
