// Style the search form
#SearchForm {
    @extend .bg-body-secondary;
    padding: 0.375rem;

    // Overlay the where-is-this button on the input
    .where-is-this {
        position: absolute;
        inset: 0 2.5rem 0 auto;
        font-size: 0.875em;
        opacity: 0.7;
        z-index: 10;
        transition: opacity 0.08s ease-out;

        &:hover {
            @extend .text-body-emphasis;
            opacity: 1;
            text-decoration: unset;
        }
    }

    .btn {
        padding: 0.5rem 0.375rem;
        line-height: 1;
    }
}
