.element-section {
  // Make space for icons
  .node::before,
  .way::before,
  .relation::before {
    display: inline-block;
    width: 25px;
    margin-left: -25px;
  }

  .node,
  .way,
  .relation {
    margin-left: 25px;
  }

  // Deleted objects
  .deleted {
    text-decoration: line-through;
  }
}
