.users-body {
    .filters-form {
        select[multiple] {
            height: 2.5rem;
            overflow-y: auto;
        }
    }

    .users-table {
        .avatar {
            width: 2rem;
            height: 2rem;
            vertical-align: middle;
            margin-right: 0.5rem;
        }

        .roles {
            .bi-star-fill {
                font-size: 0.875rem;
            }
        }

        .badge {
            font-size: 0.75rem;
        }
    }
}
