<div class="rich-text-container row flex-column-reverse flex-md-row">
    <div class="col-md-8">
        <div class="edit-preview-container">
            <textarea class="rich-text-source form-control" name="{{ rich_text_name }}" rows="20"
                      maxlength="{{ rich_text_maxlength }}"
                      {% if rich_text_required %}required{% endif %}>{{ rich_text_value }}</textarea>
            <div class="rich-text rich-text-preview d-none"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="sticky-top pt-md-2">
            <div class="btn-group mb-4 d-none d-md-inline-flex" role="group">
                <button class="edit-btn btn btn-primary" type="button" disabled>
                    {{ t('layouts.edit') }}
                </button>
                <button class="preview-btn btn btn-primary" type="button">
                    {{ t('shared.richtext_field.preview') }}
                </button>
            </div>
            <div class="btn-group mb-2 d-flex d-sm-inline-flex d-md-none" role="group">
                <button class="edit-btn btn btn-primary px-sm-3" type="button" disabled>
                    {{ t('layouts.edit') }}
                </button>
                <button class="preview-btn btn btn-primary px-sm-3" type="button">
                    {{ t('shared.richtext_field.preview') }}
                </button>
                <button class="help-btn btn btn-light border px-sm-3" type="button">
                    {{ t('rich_text.formatting_tips') }}
                </button>
            </div>
            <div class="rich-text-tips p-2 p-md-0 d-none d-md-block">
                <h5>
                    <img class="markdown-logo me-2" src="/static/img/brand/markdown.webp" alt="Markdown"
                         title="Markdown">{{ t('rich_text.formatting_tips') }}
                </h5>
                <dl>
                    <dt>{{ t('shared.markdown_help.headings') }}</dt>
                    <dd>
                        # {{ t('shared.markdown_help.heading') }}<br>
                        ## {{ t('shared.markdown_help.subheading') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ t('shared.markdown_help.link') }}</dt>
                    <dd>
                        [{{ t('shared.markdown_help.text') }}]({{ t('shared.markdown_help.url') }})
                    </dd>
                </dl>
                <dl>
                    <dt>{{ t('shared.markdown_help.image') }}</dt>
                    <dd>
                        ![{{ t('shared.markdown_help.alt') }}]({{ t('shared.markdown_help.url') }})
                    </dd>
                </dl>
                <dl>
                    <dt>{{ t('shared.markdown_help.unordered') }}</dt>
                    <dd>
                        * {{ t('shared.markdown_help.first') }}<br>
                        * {{ t('shared.markdown_help.second') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ t('shared.markdown_help.ordered') }}</dt>
                    <dd>
                        1. {{ t('shared.markdown_help.first') }}<br>
                        2. {{ t('shared.markdown_help.second') }}
                    </dd>
                </dl>
                <p class="small text-end mb-1">
                    <a href="https://commonmark.org/help/" target="_blank" rel="help">
                        {{ t('rich_text.detailed_formatting_guide') -}}
                        <i class="bi bi-box-arrow-up-right ms-2"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
