// The sprite usage is deprecated.
// New icons should be kept separate for ease of maintenance.
// TODO: Split the sprite into separate files.
@mixin legacy-welcome-icon($x, $y) {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("/static/img/welcome/sprite.webp");
    background-position: $x $y;
}

.welcome-icon.check {
    @include legacy-welcome-icon(0, 0);
}

.welcome-icon.x {
    @include legacy-welcome-icon(-50px, 0);
}

.welcome-icon.node {
    @include legacy-welcome-icon(-100px, 0);
}

.welcome-icon.way {
    @include legacy-welcome-icon(-150px, 0);
}

.welcome-icon.tag {
    @include legacy-welcome-icon(-200px, 0);
}

.welcome-icon.editor {
    @include legacy-welcome-icon(-250px, 0);
}

.welcome-icon.question {
    @include legacy-welcome-icon(-300px, 0);
}

.welcome-icon.rules {
    @include legacy-welcome-icon(-350px, 0);
}

// Add background to the leaflet's note icon
// (it's used as an example in the welcome page)
.leaflet-container {
    .icon.note {
        background: rgba(0, 0, 0, 0.6);
        border-radius: $border-radius-sm;
    }
}
