<div class="social-entry">
    <p class="header text-muted d-flex justify-content-between">
        <span>
            {# User #}
            {% if not changeset.user %}
            {{ t('browse.anonymous') }}
            {% else %}
            <a href="/user/{{ changeset.user.display_name }}">
                <img class="avatar" src="{{ user_avatar_url(changeset.user) }}" alt="{{ t('alt.profile_picture') }}"
                    loading="lazy">
                {{- changeset.user.display_name -}}
            </a>
            {% endif %}

            {# Action #}
            {% if element.visible %}
            {{ t('action.edited') }}
            {% else %}
            {{ t('action.deleted') }}
            {% endif %}

            {# Timestamp #}
            <time datetime="{{ element.created_at.isoformat() }}" data-style="long"></time>
        </span>

        {# Deleted Icon #}
        {% if not element.visible %}
        <span class="badge text-bg-secondary">
            <i class="bi bi-trash-fill"></i>
        </span>
        {% endif %}
    </p>

    <div class="body">
        {# Changeset #}
        <p class="position-relative mb-1">
            {{ t('browse.in_changeset') }}
            #<a href="/changeset/{{ element.changeset_id }}">
                {{- element.changeset_id -}}
            </a>
        </p>
        {# Comment #}
        <div class="fst-italic">{{ comment_html | safe }}</div>
    </div>

</div>

{# Location #}
{% if place %}
<p class="location-container mb-2">
    {{ t('diary_entries.form.location') }}:
    <button class="btn btn-link stretched-link" data-lon="{{ element.point.x }}"
        data-lat="{{ element.point.y }}">{{ place }}</button>
</p>
{% endif %}

{# Tags #}
{% if tags %}
<div class="tags" {% if tags_old %} data-tags-old="{{ tags_old | tojson }}" {% endif %}>
    <table class="table table-sm">
        <tbody dir="auto">
            {%- for key, value in tags | dictsort -%}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
</div>
{% endif %}

{% set table %}
{% if compact %}
<details>
    <table class="table table-borderless mb-2">
        <tbody></tbody>
    </table>
    <nav aria-label="{{ t('alt.elements_page_navigation') }}">
        <ul class="pagination pagination-sm justify-content-end mb-0"></ul>
    </nav>
</details>
{% else %}
<table class="table table-borderless mb-2">
    <tbody></tbody>
</table>
<nav aria-label="{{ t('alt.elements_page_navigation') }}">
    <ul class="pagination pagination-sm justify-content-end mb-0"></ul>
</nav>
{% endif %}
{% endset %}

{# Parents #}
{% if show_parents %}
<div class="parents mt-4 mb-1">
    <h4 class="title"></h4>
    {{ table }}
    <template class="entry">
        <tr>
            <td><img loading="lazy"></td>
            <td></td>
        </tr>
    </template>
</div>
{% endif %}

{# Members #}
{% if show_elements %}
<div class="elements mt-4 mb-1">
    <h4 class="title"></h4>
    {{ table }}
    <template class="entry">
        <tr>
            <td><img loading="lazy"></td>
            <td></td>
        </tr>
    </template>
</div>
{% endif %}
