{% set _type, _id = split_typed_element_id(element.typed_id) %}
<div class="sidebar-content" data-params="{{ params }}">
    <div class="section">
        <div class="row g-1 mb-1">
            <div class="col">
                <h2>
                    <img class="sidebar-title-icon d-none" data-feature-icon data-tags="{{ tags | tojson }}"
                        data-type="{{ _type }}">
                    <span class="sidebar-title">
                        {% if _type == 'node' %}
                        {{ t('javascripts.query.node') }}:
                        {% elif _type == 'way' %}
                        {{ t('javascripts.query.way') }}:
                        {% elif _type == 'relation' %}
                        {{ t('javascripts.query.relation') }}:
                        {% endif %}

                        {% if name %}
                        <bdi>{{ name }}</bdi> ({{ _id }})
                        {% else %}
                        {{ _id }}
                        {% endif %}
                    </span>
                    <span class="version-badge badge {% if next_version is none %}is-latest{% endif %}"
                        title="{{ t('browse.version') }} {{ element.version }} {% if next_version is none %}({{ t('state.latest') }}){% endif %}">
                        v{{ element.version }}
                    </span>
                </h2>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>
        {% include 'partial/_element-content' %}
    </div>
    <div class="section text-center">
        {% if prev_version is not none or next_version is not none %}
        <div class="mb-2">
            {% if prev_version is not none %}
            <a href="/{{ _type }}/{{ _id }}/history/{{ prev_version }}" rel="prev">
                «
                v{{ prev_version }}
            </a>
            ·
            {% endif %}
            <a href="/{{ _type }}/{{ _id }}/history">
                {{ t('browse.view_history') }}
            </a>
            {% if next_version is not none %}
            ·
            <a href="/{{ _type }}/{{ _id }}/history/{{ next_version }}" rel="next">
                v{{ next_version }}
                »
            </a>
            {% endif %}
        </div>
        {% endif %}

        {% if element.visible %}
        <small>
            <a href="{{ API_URL }}/api/0.6/{{ _type }}/{{ _id }}/{{ element.version }}">
                {{ t('browse.download_xml') }}
            </a>
        </small>
        {% endif %}
    </div>
</div>
