<div>
    {% for data in elements_data %}
    {% set element = data.element %}
    {% set place = data.place %}
    {% set changeset = data.changeset %}
    {% set prev_version = data.prev_version %}
    {% set next_version = data.next_version %}
    {% set icon = data.icon %}
    {% set name = data.name %}
    {% set tags_map = data.tags_map %}
    {% set comment_tag = data.comment_tag %}
    {% set show_elements = data.show_elements %}
    {% set show_parents = data.show_parents %}
    {% set compact = True %}
    <div class="version-section section position-relative" data-params="{{ data.params }}">
        <a class="stretched-link" href="/{{ type }}/{{ id }}/history/{{ element.version }}"></a>
        <h3 class="version-badge badge mb-3 {% if next_version is none %}is-latest{% endif %}">
            {{ t('browse.version') }} {{ element.version }}
        </h3>
        {% include 'partial/_element-content' %}
    </div>
    {% endfor %}

</div>
