<ul class="search-list social-list list-unstyled mb-0" data-params="{{ params }}">
    {% for result in results %}
    {% set element = result.element %}
    {% set _type, _id = split_typed_element_id(element.typed_id) %}
    <li class="social-entry clickable">
        <p class="header text-muted d-flex justify-content-between">
            <span>
                <img class="icon d-none" data-feature-icon data-tags="{{ element.tags | tojson }}"
                    data-type="{{ _type }}">
                {{ result.prefix }}
            </span>
            <a class="stretched-link" href="/{{ _type }}/{{ _id }}">
                {{ _type }}/{{ _id }}
            </a>
        </p>
        <p class="body">
            {% if result.display_name %}
            {{ result.display_name }}
            {% else %}
            {% if _type == 'node' %}
            {{ t('javascripts.query.node') }}
            {% elif _type == 'way' %}
            {{ t('javascripts.query.way') }}
            {% elif _type == 'relation' %}
            {{ t('javascripts.query.relation') }}
            {% endif %}
            {{ _id }}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% if not results %}
<p>{{ t('javascripts.query.nothing_found') }}</p>
{% endif %}
