<div class="modal fade" id="disableAuthMethodModal" tabindex="-1" aria-labelledby="disableAuthMethodModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableAuthMethodModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ t('javascripts.close') }}"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <label class="form-label d-block">
                        <span class="required">{{ t('settings.enter_your_password_to_confirm') }}</span>
                        <input type="password" class="form-control mt-2" data-name="password"
                            autocomplete="current-password" required>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">{{ t('action.cancel') }}</button>
                    <button type="submit" class="btn btn-danger">{{ t('action.disable') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
