<div class="modal-body">
    <div class="alert alert-warning d-flex align-items-center mb-3" role="alert">
        <i class="bi bi-exclamation-triangle-fill fs-4 me-3 flex-shrink-0"></i>
        <div>{{ t('two_fa.save_recovery_codes_warning') }}</div>
    </div>

    <div class="recovery-codes-container" id="recovery-codes-list">
        <div class="row row-cols-1 row-cols-sm-2 g-0">
            {% for code in codes %}
            <div class="col">{{ code }} </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        {{ t('javascripts.close') }}
    </button>
    <button class="btn btn-primary copy-group px-4" type="button" data-copy-target="#recovery-codes-list">
        <i class="bi bi-copy me-2"></i>{{ t('action.copy') }}
    </button>
</div>
