.settings_connections\.Page,
.admin_users\.EditPage,
.admin-user-edit-body {
  .auth-provider-icon {
    @extend .rounded-2;
    @extend .p-2;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    background: var(--bs-secondary-bg);
  }

  .auth-provider-icon-img {
    object-fit: contain;
  }

  .auth-provider-icon-bi {
    font-size: 1.75rem;
    line-height: 1;
    color: var(--auth-provider-icon-color);
  }

  .auth-provider-icon-backed {
    &::before {
      background: $white;
      clip-path: circle(calc(50% - 1px));
    }
  }

  .table {
    .bi-link-45deg {
      font-size: 1.25em;
      line-height: 1;
    }
  }
}

.settings_connections\.Page {
  .table {
    tr:last-child {
      td {
        border-bottom: unset;
      }
    }
  }
}

@include color-mode(dark) {
  .settings_connections\.Page,
  .admin_users\.EditPage,
  .admin-user-edit-body {
    .auth-provider-icon-bi {
      color: var(--auth-provider-icon-dark-color);
    }
  }
}
