@use "bootstrap/scss/functions";

.settings-security-body {
    .table {
        tr:last-child {
            td {
                border-bottom: unset;
            }
        }

        td:first-child {
            @extend .fs-3;
            @extend .text-body-secondary;
            @extend .text-center;

            width: 1%;
        }
    }

    .table > :not(caption) > * > * {
        padding: 1rem 0.5rem;
    }

    .qr-code-container > svg {
        @extend .rounded;
    }

    .active-sessions li {
        padding: 0.875rem 0;

        &:not(:last-child) {
            @extend .border-bottom;
        }
    }

    .session-id {
        font-family: monospace;
    }

    .current-session {
        @extend .rounded-circle;
        position: relative;
        top: -1px;
        display: inline-block;
        width: 0.625em;
        height: 0.625em;
        background: radial-gradient(
            circle,
            functions.tint-color($vibrant-green, 35%) 0%,
            $vibrant-green 70%
        );
        animation: pulse-shadow 3s infinite;
        cursor: help;

        @keyframes pulse-shadow {
            0% {
                box-shadow: 0 0 0 0 rgba($vibrant-green, 0.45);
            }
            100% {
                box-shadow: 0 0 0 0.35em transparent;
            }
        }
    }

    .recovery-codes-container {
        @extend .font-monospace;
        @extend .fs-5;
        @extend .fw-semibold;
        @extend .text-center;
        @extend .border;
        @extend .rounded-2;

        letter-spacing: 0.05em;

        .col {
            @extend .py-3;
            border-bottom: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;
        }
        .col:nth-last-child(-n + 2) {
            border-bottom: 0;
        }
        .col:nth-child(even) {
            border-right: 0;
        }
    }
}

@include color-mode(light) {
    .settings-security-body {
        .qr-code-container > svg {
            @extend .border;
        }
    }
}
