<article id="diary{{ diary.id }}">
    <div class="row">
        {% if not entry_hide_avatar %}
        <div class="col-auto">
            <a class="d-block" href="/user/{{ diary.user.display_name }}" rel="author">
                <img class="avatar" src="{{ diary.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
            </a>
        </div>
        {% endif %}
        <div class="col align-content-center">
            <h3><a href="/diary/{{ diary.id }}">{{ diary.title }}</a></h3>
            <p class="small mb-2">
                {% set link_user -%}
                <a href="/user/{{ diary.user.display_name }}" rel="author">{{ diary.user.display_name }}</a>
                {%- endset %}
                {% set created -%}
                <time datetime="{{ diary.created_at.isoformat() }}" data-date="long" data-time="short"></time>
                {%- endset %}
                {% set language_link -%}
                <a href="/diary/{{ diary.language }}">{{ LOCALES_NAMES_MAP[diary.language].display_name }}</a>
                {%- endset %}
                {{ t('diary_entries.diary_entry.posted_by_html',
                    link_user=link_user,
                    created=created,
                    language_link=language_link,
                ) | safe }}
            </p>
            {% if diary.updated_at > diary.created_at %}
            <p class="small text-muted fst-italic mb-3">
                {% set updated -%}
                <time datetime="{{ diary.updated_at.isoformat() }}" data-date="long" data-time="short"></time>
                {%- endset %}
                {{ t('diary_entries.diary_entry.updated_at_html', updated=updated) | safe }}
            </p>
            {% endif %}
            <div class="rich-text mx-1 mt-3">{{ diary.body_rich | safe }}</div>
            {% if diary.point is not none %}
            <p class="diary-location fw-medium mb-3">
                <i class="bi bi-compass"></i>{{ t('diary_entries.form.location') }}:
                {% set _lon = diary.point.x %}
                {% set _lat = diary.point.y %}
                {% set _title = _lat ~ ', ' ~ _lon %}
                <a href="/?mlat={{ _lat }}&mlon={{ _lon }}&zoom=14" target="_blank">
                    {% if diary.location_name %}
                    <abbr title="{{ _title }}">{{ diary.location_name }}</abbr>
                    {% else %}
                    {{ _title }}
                    {% endif %}
                </a>
            </p>
            {% endif %}
            <div class="list-group list-group-horizontal justify-content-end">
                <a class="list-group-item list-group-item-action d-flex align-items-center"
                    href="/diary/{{ diary.id }}#comments">
                    {{ t('diary.comments') }}
                    <span
                        class="badge ms-1-5 {% if diary.num_comments %}text-bg-green{% else %}text-bg-light{% endif %}">
                        {{ diary.num_comments }}
                    </span>
                </a>
                {% if user is not none %}
                {% if diary.user_id != user.id %}
                <a class="list-group-item list-group-item-action" href="/message/new?reply_diary={{ diary.id }}">
                    {{- t('diary.send_author_a_message') -}}
                </a>
                <a class="list-group-item list-group-item-action" href="#TODO">
                    {{- t('action.report_abuse') -}}
                </a>
                {% else %}
                <a class="list-group-item list-group-item-action" href="/diary/{{ diary.id }}/edit">
                    {{- t('diary_entries.diary_entry.edit_link') -}}
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</article>
