{% for comment in comments %}
<li id="comment{{ comment.id }}" class="social-entry">
    <p class="header text-muted">
        <a href="/user/{{ comment.user.display_name }}">
            <img class="avatar" src="{{ comment.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}" loading="lazy">
            {{- comment.user.display_name -}}
        </a>
        {{ t('action.commented') }}
        <time datetime="{{ comment.created_at.isoformat() }}" data-style="long"></time>
    </p>
    <div class="rich-text body">{{ comment.body_rich | safe }}</div>
</li>
{% endfor %}
