{% extends '_base.jinja2' %}
{% block title_prefix %}
    {{ t('diary_entries.index.user_title', user=profile.display_name) }} | {{ diary.title | truncate(80) }} |
{% endblock %}
{% block body_class %}diary-details-body{% endblock %}
{% block body %}

<div class="content-header pb-0">
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
        <div class="row mb-3">
            <div class="col-auto">
                <img class="avatar" src="{{ profile.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
            </div>
            <div class="col">
                <h2>{{ diary.title }}</h2>
                <p class="small mb-0">
                    {% set link_user -%}
                    <a href="/user/{{ diary.user.display_name }}" rel="author">{{ diary.user.display_name }}</a>
                    {%- endset %}
                    {% set created -%}
                    <time datetime="{{ diary.created_at.isoformat() }}" data-date="long" data-time="short"></time>
                    {%- endset %}
                    {% set language_link -%}
                    <a href="/diary/{{ diary.language }}">{{ LOCALES_NAMES_MAP[diary.language].display_name }}</a>
                    {%- endset %}
                    {{ t('diary_entries.diary_entry.posted_by_html',
                        link_user=link_user,
                        created=created,
                        language_link=language_link
                    ) | safe }}
                </p>
                {% if diary.updated_at > diary.created_at %}
                <p class="small text-muted fst-italic mt-2 mb-0">
                    {% set updated -%}
                    <time datetime="{{ diary.updated_at.isoformat() }}" data-date="long" data-time="short"></time>
                    {%- endset %}
                    {{ t('diary_entries.diary_entry.updated_at_html', updated=updated) | safe }}
                </p>
                {% endif %}
            </div>
        </div>

        {% include 'diaries/_nav.jinja2' %}
    </div>
</div>
<div class="content-body">
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
        <div class="diary-list mb-4">
            {% set entry_hide_avatar = True %}
            {% set entry_hide_header = True %}
            {% include 'diaries/_entry.jinja2' %}
        </div>

        <div class="row g-1 mb-1">
            <div class="col">
                <h4>{{ t('browse.changeset.discussion') }}</h4>
            </div>
            {% if user is not none %}
                {% if is_subscribed %}
                    <form class="col-auto subscription-form" method="POST"
                          action="/api/web/user-subscription/diary/{{ diary.id }}/unsubscribe">
                        <button class="btn btn-sm btn-light border" type="submit">
                            <i class="bi bi-bookmark-check me-1"></i>
                            {{ t('javascripts.changesets.show.unsubscribe') }}
                        </button>
                    </form>
                {% else %}
                    <form class="col-auto subscription-form" method="POST"
                          action="/api/web/user-subscription/diary/{{ diary.id }}/subscribe">
                        <button class="btn btn-sm btn-light border" type="submit">
                            {{ t('javascripts.changesets.show.subscribe') }}
                        </button>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <div id="comments">
            <ul class="social-list-sm list-unstyled mb-2"></ul>
            <nav aria-label="{{ t('alt.comments_page_navigation') }}">
                <ul class="pagination pagination-sm justify-content-end mb-0"
                    data-action="/api/web/diary/{{ diary.id }}/comments?page={page}&num_items={{ diary_comments_num_items }}"
                    data-pages="{{ diary_comments_num_pages }}">
                </ul>
            </nav>
        </div>

        {% if user is not none %}
            <form id="newcomment" class="comment-form" method="POST" action="/api/web/diary/{{ diary.id }}/comment">
                <label class="form-label d-block">
                    {{ t('diary_entries.show.leave_a_comment') }}
                </label>
                <div class="mb-3">
                    {% set rich_text_name = 'body' %}
                    {% set rich_text_maxlength = DIARY_COMMENT_BODY_MAX_LENGTH %}
                    {% set rich_text_required = True %}
                    {% include 'rich_text/_control.jinja2' %}
                </div>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">
                        {{ t('action.comment') }}
                    </button>
                </div>
            </form>
        {% else %}
            <div class="text-center">
                <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                    {{ t('browse.changeset.join_discussion') }}
                </button>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
