{% extends '_base.jinja2' %}
{% block heading %}
{% if active_tab == 0 %}
{{ t('layouts.user_diaries') }}
{% elif active_tab == 1 or active_tab == 2 %}
{{ t('diary_entries.index.in_language_title', language=language_name) }}
{% elif active_tab == 3 %}
{{ t('diary_entries.index.my_diary') }}
{% elif active_tab == 4 %}
{{ t('diary_entries.index.user_title', user=profile.display_name) }}
{% endif %}
{% endblock %}
{% block title_prefix %}{{ self.heading() }} | {% endblock %}
{% block body_class %}diary-index-body{% endblock %}
{% block body %}
{% set _avatar_in_header = profile is not none %}

<div class="content-header pb-0">
    <div class="col-6 offset-3">
        <div class="row mb-3">
            {% if _avatar_in_header %}
            <div class="col-auto align-content-center">
                <img class="avatar" src="{{ profile.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
            </div>
            {% endif %}
            <div class="col align-content-center">
                <h1>{{ self.heading() }}</h1>
                <p class="mb-0">{{ t('diary.browse_recent_diary_entries') }}</p>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/diary" {% if active_tab == 0 %} class="nav-link active" aria-current="page" {% else %}
                    class="nav-link" {% endif %}>
                    {{ t('diary.all_diaries') }}
                </a>
            </li>
            <li class="nav-item">
                <a href="/diary/{{ primary_locale }}" {% if active_tab == 1 %} class="nav-link active"
                    aria-current="page" {% else %} class="nav-link" {% endif %}>
                    {{ t('diary.only_in_language', language=primary_locale_name) }}
                </a>
            </li>
            {% if active_tab == 2 %}
            <li class="nav-item">
                <a href="/diary/{{ language }}" class="nav-link active" aria-current="page">
                    {{ t('diary.only_in_language', language=language_name) }}
                </a>
            </li>
            {% endif %}
            {% if user is not none %}
            <li class="nav-item">
                <a href="/user/{{ user.display_name }}/diary" {% if active_tab == 3 %} class="nav-link active"
                    aria-current="page" {% else %} class="nav-link" {% endif %}>
                    {{ t('diary_entries.index.my_diary') }}
                </a>
            </li>
            {% endif %}
            {% if active_tab == 4 %}
            <li class="nav-item">
                <a href="/user/{{ profile.display_name }}/traces" class="nav-link active" aria-current="page">
                    {{ t('diary_entries.index.user_title', user=profile.display_name) }}
                </a>
            </li>
            {% endif %}
            <li class="nav-item ms-auto">
                {% if user is not none %}
                <a class="btn btn-light border" href="/diary/new">
                    <i class="bi bi-journal-plus me-2"></i>
                    {{- t('diary_entries.new.title') | capitalize }}
                </a>
                {% endif %}
                <a class="btn btn-light border" href="{{ base_url }}/rss" aria-label="{{ t('alt.rss_feed') }}">
                    <i class="bi bi-rss-fill rss-color"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="content-body">
    <div class="col-6 offset-3">
        {% if diaries %}
        {% set entry_hide_avatar = _avatar_in_header %}
        <div class="diaries-list mb-3">
            {% for diary in diaries %}
            {% include 'diaries/_entry.jinja2' %}
            {% endfor %}
        </div>
        {% include 'diaries/_list_nav.jinja2' %}
        {% else %}
        <h3>{{ t('traces.index.empty_title') }}</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
