{% extends '_base.jinja2' %}
{% block heading %}
    {% if active_tab == 0 %}
        {{ t('layouts.user_diaries') }}
    {% elif active_tab == 1 or active_tab == 2 %}
        {{ t('diary_entries.index.in_language_title', language=language_name) }}
    {% elif active_tab == 3 %}
        {{ t('diary_entries.index.my_diary') }}
    {% elif active_tab == 4 %}
        {{ t('diary_entries.index.user_title', user=profile.display_name) }}
    {% endif %}
{% endblock %}
{% block title_prefix %}{{ self.heading() }} | {% endblock %}
{% block body_class %}diary-index-body{% endblock %}
{% block body_attrs %}data-bs-spy="scroll" data-bs-target="#diary-scroll-nav" data-bs-smooth-scroll="true"{% endblock %}
{% block body %}
    {% set _avatar_in_header = profile is not none %}

    <div class="content-header pb-0">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            <div class="row mb-3">
                {% if _avatar_in_header %}
                    <div class="col-auto">
                        <img class="avatar" src="{{ profile.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                    </div>
                {% endif %}
                <div class="col">
                    <h1>{{ self.heading() }}</h1>
                    <p class="mb-0">{{ t('diary.index.description') }}</p>
                </div>
            </div>

            {% include 'diaries/_nav.jinja2' %}
        </div>
    </div>
    <div class="content-body">
        <div class="row g-0">
            <div id="diary-scroll-nav" class="col-lg-3 sticky-top">
                {% if diaries %}
                    <div id="diary-scroll-nav-offcanvas" class="offcanvas-lg offcanvas-start offset-xxl-1"
                         tabindex="-1">
                        <div class="text-end d-lg-none">
                            <button type="button" class="btn-close p-3 d-lg-none" data-bs-dismiss="offcanvas"
                                    data-bs-target="#diary-scroll-nav-offcanvas"
                                    aria-label="{{ t('javascripts.close') }}"></button>
                        </div>
                        {% include 'diaries/_scroll_nav.jinja2' %}
                    </div>
                    <button class="btn btn-primary btn-floating-bottom-left d-lg-none" type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#diary-scroll-nav-offcanvas" aria-controls="diary-scroll-nav-offcanvas">
                        <i class="bi bi-list me-2"></i>{{ t('diary.jump_to') }}
                    </button>
                {% endif %}
            </div>
            <div class="col-lg-9 col-xl-8 col-xxl-6">
                {% if diaries %}
                    {% set entry_hide_avatar = _avatar_in_header %}
                    <div class="diary-list mb-3">
                        {% for diary in diaries %}
                            {% include 'diaries/_entry.jinja2' %}
                        {% endfor %}
                    </div>

                    <nav aria-label="{{ t('alt.page_navigation') }}">
                        <ul class="pagination justify-content-end">
                            <li class="page-item {% if new_after is none %}disabled{% endif %}">
                                <a class="page-link" href="?after={{ new_after }}" rel="next">
                                    <i class="bi bi-chevron-left"></i>
                                    {{ t('diary_entries.index.newer_entries') | capitalize }}
                                </a>
                            </li>
                            <li class="page-item {% if new_before is none %}disabled{% endif %}">
                                <a class="page-link" href="?before={{ new_before }}" rel="prev">
                                    {{ t('diary_entries.index.older_entries') | capitalize }}
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>

                {% else %}
                    <h3>{{ t('traces.index.empty_title') }}</h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
