{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('passwords.edit.title') }} | {% endblock %}
{% block body_class %}reset-password-body{% endblock %}
{% block body %}

    <div class="content-header">
        <h1 class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            {{ t('passwords.edit.title') }}
        </h1>
    </div>
    <div class="content-body">
        <div class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            <p>{{ t('passwords.new.help_text') }}</p>
            <form class="reset-form" method="POST" action="/api/web/user/reset-password">
                <label class="form-label d-block mb-3">
                    {% if user is not none %}
                        <input type="email" class="form-control bg-body-tertiary" name="email"
                               value="{{ user.email }}"
                               readonly>
                    {% else %}
                        <input type="email" class="form-control" name="email"
                               placeholder="{{ t('passwords.new.email address') | capitalize }}" required>
                    {% endif %}
                </label>

                <div class="text-end">
                    <button class="btn btn-primary" type="submit">
                        {{ t('settings.send_password_reset_link') }}
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
