{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('passwords.edit.title') }} | {% endblock %}
{% block body_class %}reset-password-token-body{% endblock %}
{% block body %}

    <div class="content-header">
        <h1 class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            {{ t('passwords.edit.title') }}
        </h1>
    </div>
    <div class="content-body">
        <div class="col-lg-8 offset-lg-2 col-xxl-6 offset-xxl-3">
            <div class="card mb-4">
                <div class="card-body d-flex align-items-center gap-3">
                    <img class="avatar" src="{{ profile.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                         draggable="false">
                    <div class="d-inline-block">
                        <p class="fw-semibold mb-0">{{ profile.display_name }}</p>
                        <p class="text-muted mb-0">{{ t('settings.please_choose_a_new_password_for_your_account') }}</p>
                    </div>
                </div>
            </div>

            <form class="reset-form" method="POST" action="/api/web/user/reset-password/token">
                <div class="before">
                    <input type="text" class="d-none" name="display_name" value="{{ profile.display_name }}"
                           autocomplete="username">

                    <label class="form-label d-block mb-3">
                        <span class="required">{{ t('settings.new_password') }}</span>
                        <input type="password" class="form-control mt-2" data-name="new_password"
                               minlength="{{ PASSWORD_MIN_LENGTH }}"
                               autocomplete="new-password" required>
                    </label>

                    <label class="form-label d-block mb-3">
                        <span class="required">{{ t('settings.new_password_repeat') }}</span>
                        <input type="password" class="form-control mt-2" data-name="new_password_confirm"
                               minlength="{{ PASSWORD_MIN_LENGTH }}" autocomplete="new-password" required>
                    </label>

                    <div class="text-end">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="btn btn-primary" type="submit">
                            {{ t('settings.change_password') }}
                        </button>
                    </div>
                </div>
                <div class="after d-none">
                    <div class="text-end">
                        <a class="btn btn-primary" href="/settings">{{ t('action.continue') }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
