{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('accounts.edit.my settings') }} | {% endblock %}
{% block body_class %}settings-body{% endblock %}
{% block body %}

<div class="content-header">
    <h1 class="container">
        {{ t('accounts.edit.my settings') }}
    </h1>
</div>
<div class="content-body">
    <div class="container">
        <div class="row">

            <div class="col-auto">
                menu menu menu menu
            </div>

            <form class="col settings-form" method="POST" action="/api/web/user/settings">

                <label class="form-label d-block mb-3">
                    {{ t('activerecord.attributes.user.display_name') }}
                    <input type="text" class="form-control mt-2" name="display_name" value="{{ user.display_name }}"
                        required>
                </label>

                <label class="form-label d-block">
                    {{ t('passwords.new.email address') }}
                    <div class="input-group mt-2">
                        <input type="email" class="form-control" value="{{ user.email }}" readonly>
                        <a class="btn btn-light border" href="/settings/email">
                            {{ t('user.settings.change_email') }}
                        </a>
                    </div>
                </label>
                <p class="form-text">
                    {% set privacy_policy_link %}
                    <a href="https://osmfoundation.org/wiki/Privacy_Policy" rel="privacy-policy">
                        {{ t('users.new.privacy_policy') }}
                    </a>
                    {% endset %}
                    {{ t('users.new.email_confirmation_help_html', privacy_policy_link=privacy_policy_link) | safe }}
                </p>

                <label class="form-label d-block mb-3">
                    {{ t('user.settings.password_last_changed') }}
                    <div class="input-group mt-2">
                        <input type="text" class="form-control fst-italic"
                            value="{{ user.password_changed_at | timeago }}" readonly>
                        <a class="btn btn-light border" href="/settings/passowrd">
                            {{ t('user.settings.change_password') }}
                        </a>
                    </div>
                </label>

                <label class="form-label">
                    {{ t('preferences.show.preferred_editor') }}
                </label>
                <select class="form-select format-select mb-3" name="editor" required>
                    {% set editor = user.editor.value %}
                    <option value="" {% if not editor %}selected{% endif %}>
                        {{ t('editor.default', name=t('editor.id.name')) }}
                    </option>
                    <option value="id" {% if editor == "id" %}selected{% endif %}>
                        {{ t('editor.id.description') }}
                    </option>
                    <option value="rapid" {% if editor == "rapid" %}selected{% endif %}>
                        {{ t('editor.rapid.name') }}
                    </option>
                    <option value="remote" {% if editor == "remote" %}selected{% endif %}>
                        {{ t('editor.remote.description') }}
                    </option>
                </select>

                <label class="form-label">
                    {{ t('user.settings.preferred_language') | title }}
                </label>
                <select class="form-select format-select mb-3" name="editor" required>
                    {# TODO #}
                    <option>English</option>
                </select>

                <div class="text-end">
                    <button class="btn btn-primary px-3" type="submit">
                        {{ t('accounts.edit.save changes button') }}
                    </button>
                </div>

            </form>

            <div class="col-auto">
                <form class="avatar-form" method="POST" action="/api/web/user/settings/avatar"
                    enctype="multipart/form-data">
                    <input type="hidden" name="avatar_type">
                    <input class="visually-hidden" type="file" accept="image/*" name="avatar_file">

                    <label class="form-label d-block">
                        {{ t('user.profile_picture') }}
                    </label>

                    <img class="avatar" src="{{ user.avatar_url }}">

                    <div class="dropdown">
                        <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-pencil"></i>
                            {{ t('layouts.edit') }}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item upload-avatar" type="button">
                                    {{ t('user.settings.upload_photo') }}...
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item use-gravatar" type="button">
                                    {{ t('profiles.edit.gravatar.gravatar') }}
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item remove-avatar" type="button">
                                    {{ t('user.settings.remove_photo') }}
                                </button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://wiki.openstreetmap.org/wiki/Gravatar"
                                    target="_blank">
                                    {{ t('profiles.edit.gravatar.what_is_gravatar') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}
