{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('layouts.sign_up') }} | {% endblock %}
{% block body_class %}signup-body{% endblock %}
{% block body %}

<div class="content-header">
    <div class="col-6 offset-3">
        <h1>
            <span>{{ t('layouts.sign_up') }}</span>
            <div class="illustration-wrapper">
                <img class="illustration main-illustration" src="/static/img/signup/illustration.webp"
                    alt="{{ t('alt.happy_globe_mascot') }}">
                <img class="illustration arm-illustration" src="/static/img/signup/arm-illustration.webp"
                    alt="{{ t('alt.arm_pointing_down') }}">
            </div>
        </h1>
    </div>
</div>
<div class="content-body">
    <div class="col-6 offset-3">
        <div class="row row-cols-2">
            <form class="col signup-form" method="POST" action="/api/web/user/signup">
                <input type="hidden" name="tracking" autocomplete="off" required>

                <label class="form-label d-block">
                    {{ t('activerecord.attributes.user.display_name') | capitalize }}
                    <input type="text" class="form-control mt-2" name="display_name"
                        data-blacklist="{{ URLSAFE_BLACKLIST }}" autocomplete="username" required>
                </label>
                <p class="form-text">
                    {{ t('users.new.display name description') }}
                </p>

                <label class="form-label d-block">
                    {{ t('passwords.new.email address') | capitalize }}
                    <input type="email" class="form-control mt-2" name="email" minlength="{{ EMAIL_MIN_LENGTH }}"
                        maxlength="{{ EMAIL_MAX_LENGTH }}" autocomplete="email" required>
                </label>
                <p class="form-text">
                    {% set privacy_policy_link %}
                    <a href="https://osmfoundation.org/wiki/Privacy_Policy" rel="privacy-policy">
                        {{ t('users.new.privacy_policy') }}
                    </a>
                    {% endset %}
                    {{ t('users.new.email_confirmation_help_html', privacy_policy_link=privacy_policy_link) | safe }}
                </p>

                <label class="form-label d-block mb-3">
                    {{ t('sessions.new.password') | capitalize }}
                    <input type="password" class="form-control mt-2" data-name="password"
                        minlength="{{ PASSWORD_MIN_LENGTH }}" autocomplete="new-password" required>
                </label>

                <label class="form-label d-block mb-3">
                    {{ t('activerecord.attributes.user.pass_crypt_confirmation') | capitalize }}
                    <input type="password" class="form-control mt-2" data-name="password_confirm"
                        minlength="{{ PASSWORD_MIN_LENGTH }}" autocomplete="new-password" required>
                </label>

                <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-link btn-sm">
                        {{ t('users.new.use external auth') }}
                    </button>
                    <button class="btn btn-primary px-4" type="submit">
                        {{ t('layouts.sign_up') }}
                    </button>
                </div>

            </form>

            <div class="col text-secondary">
                <h3 class="mb-3">{{ t('users.new.about.header') }}</h3>
                <p>{{ t('users.new.about.paragraph_1') }}</p>
                <p>{{ t('users.new.about.paragraph_2') }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
