{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('users.terms.title') }} | {% endblock %}
{% block body_class %}user-terms-body{% endblock %}
{% block body %}

<div class="content-header">
    <div class="col-6 offset-3">
        <h1>
            <span>{{ t('users.terms.title') }}</span>
            <img class="illustration" src="/static/img/terms/illustration.webp" alt="{{ t('alt.happy_globe_mascot') }}">
        </h1>
    </div>
</div>
<div class="content-body">
    <form class="col-6 offset-3" method="POST" action="/api/web/user/accept-terms">
        <p class="text-body-secondary small">{{ t('users.terms.read and accept with tou') }}</p>

        <h3>{{ t('users.terms.heading_ct') }}</h3>
        <p>{{ t('users.terms.contributor_terms_explain') }}</p>

        <label class="form-label">{{ t('users.terms.legale_select') }}</label>
        <div class="ms-1 mb-3">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" autocomplete="off" name="residence" value="other"
                        checked>
                    {{ t('users.terms.legale_names.rest_of_world') }}
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" autocomplete="off" name="residence" value="france"
                        data-timezone="Europe/Paris">
                    <img class="flag" src="/static/img/terms/france.webp" alt="{{ t('alt.country_flag') }}">
                    {{ t('users.terms.legale_names.france') }}
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" autocomplete="off" name="residence" value="italy"
                        data-timezone="Europe/Rome">
                    <img class="flag" src="/static/img/terms/italy.webp" alt="{{ t('alt.country_flag') }}">
                    {{ t('users.terms.legale_names.italy') }}
                </label>
            </div>
        </div>

        <div class="mb-3">
            <div class="legal-document" data-residence="other">
                {{ legal_terms_GB | safe }}
            </div>
            <div class="legal-document d-none" data-residence="france">
                {{ legal_terms_FR | safe }}
            </div>
            <div class="legal-document d-none" data-residence="italy">
                {{ legal_terms_IT | safe }}
            </div>
        </div>
        <p class="text-body-secondary small">
            {% set readable_summary_link %}
            <a href="https://osmfoundation.org/wiki/Licence_and_Legal_FAQ/Contributor_Terms_Summary" target="_blank">
                {{ t('users.terms.readable_summary') }}
            </a>
            {% endset %}
            {% set informal_translations_link %}
            <a href="https://osmfoundation.org/wiki/Licence/Contributor_Terms/Informal_Translations" target="_blank">
                {{ t('users.terms.informal_translations') }}
            </a>
            {% endset %}
            {{ t(
                    'users.terms.guidance_info_html',
                    readable_summary_link=readable_summary_link,
                    informal_translations_link=informal_translations_link,
                ) | safe }}
        </p>

        <div class="form-check ms-1 mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" autocomplete="off" required>
                <span class="required">{{ t('users.terms.read_ct') }}</span>
            </label>
        </div>

        <h3>{{ t('layouts.tou') }}</h3>
        <p>
            {% set tou_link %}
            <a href="https://wiki.osmfoundation.org/wiki/Terms_of_Use" rel="terms-of-service" target="_blank">
                {{ t('layouts.tou') }}
            </a>
            {% endset %}
            {{ t(
                    'users.terms.tou_explain_html',
                    tou_link=tou_link,
                ) | safe }}
        </p>

        <div class="form-check ms-1 mb-4">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" autocomplete="off" required>
                <span class="required">{{ t('users.terms.read_tou') }}</span>
            </label>
        </div>

        <div class="d-flex justify-content-between">
            <button class="abort-signup-btn btn btn-secondary px-4" type="button">
                {{ t('users.terms.decline') }}
            </button>
            <button class="btn btn-primary px-4" type="submit">
                {{ t('users.terms.continue') }}
            </button>
        </div>
    </form>
    <form class="abort-signup-form" method="POST" action="/api/web/user/abort-signup">
    </form>
</div>

{% endblock %}
