.settings-users-body {
    .filters-form {
        select[multiple] {
            height: 2.5rem;
            overflow-y: auto;
        }
    }

    .users-table {
        .avatar {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }

        .display-name {
            vertical-align: middle;
        }

        .roles {
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
            margin-left: 0.25rem;

            .bi {
                font-size: 0.75em;
            }
        }

        .status {
            .badge {
                line-height: inherit;
            }
        }
    }
}
