{% for user in users %}
{% set _is_deleted = user_is_deleted(user) %}
<tr data-user-id="{{ user.id }}">
    <td>
        <a href="/user-id/{{ user.id }}">
            <img class="avatar" src="{{ user_avatar_url(user) }}" alt="{{ t('alt.profile_picture') }}" loading="lazy">
            <span class="display-name {% if _is_deleted %}text-muted{% endif %}">{{ user.display_name }}</span>
        </a>
        <span class="roles">
            {% for role in user.roles %}
            {% if role == 'administrator' %}
            <i class="bi bi-star-fill text-danger" data-bs-toggle="tooltip"
                data-bs-title="{{ t('users.show.role.administrator') }}"></i>
            {% elif role == 'moderator' %}
            <i class="bi bi-star-fill text-blue" data-bs-toggle="tooltip"
                data-bs-title="{{ t('users.show.role.moderator') }}"></i>
            {% else %}
            <i class="bi bi-star-fill text-secondary" data-bs-toggle="tooltip" data-bs-title="{{ role | title }}"></i>
            {% endif %}
            {% endfor %}
        </span>
    </td>
    <td>
        <span class="{% if _is_deleted %}text-muted{% else %}text-body-secondary{% endif %}">
            {{- user.email -}}
        </span>
    </td>
    <td class="status">
        {% if not user.email_verified %}
        <span class="badge text-bg-danger">Unverified</span>
        {% set _has_status = True %}
        {% endif %}
        {% if user.scheduled_delete_at is not none %}
        <span class="badge text-bg-warning">Pending deletion</span>
        {% set _has_status = True %}
        {% endif %}
        {% if _is_deleted %}
        <span class="badge text-bg-secondary">Deleted</span>
        {% set _has_status = True %}
        {% endif %}
        {% if _has_status is undefined %}
        <span class="text-body-secondary">&mdash;</span>
        {% endif %}
    </td>
    <td>
        <time datetime="{{ user.created_at.isoformat() }}" data-style="short"></time>
    </td>
    {% set _ip_count = ip_counts[user.created_ip] %}
    <td title="{{ _ip_count }} registrations from this IP in last 24h">
        {% if _ip_count >= 2 %}
        <span class="text-warning me-1">{{ user.created_ip }}</span>
        <small>x<b>{{ _ip_count }}</b></small>
        {% else %}
        <span class="text-body-secondary">{{ user.created_ip }}</span>
        {% endif %}
    </td>
    <td>
        <a href="/settings/users/{{ user.id }}" class="link-primary">Manage</a>
    </td>
</tr>
{% endfor %}
