{% extends '_base.jinja2' %}
{% block body_class %}oauth-response-form-post-body{% endblock %}
{% block body %}
    <form class="response-form-post-form" method="POST" action="{{ redirect_uri }}">
        {% for k, v in auth_result.items() %}
            <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
    </form>
{% endblock %}
