.action-sidebar.changeset {
    .open-badge {
        cursor: help;
        font-size: 0.8em;
    }

    .elements {
        td {
            padding: 0;
        }

        tr {
            // Style the elements icons
            td:first-child {
                width: 2em;
                line-height: 1;

                img {
                    display: inline-block;
                    width: 2em;
                    height: 1.5em;
                    object-fit: contain;
                }
            }

            // Style the elements links
            td:last-child {
                padding-left: 0.5rem;
            }
        }

        // Style the deleted elements
        .deleted {
            text-decoration: line-through;

            // Fade out the icon
            .icon {
                // TODO: adjust
                opacity: 0.8;
            }
        }

        .pagination {
            text-align: center;

            .page-link {
                min-width: calc(2ch + 16px + 2px);
            }
        }
    }
}
