.action-sidebar.export {
    // Style the export box
    .export-box {
        background: $gray-200;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        input {
            width: 7em;
            background: $gray-100;
            text-align: center;
        }

        .bi {
            font-size: 1.5em;
            color: $gray-500;
        }
    }

    // Style the avatars
    .source-icon {
        position: relative;
        top: -0.1em;
        width: 1.5em;
        height: 1.5em;
    }
}
