.context-menu {
    // Position at bottom-right of cursor
    top: 5px !important;
    left: 5px !important;
    bottom: unset !important;
    transition: none !important;

    .leaflet-popup-content-wrapper {
        @extend .bg-body;
        @extend .rounded-1;
        padding-left: 0;
        padding-right: 0;
    }

    .leaflet-popup-content {
        margin: 6px 0;
    }

    // Hide anchor
    .leaflet-popup-tip-container {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .btn {
        @extend .btn-light;
        @extend .rounded-0;
        font-size: 0.875rem;
        text-align: left;
        white-space: nowrap;
        border: none;
        padding: 2px 12px;

        &:hover {
            & + .dropdown-toggle {
                background: shade-color($light, $btn-hover-bg-shade-amount);
            }
        }
    }

    .dropdown-toggle {
        &::after {
            margin-left: unset;
        }
    }
}

@include color-mode(dark) {
    .context-menu {
        .btn {
            &:hover {
                & + .dropdown-toggle {
                    background: tint-color($dark, $btn-hover-bg-shade-amount);
                }
            }
        }
    }
}
