.leaflet-popup:has(.context-menu) {
    .context-menu {
        display: flex;
        flex-direction: column;

        .btn {
            --bs-btn-padding-x: 0;
            right:5px;
            font-size:13px;
            text-align: left;
            border:none;
        }
        .dropdown-menu {
            font-size: 13px;
        }
        .dropdown-toggle {
            padding-left: 3px;
            padding-right: 5px;
        }
        .dropdown-toggle:hover {
            background-color: $gray-400;
        }
    }
    .leaflet-popup-content {
        margin: 4px 0;
    }
    .leaflet-popup-content-wrapper {
        border-radius: 4px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .leaflet-popup-tip-container {
        display: none;
    }
    .contextmenu-item {
        color: $black;
        text-decoration: none;
        white-space: nowrap;
        padding: 1px 12px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        > button {
            padding: 0;
        }
    }

    .contextmenu-item:hover {
        background-color: $gray-200;
    }

    bottom: unset !important;
    left: unset !important;
    translate: 5px 5px;
    transition: none;
}
