.action-sidebar.element,
.action-sidebar.element-history {
    .version-badge {
        color: $text-muted;
        background: $gray-200;

        &.is-latest {
            color: $light;
            background: $green;
        }
    }

    .location-btn-container {
        background: $gray-100;
        border: 1px solid transparent;
        border-radius: $border-radius;
        padding: 0.15rem 0.55rem;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            border-color: $border-color;
        }

        .location-btn {
            padding: unset;
            margin-left: 0.2em;
        }
    }

    .part-of,
    .elements {
        td {
            padding: 0;
        }

        tr {
            // Style the elements icons
            td:first-child {
                width: 2em;
                line-height: 1;

                img {
                    display: inline-block;
                    width: 2em;
                    height: 1.5em;
                    padding: 0.1em 0;
                    object-fit: contain;
                }
            }

            // Style the elements links
            td:last-child {
                padding-left: 0.5rem;
            }
        }

        .pagination {
            text-align: center;

            .page-link {
                min-width: calc(2ch + 16px + 2px);
            }
        }
    }
}

.action-sidebar.element {
    .version-badge {
        position: relative;
        top: -0.2em;
        padding: 0.2em 0.3em;
        cursor: help;
        font-size: 0.5em;
    }
}

.action-sidebar.element-history {
    .version-badge {
        font-size: initial;
    }

    .version-section:hover {
        cursor: pointer;
        background: $list-highlight;
    }
}
