.action-sidebar.element,
.action-sidebar.element-history {
    .sidebar-title-icon {
        position: relative;
        top: -0.1em;
        width: 1em;
        height: 1em;
        object-fit: contain;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: 0.125em;
    }

    .version-badge {
        color: $text-muted;
        background: $gray-200;

        &.is-latest {
            color: $light;
            background: $green;
        }
    }

    .part-of,
    .elements {
        td {
            padding: 0;
        }

        tr {
            // Style the elements icons
            td:first-child {
                width: 2em;
                line-height: 1;

                img {
                    display: inline-block;
                    width: 2em;
                    height: 1.5em;
                    padding: 0.1em 0;
                    object-fit: contain;
                }
            }

            // Style the elements links
            td:last-child {
                padding-left: 0.5rem;
            }
        }

        .pagination {
            text-align: center;

            .page-link {
                min-width: calc(2ch + 16px + 2px);
            }
        }
    }

    .sidebar-content[data-tags-diff-mode="True"] .tags {
        tr[data-status="added"] > td {
            background: $green-100;
        }

        tr[data-status="modified"] > td {
            background: $orange-100;
        }

        tr[data-status="modified"] > td:nth-child(2) {
            padding-top: 0;
            padding-bottom: 0;

            > div {
                display: flex;
            }

            .tag-values,
            .tag-previous {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                flex-grow: 1;
            }

            .tag-previous {
                padding-left: 0.55em;
                border-left: 1px solid $table-border-color;

                .tag-value {
                    color: $red-600;
                    text-decoration: line-through;
                    text-decoration-color: transparentize($red-600, 0.4);
                }
            }
        }

        tr[data-status="deleted"] > td {
            background: $red-100;

            .tag-value {
                color: $red-600;
                text-decoration: line-through;
                text-decoration-color: transparentize($red-600, 0.4);
            }
        }
    }
}

.action-sidebar.element {
    .version-badge {
        position: relative;
        top: -0.2em;
        padding: 0.2em 0.3em;
        cursor: help;
        font-size: 0.5em;
    }
}

.action-sidebar.element-history {
    a:not(.stretched-link),
    time,
    details,
    button {
        position: relative;
        z-index: 10;
    }

    .version-badge {
        font-size: initial;
    }

    .version-section:hover {
        background: $list-highlight;
    }
}
