.action-sidebar.export {
    // Style the export box
    .export-box {
        @extend .border;
        @extend .rounded-2;
        background: var(--bs-secondary-bg);

        input {
            width: 7em;
            background: var(--bs-tertiary-bg);
            text-align: center;
        }

        .bi {
            font-size: 1.5em;
            color: $gray-500;
        }
    }

    // Style the avatars
    .source-icon {
        position: relative;
        top: -0.1em;
        width: 1.5em;
        height: 1.5em;
    }
}
