.action-sidebar.index {
    // Style the welcome banner
    .welcome-banner {
        background: $body-bg;

        p {
            font-size: 1.1em;
        }
    }

    // Style generic image banner
    .image-banner {
        padding: unset;
        position: relative;

        img {
            width: 100%;
        }

        .btn-close-wrapper {
            position: absolute;
            top: calc(1.1em - 0.5em / 2);
            right: calc(1em - 0.5em / 2);
            background: $body-bg;
            border-radius: $border-radius-sm;

            .btn-close {
                position: initial;
                padding: 0.5em;
            }
        }
    }
}
