.action-sidebar.note {
    .status-badge {
        @extend .text-muted;
        background: var(--bs-secondary-bg);
        position: relative;
        top: -0.3em;
        padding: 0.3em 0.45em;
        font-size: 0.5em;

        &[data-status="closed"] {
            @extend .text-bg-green;
        }
    }
}
