{
	storage file_system data/caddy
	skip_install_trust
	key_type p384
	preferred_chains {
		root_common_name "ISRG Root X1"
	}
}

(common) {
	log
	header Alt-Svc "h3=\":443\"; ma=2592000; persist=1"
}

(common_proxy) {
	transport http {
		compression off
		dial_timeout 1m
		dial_fallback_delay -1s
	}
}

test.openstreetmap.ng, api.openstreetmap.ng, id.openstreetmap.ng, rapid.openstreetmap.ng {
	import common
	reverse_proxy 127.0.0.1:8000 {
		import common_proxy
	}
}

www.openstreetmap.ng {
	import common
	redir https://test.openstreetmap.ng{uri}
}

mail.openstreetmap.ng {
	import common
	reverse_proxy 127.0.0.1:49566 {
		import common_proxy
	}
}

test.osm.ng, www.osm.ng, osm.ng {
	import common
	redir https://test.openstreetmap.ng{uri}
}
