$_icon-color: $gray-400;

.about-body {
    // Style the about section header
    .content-header {
        padding: 0;

        .landing-image {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .attribution {
                position: absolute;
                bottom: 0;
                right: 0;

                margin-bottom: 0;
                padding: 1rem 1.5rem;

                background: $vibrant-green;
                color: $light;
            }
        }

        .landing-text {
            padding: 1.5rem 2rem;
            background: $dark;
            color: $light;

            img {
                height: 1em;
            }

            .vibrant {
                color: $vibrant-green;
            }
        }

        .header-body {
            padding: 2rem 2.5rem;
            background: white;
        }
    }

    .header-body {
        h3 {
            display: flex;
            align-items: center;
            gap: 0.25em;
        }
    }

    i.bi {
        display: inline-block;
        text-align: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
        font-size: 0.55em;

        border-radius: 100%;
        border: 4px solid $_icon-color;
        color: $_icon-color;

        &.bi-heart-fill::before {
            position: relative;
            top: 1px;
            font-size: 0.9em;
        }
    }

    .icon-symbol {
        display: inline-block;
        text-align: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
        font-size: 0.7em;
        font-weight: bold;

        border-radius: 100%;
        border: 4px solid $_icon-color;
        color: $_icon-color;

        &.copyright::before {
            position: relative;
            top: -0.5px;
            left: -1px;
            content: "C";
        }
        &.section::before {
            content: "ยง";
        }
    }
}
