.action-sidebar.index {
    // Style the welcome banner
    .welcome-banner {
        p {
            font-size: 1.1em;
            font-weight: 300;
        }
    }

    // Style generic image banner
    // TODO: test this
    .image-banner {
        img {
            width: 100%;
        }

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1.1rem;
            padding: 0.4rem;

            // Increase the contrast
            opacity: 1;
            background: rgba(255, 255, 255, 0.5);
        }
    }
}
