.action-sidebar.export {
    // Style the export box
    .export-box {
        background: $gray-200;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        input {
            width: 7em;
            text-align: center;

            // Disable number input arrows
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}
