.btn-bg-initial {
    --bs-btn-bg: initial;
}

.location-btn-container {
    background: $gray-100;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding: 0.15rem 0.55rem;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
        border-color: $border-color;
    }

    .location-btn {
        padding: unset;
        margin-left: 0.2em;
    }
}

.btn-floating-bottom-left {
    position: fixed;
    bottom: 0.75rem;
    left: 0.75rem;
}

.btn-floating-bottom-right {
    position: fixed;
    bottom: 0.75rem;
    right: 0.75rem;
}
