.btn-primary {
    --bs-btn-color: #{$light};
    --bs-btn-hover-color: #{$light};
    --bs-btn-active-color: #{$light};
    --bs-btn-disabled-color: #{$light};
}

.btn-outline-primary,
.btn-outline-green {
    --bs-btn-hover-color: #{$light};
    --bs-btn-active-color: #{$light};
}

// .btn-outline-light-gray {
//     @include button-outline-variant(#888, $color-hover: $light, $active-color: $light);
// }

.btn-bg-initial {
    --bs-btn-bg: initial;
}

// .btn-outline-secondary-soft {
//     @include button-outline-variant(
//         $secondary,
//         $color-hover: shade-color($secondary, 50%),
//         $active-background: initial,
//         $active-border: shade-color($secondary, 40%),
//         $active-color: $secondary
//     );
// }
