.btn .badge {
    position: initial;
    top: unset;
}

@include color-mode(dark) {
    .btn-light {
        @extend .btn-dark;
    }

    .btn-green {
        --bs-btn-color: #{$body-bg-dark};
        --bs-btn-hover-color: #{$body-bg-dark};
        --bs-btn-active-color: #{$body-bg-dark};
        --bs-btn-disabled-color: #{$body-bg-dark};
    }

    .btn-outline-green {
        --bs-btn-hover-color: #{$body-bg-dark};
        --bs-btn-active-color: #{$body-bg-dark};
    }
}

.btn-bg-initial {
    --bs-btn-bg: initial;
}

.location-btn-container {
    @extend .rounded-2;
    background: var(--bs-tertiary-bg);
    border: 1px solid transparent;
    padding: 0.15rem 0.55rem;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
        border-color: var(--bs-border-color);
    }

    .location-btn {
        padding: unset;
        margin-left: 0.2em;
    }
}

.btn-floating-bottom-left {
    position: fixed;
    bottom: 0.75rem;
    left: 0.75rem;
}

.btn-floating-bottom-right {
    position: fixed;
    bottom: 0.75rem;
    right: 0.75rem;
}
