.content-header {
    @extend .container-fluid;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: var(--bs-tertiary-bg);

    > .container {
        padding-left: unset;
        padding-right: unset;
    }
}

.content-body {
    @extend .container-fluid;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    > .container {
        padding-left: unset;
        padding-right: unset;
    }
}
