.dropdown-menu-green {
    --bs-dropdown-link-hover-color: #{$light};
    --bs-dropdown-link-hover-bg: #{$green};
    --bs-dropdown-link-active-color: #{$light};
    --bs-dropdown-link-active-bg: #{$green};
}
