.fixthemap-body {
    .bi {
        line-height: 1.1;
    }

    // Add background to the note icon
    // (it's used as an example at the fixthemap page)
    .note-link {
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        border-radius: $border-radius-sm;
        line-height: 1;
        padding: 1px;

        .icon.new-note {
            margin: unset;
        }
    }
}
