.alert.alert-last {
    margin-bottom: unset;
    margin-top: $alert-margin-bottom;
}

.custom-input-group {
    label {
        position: relative;
        left: 0.5em;
        top: 0.45em;
        background: $body-bg;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        font-size: 0.9em;
        font-weight: 600;
        padding: 0.12em 0.7em;
        z-index: 2;
    }
}

.form-check.disabled {
    color: $gray-500;
}

.form-check-label {
    // Prevent text selection
    user-select: none;
}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.required::after {
    content: "*";
    color: red;
}
