@use "sass:color";

.icon.zoom-in,
.icon.zoom-out,
.icon.geolocate,
.icon.layers,
.icon.legend,
.icon.share,
.icon.new-note,
.icon.query-features {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.icon.geolocate.loading {
    animation: spin 2s infinite;
    transform-origin: 50% 50%;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.active .icon.geolocate {
    filter: sepia(1) brightness(0.85) saturate(10) hue-rotate(55deg);
}

.yellow-glow {
    color: $yellow-500;
    text-shadow: 0 0 0.5em color.adjust($yellow-500, $alpha: -0.5);
}
