// Style the "Share" sidebar panel
.leaflet-sidebar.share {
    .marker-icon {
        height: 1em;
        margin-left: 1px;
        margin-right: 1px;
    }

    .copy-group-label {
        display: block;
        background: $card-cap-bg;
        border: 1px solid $border-color;
        border-radius: $card-inner-border-radius $card-inner-border-radius 0 0;
        border-bottom-width: 0;
        padding: 0.3em 0.7em 0.25em;
    }

    .copy-group {
        .form-control {
            border-top-left-radius: 0;
            font-size: 0.95em;
        }

        button {
            border-top-right-radius: 0;
        }
    }
}
