.leaflet-sidebar {
    // border-top: 1px solid tint-color($border-color, 50%);

    .section {
        padding: 1.2em 1em;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }

    // Adjust position of the close button
    .btn-close {
        position: relative;
        top: -0.1em;
    }
}
