.leaflet-sidebar {
    // border-top: 1px solid tint-color($border-color, 50%);
    padding: 1em;

    // Adjust position of the close button
    .btn-close {
        position: relative;
        top: -0.1em;
    }
}
