@use "sass:color";

.login-body {
    .brand-img {
        width: 4em;
        height: 4em;
    }

    .divider {
        position: relative;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background: var(--bs-secondary-bg);
        }

        .divider-text {
            position: relative;
            top: -1px;
            background: $modal-content-bg;
            padding: 0 1rem;
            color: $text-muted;
            font-size: 0.875rem;
        }
    }

    .passkey-btn {
        img {
            width: 0.875em;
            height: 0.875em;
            position: relative;
            top: -1px;
            margin-right: 0.25rem;
        }
    }

    .auth-providers {
        .btn {
            padding: unset;
            overflow: hidden;
            transition: box-shadow 0.08s ease-out;

            img {
                width: 3em;
                height: 3em;
                opacity: 0.9;
                transition:
                    opacity 0.08s ease-out,
                    filter 0.08s ease-out;
            }

            &:hover {
                box-shadow: 0 0 0 0.25rem color.adjust($primary, $alpha: -0.8);

                img {
                    opacity: 1;
                    filter: saturate(1.1);
                }
            }
        }
    }
}
