@use "bootstrap/scss/functions";

.navbar-theme {
    .bi {
        opacity: 0.8;
    }

    .dropdown-toggle {
        border: unset;

        @include media-breakpoint-down(lg) {
            border: 1px solid $secondary;
        }
    }

    .dropdown-item:not(.active) {
        .bi {
            color: $primary;
        }
    }
}
