@use "bootstrap/scss/functions";

.navbar-theme {
    .dropdown-toggle {
        border: unset;

        @include media-breakpoint-down(lg) {
            border: 1px solid $secondary;
        }

        .bi {
            opacity: 0.85;
        }
    }

    .dropdown-item {
        .bi {
            opacity: 0.8;
        }
    }

    .dropdown-item:not(.active):not(:active) {
        .bi {
            color: $primary;
        }
    }
}
