.navbar {
    background: var(--bs-body-bg);
    z-index: 1005; // leaflet controls are 1000

    .edit-link img {
        margin-left: 0.15em;
        position: relative;
        top: -1px;
        height: 19px;
    }

    .edit-link.default img {
        margin-left: 0.2em;
        top: -2px;
        height: 20px;
        filter: grayscale(10%);
    }

    .dropdown-toggle {
        .badge {
            position: static;
        }
    }

    @include media-breakpoint-down(lg) {
        .navbar-collapse {
            > :first-child {
                margin-top: 0.625rem;
            }

            > :last-child {
                margin-bottom: 0.5rem;
            }
        }

        .profile-btn::after {
            margin-left: auto;
        }

        border-bottom: 0 solid transparent;
        transition: border-bottom 0.04s ease-out;

        &:has(.navbar-collapse.show) {
            border-bottom: 2px solid var(--bs-dark-bg-subtle);
        }
    }
}

.navbar-color {
    color: var(--bs-navbar-color);
}

.navbar-brand {
    display: flex;
    align-items: center;
    --bs-navbar-brand-padding-y: 0;
    --bs-navbar-brand-font-size: 1.15em;

    img {
        height: 1.7em;
        margin-right: 0.25em;
    }
}

.navbar-nav {
    font-size: 0.9em;

    @include media-breakpoint-down(lg) {
        .nav-item:not(:last-child) {
            border-bottom: 1px solid var(--bs-secondary-bg);
        }
    }

    .nav-link {
        padding-left: 0.4em;
        padding-right: 0.4em;

        &.active {
            transition: none;
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-tabs-md {
        &.nav-tabs .nav-link {
            border-bottom-left-radius: $nav-tabs-border-radius;
            border-bottom-right-radius: $nav-tabs-border-radius;
        }

        &.nav-tabs .nav-link.active,
        &.nav-tabs .nav-item.show .nav-link {
            border-bottom-color: $nav-tabs-border-color;
        }

        .nav-item {
            margin-bottom: 0.25rem;
        }
    }
}
