.navbar {
    .navbar-brand {
        display: flex;
        align-items: center;
        font-weight: 600;
        --bs-navbar-brand-padding-y: 0;
        --bs-navbar-brand-font-size: 1.15em;

        img {
            height: 1.7em;
            margin-right: 0.25em;
        }
    }

    .dropdown-menu img {
        margin-left: 0.15em;
        position: relative;
        top: -0.1em;
        height: 1.2em;
    }

    .navbar-nav {
        font-size: 0.9em;

        .nav-link {
            padding-left: 0.4em;
            padding-right: 0.4em;
        }
    }
}
