// Styles for rich text rendered content
.rich-text {
    text-wrap: pretty;
    contain: content;

    code {
        background: tint-color($gray-500, 85%);
        padding: 0.15em 0.2em 0;
    }

    pre {
        background: tint-color($gray-500, 85%);
        padding: 0 0.2em;
        white-space: pre-wrap;

        // Remove padding from nested code blocks
        code {
            padding: 0;
        }
    }

    blockquote {
        border-left: 1.5em solid tint-color($gray-500, 85%);
        padding-left: 1.5em;
        color: $gray-700;
    }

    img {
        padding: 1.5em;
        background: tint-color($gray-500, 85%);
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

// Seamless preview experience: copy padding and border size from textarea
.rich-text-preview {
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
}

.rich-text-tips {
    contain: content;

    img.markdown-logo {
        position: relative;
        top: -0.075em;
        height: 0.8em;
    }

    dd {
        font-size: 0.875em;
    }
}
