// Styles for rich text rendered content
.rich-text {
    contain: content;

    code {
        background: $gray-400;
        padding: 0.1em 0.2em;
    }

    pre {
        background: $gray-400;
        padding: 0.1em 0.2em;

        // Allow line wrapping
        white-space: pre-wrap;

        // Remove padding from nested code blocks
        code {
            padding: 0;
        }
    }

    blockquote {
        border-left: 1.5em solid $off-white;
        padding-left: 1.5em;
        color: $gray-700;
    }

    img {
        padding: 1.5em;
        background: tint-color($gray-500, 85%);
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

.rich-text-tips {
    contain: content;

    img.markdown-logo {
        position: relative;
        top: -0.075em;
        height: 0.8em;
    }

    dd {
        font-size: 0.875em;
    }
}
