@use "sass:color";

.social-entry {
    .avatar {
        margin-right: 0.3rem;
    }

    .header {
        font-size: 0.9em;
        background: color.adjust($gray-200, $alpha: -0.7);
        border-radius: $border-radius-sm;
        border-bottom-left-radius: unset;
        padding: 0.16rem 0.3rem;
        margin-bottom: unset;
    }

    .body {
        padding: 0.375rem 0.3rem 0;
    }

    .num-comments {
        white-space: nowrap;
        font-size: 0.875em;
        margin: 0.125rem 0.25rem 0;

        .bi {
            margin-left: 0.3rem;
            font-size: 0.9em;
        }
    }

    .no-comments {
        color: $gray-500;
    }

    // Better centering of the badges
    .badge {
        position: relative;
        top: -0.05em;

        // ..and the icons within them
        i {
            position: relative;
            top: 0.1em;
        }
    }

    .pre {
        // Allow line wrapping
        white-space: pre-wrap;
    }
}

// Style generic result actions (clickable) in the sidebar
// (search results, changesets, etc.)
.social-action {
    position: relative;
    cursor: pointer;
    border-radius: $border-radius-sm;

    padding-bottom: 6px;
    box-shadow: inset 0 -6px color.adjust($gray-200, $alpha: -0.73);
    // Simple border does not work well with stretched-link:
    // border-bottom: 6px solid color.adjust($gray-200, $alpha: -0.73);

    &:hover,
    &.hover,
    &:has(a.stretched-link:focus) /* Improved accessibility */ {
        background: $list-highlight;
    }

    a:not(.stretched-link),
    time {
        position: relative;
        z-index: 10;
    }
}

.social-list {
    li:not(:last-child) {
        margin-bottom: 0.625rem;
    }
}

.social-list-sm {
    li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.changesets-list {
    .social-action {
        padding-bottom: 0.45rem;

        .body {
            padding: 0.375rem 0.3rem;
        }
    }

    .comment {
        font-style: italic;
    }
}

.diary-list {
    .social-action {
        padding-bottom: 0.45rem;

        .body {
            padding: 0.375rem 0.3rem;
        }

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    img.avatar {
        font-size: 3em;
    }

    > article {
        text-wrap: pretty;

        &:not(:last-child) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $border-color;
        }
    }

    .diary-location {
        i.bi {
            margin-right: 0.3rem;
            font-size: 0.875em;
        }
    }
}

.diary-user-comments-list {
    .body {
        margin-bottom: 0.375rem;

        p:last-child {
            margin-bottom: unset;
        }
    }
}

.notes-list {
    img.marker {
        width: 1.625em;
        margin-top: 0.75rem;
    }

    .body {
        margin-bottom: 0.375rem;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.traces-list {
    svg {
        width: 5em;
        height: 5em;
    }

    .social-entry {
        height: 100%;
    }

    .body {
        margin-bottom: 0.375rem;
    }

    .hashtag:not(:last-child)::after {
        content: ",";
        color: black;
    }

    .btn-group {
        height: 100%;

        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-wrap: nowrap;
        }
    }

    &.social-list-sm {
        svg {
            margin-top: 0.375rem;
            width: 3.5em;
            height: 3.5em;
        }
    }
}

.messages-list {
    .social-action {
        .unread-badge {
            display: none;

            .bi {
                top: 0;
            }
        }

        &.active {
            box-shadow: 0 0 0 0.125rem $primary;
            border-left: 0.25rem solid $primary;
        }

        &.unread {
            background: tint-color($primary, 94%);

            &:hover,
            &.hover {
                background: $list-highlight;
            }

            .unread-badge {
                display: inline-block;
            }
        }
    }

    .body {
        margin-bottom: 0.375rem;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .title {
        margin-bottom: 0.25rem;
    }

    .exclusive {
        color: purple;
    }

    .description {
        font-size: 0.875em;
        margin-bottom: unset;
    }
}

.groups-list {
    img {
        // TODO: width: 4em;
        margin-top: 0.75rem;
        border-radius: $border-radius;
    }

    .body {
        margin-bottom: 0.375rem;

        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .title {
        margin-bottom: 0.25rem;
    }

    .exclusive {
        color: purple;
    }

    .description {
        font-size: 0.875em;
        margin-bottom: unset;
    }

    &.social-list-sm {
        li:not(:last-child) {
            margin-bottom: 0.625rem;
        }

        img {
            width: 4em;
        }
    }
}

.search-list {
    li:not(:last-child) {
        margin-bottom: 0.875rem;
    }

    img.icon {
        position: relative;
        top: -0.1em;
        width: 1em;
        height: 1em;
        object-fit: contain;
        margin-right: 1px;
    }

    .body {
        margin-bottom: 0.375rem;
    }
}
