.user-terms-body {
    .content-header {
        padding-bottom: 0;

        span {
            position: relative;
            top: -0.5rem;
        }

        .illustration {
            margin-left: 3rem;
            position: relative;
            display: inline;
        }
    }

    .flag {
        height: 0.9em;
        border-radius: 0.15em;
        position: relative;
        top: -0.1em;
    }

    // Style the legal document, make it scrollable and resizable
    .legal-document {
        overflow-y: auto;
        resize: vertical;
        height: 20em;
        border: $border-width $border-style $border-color;
        border-radius: $border-radius;
        padding: 0.8em 1em;

        // Style the nested list items to display letters instead of numbers
        ol ol {
            list-style-type: lower-alpha;
        }
    }
}
