// Colors

$blue: #7092ff;
$green: #7ebc6f;
$vibrant-green: #76c551;
$off-white: #f8f8ff;

$link-color: #24d;
$link-decoration: none;
$link-hover-color: #24d;
$link-hover-decoration: underline;

$list-highlight: #ffffc0;

$message-unread-bg: #cbeea7;

$table-striped-bg: $off-white;

// Themes
// https://getbootstrap.com/docs/5.3/customize/color-modes/#adding-theme-colors

$custom-colors: (
    "green": $green
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Sidebar

$action-sidebar-width: 350px;
$leaflet-sidebar-width: 250px;
