@use "sass:map";
@use "bootstrap/scss/functions";

$blue: #7092ff;
$green: #7ebc6f;
$light-green: functions.tint-color($green, 70%);
$vibrant-green: #76c551;
$off-white: #f8f8ff;

$list-highlight: #ffc;
$message-unread-bg: #cbeea7;
$table-striped-bg: $off-white;

$action-sidebar-width: min(400px, calc(100vw - 50px));
$leaflet-sidebar-width: 250px;
$navbar-mobile-height: 56px;

// Boostrap configuration
$min-contrast-ratio: 2;

$link-color: #24d;
$link-decoration: none;
$link-hover-color: #24d;
$link-hover-decoration: underline;

$spinner-width: 3rem;
$spinner-height: 3rem;

$accordion-button-active-bg: inherit;
$accordion-button-active-color: inherit;

$zindex-dropdown: 1010;
