@use "sass:map";

$min-contrast-ratio: 2;

$blue: #7092ff;
$green: #7ebc6f;
$light-green: tint-color($green, 70%);
$vibrant-green: #76c551;
$off-white: #f8f8ff;

$primary: $blue;
$pagination-active-bg: $blue;
$pagination-active-border-color: $blue;

$link-color: #24d;
$link-decoration: none;
$link-hover-color: #24d;
$link-hover-decoration: underline;

$list-highlight: #ffc;
$message-unread-bg: #cbeea7;
$table-striped-bg: $off-white;

// https://getbootstrap.com/docs/5.3/customize/color-modes/#adding-theme-colors
$custom-colors: (
    "primary": $primary,
    "blue": $blue,
    "green": $green,
    "light-green": $light-green,
);
$theme-colors: map.merge($theme-colors, $custom-colors);

$custom-spacers: (
    "1-5": $spacer * 0.375,
);
$spacers: map.merge($spacers, $custom-spacers);

$action-sidebar-width: 400px;
$leaflet-sidebar-width: 250px;

$zindex-dropdown: 1010;

$spinner-width: 3rem;
$spinner-height: 3rem;

$accordion-button-active-bg: inherit;
$accordion-button-active-color: inherit;
