@use "sass:color";

.welcome-body {
    .tutorial-card {
        position: relative;

        .bi {
            position: absolute;
            top: 0.3em;
            right: 0.3em;
            line-height: 1;
            opacity: 0.9;
        }

        &.should {
            border: 1px solid $green;
            box-shadow: 0 0 0 5px color.adjust($green, $alpha: -0.9);
        }

        &.should-not {
            border: 1px solid $danger;
            box-shadow: 0 0 0 5px color.adjust($danger, $alpha: -0.9);
        }

        .card-body {
            margin-right: 1.25em;
        }
    }

    // The sprite usage is deprecated.
    // New icons should be kept separate for ease of maintenance.
    // TODO: Split the sprite into separate files.
    @mixin legacy-welcome-icon($x, $y) {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: url("/static/img/welcome/sprite.webp");
        background-position: $x $y;
    }

    .icon.check {
        @include legacy-welcome-icon(0, 0);
    }

    .icon.x {
        @include legacy-welcome-icon(-50px, 0);
    }

    .icon.node {
        @include legacy-welcome-icon(-100px, 0);
    }

    .icon.way {
        @include legacy-welcome-icon(-150px, 0);
    }

    .icon.tag {
        @include legacy-welcome-icon(-200px, 0);
    }

    .icon.editor {
        @include legacy-welcome-icon(-250px, 0);
    }

    .icon.question {
        @include legacy-welcome-icon(-300px, 0);
    }

    .icon.rules {
        @include legacy-welcome-icon(-350px, 0);
    }

    // Add background to the note icon
    // (it's used as an example at the welcome page)
    .note-link {
        position: relative;
        top: 0.38em;
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        border-radius: $border-radius-sm;
        line-height: 1;
        padding: 0 1px;

        .icon.new-note {
            margin: unset;
        }
    }
}
