// TODO: remove unused styles
// (Bootstrap) Configuration
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "variables-post";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// (Bootstrap) Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// (Bootstrap) Helpers
@import "bootstrap/scss/helpers";

// (Bootstrap) Utilities
@import "bootstrap/scss/utilities/api";

// (Bootstrap Icons)
$bootstrap-icons-font-dir: "/static-bootstrap-icons";
@import "bootstrap-icons/font/bootstrap-icons";

// (Leaflet)
@import "leaflet/dist/leaflet";

@import "about";
@import "avatar";
@import "btn";
@import "communities";
@import "content";
@import "diary";
@import "display";
@import "dropdown";
@import "fixthemap";
@import "form";
@import "icons";
@import "illustration";
@import "login";
@import "navbar";
@import "navbar-theme";
@import "rich-text";
@import "rss";
@import "social";
@import "unsupported-browser";
@import "welcome";

@import "index/changeset";
@import "index/changesets-history";
@import "index/context-menu";
@import "index/distance";
@import "index/element";
@import "index/export";
@import "index/index";
@import "index/note";
@import "index/routing";
@import "index/search";
@import "index/tags";

@import "diaries/compose";
@import "diaries/index";
@import "diaries/scroll_nav";

@import "leaflet/leaflet";
@import "leaflet/location-filter";
@import "leaflet/main-map";
@import "leaflet/map-alert";
@import "leaflet/map-attribution";
@import "leaflet/sidebar-layers";
@import "leaflet/sidebar-legend";
@import "leaflet/sidebar-share";
@import "leaflet/sidebar-toggle-button";
@import "leaflet/sidebar";
@import "leaflet/user-popup";

@import "messages/index";

@import "notes/index";

@import "oauth2/authorize";

@import "settings/applications/edit";
@import "settings/applications/index";
@import "settings/connections";
@import "settings/nav";
@import "settings/security";

@import "traces/preview";

@import "user/account-confirm";
@import "user/activity";
@import "user/profile";
@import "user/reset-password-token";
@import "user/signup";
@import "user/terms";

// TODO: print style

// Right-to-left support using <html dir="rtl"> tag
html[dir="rtl"] {
    text-align: right;

    // Mirror illustrations
    .illustration {
        transform: scaleX(-1);
    }
}

time[title] {
    cursor: help;
    text-wrap: nowrap;

    &:hover {
        text-decoration: underline dotted $gray-600;
        text-underline-offset: 0.1em;
    }
}

summary {
    user-select: none;
}
