// Style the "Map Layers" sidebar picker
.leaflet-sidebar.layers {
    // Make each layer clickable and overlay a label on top of it
    .layer {
        @extend .rounded-2;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: box-shadow 0.08s ease-out;

        // Add some margin between each layer
        &:not(:last-child) {
            margin-bottom: 0.875rem;
        }

        label {
            @extend .text-body;
            cursor: pointer;
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.15rem 0.5rem;
            font-weight: bold;
            background: rgba($body-bg, 0.8);
            backdrop-filter: blur(0.5rem);
            border-bottom-right-radius: $border-radius-sm;
            z-index: 850;

            img {
                position: relative;
                top: -0.09em;
                height: 1em;
            }
        }

        .vector {
            font-size: 0.7em;
            font-weight: 800;
            text-transform: uppercase;
            position: relative;
            top: -0.3em;
            color: tint-color($primary, 20%);
        }

        .map-container {
            height: 3.5rem;
            // Fix small "white pop" visual glitch in Dark Mode on Chrome
            border-top-left-radius: calc($border-radius + 2px);
        }

        // Change border color depending on the state
        &.active {
            box-shadow:
                0 0 0 1px var(--bs-body-bg),
                0 0 0 0.25rem $primary;
        }

        &:hover {
            box-shadow:
                0 0 0 0 transparent,
                0 0 0 0.25rem rgba($primary, 0.4);

            &.active {
                box-shadow:
                    0 0 0 0 transparent,
                    0 0 0 0.25rem shade-color($primary, 20%);
            }
        }
    }

    .layer-order {
        ul {
            margin: -0.875rem -1em 0;
            padding: 0.875rem 1em 0;

            // Fix WebKit overlap issue
            // https://github.com/openstreetmap-ng/openstreetmap-ng/issues/168#issuecomment-3029499779
            list-style-type: none;
            overflow-y: hidden;
        }

        &.collapsed {
            ul {
                max-height: 16rem;
                mask-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 80%,
                    rgba(0, 0, 0, 0)
                );
            }

            .show-less {
                display: none;
            }
        }

        &:not(.collapsed) {
            .show-more {
                display: none;
            }
        }
    }

    .layer-settings {
        @extend .bg-body-tertiary;
        @extend .rounded-2;

        .layer {
            margin-bottom: 0;
        }

        .layer-settings-inner {
            font-size: 0.875em;
            padding: 0.125rem 0.375rem;
        }
    }
}

@include color-mode(dark) {
    .leaflet-sidebar.layers {
        .layer {
            label {
                background: rgba($body-bg-dark, 0.8);
            }

            .vector {
                color: tint-color($primary, 50%);
            }
        }
    }
}
