<div class="leaflet-sidebar legend d-none">
    <div class="sidebar-content section">

        <div class="row g-1 mb-2">
            <div class="col">
                <h2>
                    {{ t('javascripts.key.title') }}
                </h2>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>

        {%
            set config = (
                ('6-', 'motorway', 'motorway'),
                ('6-7', 'mainroad', 'main_road'),
                ('8-8', 'mainroad7', 'main_road'),
                ('9-11', 'mainroad9', 'main_road'),
                ('12-', 'mainroad12', 'main_road'),
                ('13-', 'track', 'track'),
                ('13-', 'bridleway', 'bridleway'),
                ('13-', 'cycleway', 'cycleway'),
                ('13-', 'footway', 'footway'),
                ('8-12', 'rail', 'rail'),
                ('13-', 'rail13', 'rail'),
                ('13-', 'subway', 'subway'),
                ('13-', 'tram', 'tram'),
                ('12-', 'cable_car', 'cable_car'),
                ('12-', 'chair_lift', 'chair_lift'),
                ('11-', 'runway', 'runway'),
                ('12-', 'apron', 'apron'),
                ('-', 'admin', 'admin'),
                ('9-', 'forest', 'forest'),
                ('10-', 'wood', 'wood'),
                ('10-', 'golf', 'golf'),
                ('10-', 'park', 'park'),
                ('8-', 'resident', 'resident'),
                ('10-', 'common', 'common'),
                ('10-', 'retail', 'retail'),
                ('10-', 'industrial', 'industrial'),
                ('10-', 'commercial', 'commercial'),
                ('10-', 'heathland', 'heathland'),
                ('7-', 'lake', 'lake'),
                ('10-', 'farm', 'farm'),
                ('10-', 'brownfield', 'brownfield'),
                ('11-', 'cemetery', 'cemetery'),
                ('11-', 'allotments', 'allotments'),
                ('11-', 'pitch', 'pitch'),
                ('11-', 'centre', 'centre'),
                ('11-', 'reserve', 'reserve'),
                ('11-', 'military', 'military'),
                ('12-', 'school', 'school'),
                ('12-', 'building', 'building'),
                ('12-', 'station', 'station'),
                ('12-', 'summit', 'summit'),
                ('12-', 'tunnel', 'tunnel'),
                ('13-', 'bridge', 'bridge'),
                ('15-', 'private', 'private'),
                ('15-', 'destination', 'destination'),
                ('12-', 'construction', 'construction')
            )
        %}
        <table class="table table-sm table-borderless layer-container" data-layer-id="standard">
            <tbody>
                {% for zoom, icon, translation in config %}
                <tr data-zoom="{{ zoom }}">
                    <td><img src="/static/img/legend/standard/{{ icon }}.webp" draggable="false" loading="lazy"></td>
                    <td>{{ t('site.key.table.entry.' + translation) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {%
            set config = (
                ('5-11', 'motorway', 'motorway'),
                ('12-', 'motorway12', 'motorway'),
                ('6-11', 'trunk', 'trunk'),
                ('12-', 'trunk12', 'trunk'),
                ('7-11', 'primary', 'primary'),
                ('12-', 'primary12', 'primary'),
                ('9-11', 'secondary', 'secondary'),
                ('12-', 'secondary12', 'secondary'),
                ('13-', 'track', 'track'),
                ('8-19', 'cycleway', 'cycleway'),
                ('5-12', 'cycleway_national', 'cycleway_national'),
                ('13-', 'cycleway_national13', 'cycleway_national'),
                ('5-12', 'cycleway_regional', 'cycleway_regional'),
                ('13-', 'cycleway_regional13', 'cycleway_regional'),
                ('8-12', 'cycleway_local', 'cycleway_local'),
                ('13-', 'cycleway_local13', 'cycleway_local'),
                ('13-', 'footway', 'footway'),
                ('7-13', 'rail', 'rail'),
                ('14-', 'rail14', 'rail'),
                ('9-', 'forest', 'forest'),
                ('10-', 'common', 'common'),
                ('7-', 'lake', 'lake'),
                ('14-', 'bicycle_shop', 'bicycle_shop'),
                ('14-', 'bicycle_parking', 'bicycle_parking'),
                ('16-', 'toilets', 'toilets')
            )
        %}
        <table class="table table-sm table-borderless layer-container" data-layer-id="cyclemap">
            <tbody>
                {% for zoom, icon, translation in config %}
                <tr data-zoom="{{ zoom }}">
                    <td><img src="/static/img/legend/cyclemap/{{ icon }}.webp" draggable="false" loading="lazy"></td>
                    <td>{{ t('site.key.table.entry.' + translation) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
