// Style the "Map Key" sidebar panel
.map-sidebar.legend {
    .layer-container {
        vertical-align: middle;

        img {
            height: 1.2em;
            width: 3.5em;
            object-fit: scale-down;
        }

        td:last-child {
            font-size: 0.875em;
        }
    }
}
