.messages-index-body {
    .col-lg:not(:first-child) {
        @include media-breakpoint-up(lg) {
            border-left: 1px solid $border-color;
        }
    }

    .message-preview {
        border: unset;

        .card-body {
            padding-top: 1.5rem;
            padding-bottom: unset;
        }

        .message-sender {
            margin-bottom: 0.75rem;

            .avatar {
                font-size: 2em;
                margin-right: 0.5rem;
            }
        }
    }
}
