{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('oauth.account_not_found') }} | {% endblock %}
{% block body %}

    <div class="content-header">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            <h1>
                {{ t('oauth.account_not_found') }}
            </h1>
            <p class="mb-2">{{ t('oauth.we_couldnt_find_account', provider=provider.value.capitalize()) }}</p>
        </div>
    </div>
    <div class="content-body">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            {% if user is none %}
                <h3>{{ t('oauth.new_to_openstreetmap') }}</h3>
                <p class="mb-2">{{ t('oauth.create_an_account') }}</p>
                <a class="mb-3 btn btn-primary px-4 fw-medium" href="/signup">
                    {{ t('users.new.title') | capitalize }}
                </a>
            {% endif %}

            <h3>{{ t('oauth.already_have_an_openstreetmap_account') }}</h3>
            <p class="mb-2">{{ t('oauth.connect_it_in_settings', provider=provider.value.capitalize()) }}</p>
            {% if user is none %}
                <button class="btn btn-outline-primary px-4 fw-medium" type="button" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                    {{ t('login.sign_in') }}
                </button>
            {% endif %}
        </div>
    </div>

{% endblock %}
