{% extends 'email/_base.jinja2' %}
{% block body %}
<p>{{ t('notifications.hello_user', user=user.display_name) }}</p>
<p>
    {% set _commenter -%}
    <a href="{{ APP_URL }}/user-id/{{ comment.user_id }}"
       style="text-decoration: none; color: #222"><b>{{ comment.user.display_name }}</b></a>
    {%- endset %}
    {% set _subject -%}
    <i>{{ diary.title }}</i>
    {%- endset %}
    {{ t('user_mailer.diary_comment_notification.header_html',
        from_user=_commenter,
        subject=_subject
    ) | safe }}
</p>
<table style="width: 100%; margin: 1em 0; background: #eee">
    <tr>
        <td style="width: 50px; vertical-align: top">
            <div style="margin: 1em">
                <a href="{{ APP_URL }}/user-id/{{ comment.user_id }}">
                    <img src="{{ APP_URL }}{{ comment.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                         width="50"
                         height="50" style="border-radius: 50%">
                </a>
            </div>
        </td>
        <td style="vertical-align: top">
            <div style="margin: 1em 1em 1em 0;">{{ comment.body_rich | safe }}</div>
        </td>
    </tr>
</table>
<p>
    {% set _click_here %}
    <a href="{{ APP_URL }}/diary/{{ comment.diary_id }}#comment{{ comment.id }}">{{ t('action.click_here') }}</a>
    {%- endset %}
    {{ t('notifications.diary_comment.click_here_to_join_the_discussion',
        click_here=_click_here
    ) | safe }}
    {% set _sending_a_message %}
    <a href="{{ APP_URL }}/message/new?reply_diary_comment={{ comment.id }}">{{ t('notifications.diary_comment.sending_a_message') }}</a>
    {%- endset %}
    {{ t('notifications.diary_comment.you_can_also_respond_privately_by_sending_a_message',
        sending_a_message=_sending_a_message
    ) | safe }}
</p>
{% endblock %}
