{% extends 'email/_base.jinja2' %}
{% block body %}
    <p>{{ t('notifications.hello_user', user=user.display_name) }}</p>
    <p>{{ t('user_mailer.lost_password.hopefully_you') }}</p>
    <p>{{ t('user_mailer.lost_password.click_the_link') }}</p>
    ›
    <a href="{{ APP_URL }}/reset-password?token={{ token }}">
        {{ t('notifications.click_here_to_reset_your_password') }}
    </a>
    <p>{{ t('notifications.otherwise_please_ignore_this_email') }}</p>
{% endblock %}
