.oauth-authorize-body {
    .header-avatar {
        font-size: 4em;
        border: 1px solid $border-color;
    }

    .bi-lightbulb-fill {
        color: $yellow-500;
        text-shadow: 0 0 0.5em transparentize($yellow-500, 0.5);
    }
}
