.settings-application-edit-body {
    .avatar-form {
        position: relative;

        img.avatar {
            font-size: 8rem;
            border: 1px solid tint-color($border-color, 70%);
            box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.05);
            pointer-events: none;
            transition: opacity 0.3s;

            @include media-breakpoint-down(xl) {
                font-size: 7rem;
            }
        }

        &.pending img.avatar {
            opacity: 0.5;
        }

        .dropdown {
            position: absolute;
            bottom: 1.125rem;
            left: -0.75rem;
        }
    }
}
