.settings-applications-body {
    .applications-list {
        > li:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }

        .avatar {
            font-size: 3em;
            border: 1px solid $border-color;
        }

        .form-text {
            line-height: 1.75;
        }
    }
}

.settings-applications-body,
.settings-application-edit-body,
.oauth-authorize-body {
    .scope {
        font-size: 0.875em;
        font-family: monospace;
        color: $gray-600;
    }
}
