<div class="auth-providers d-flex justify-content-center gap-3 gap-sm-4">
    {% for service in CONFIGURED_AUTH_PROVIDERS %}
    <form method="POST" action="/oauth2/{{ service }}/authorize">
        {% if providers_include_referer %}
        <input type="hidden" name="referer" required>
        {% endif %}
        <button type="submit" class="btn btn-link border" title="{{ t('service.' ~ service ~ '.title') }}" name="action"
            value="{{ providers_action }}">
            <img src="/static/img/brand/{{ service }}.webp" draggable="false" loading="lazy">
        </button>
    </form>
    {% endfor %}
</div>
