.account-confirm-body {
  .content-header {
    padding-bottom: 0;

    span {
      position: relative;
      top: -0.5rem;
    }

    .illustration {
      position: relative;
      display: inline;
      margin-left: 3rem;
    }
  }
}
