$_icon-color: var(--bs-tertiary-color);

.about-body {
  .content-header {
    padding: 0;
    text-wrap: pretty;

    .landing-image {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include media-breakpoint-down(md) {
          max-height: 15rem;
        }
      }

      .attribution {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem 1.5rem;
        margin-bottom: 0;
        line-height: 1.4;
        color: $body-bg;
        background: $vibrant-green;
      }
    }

    .landing-text {
      padding: 1.5rem 2rem;
      color: $body-bg;
      background: $body-color;

      img {
        height: calc(2rem * 1.2);
        vertical-align: bottom;
      }

      .vibrant {
        color: $vibrant-green;
      }
    }

    .header-body {
      @extend .bg-body;

      padding: 2rem 2.5rem;
    }
  }

  .header-body {
    h3 {
      display: flex;
      gap: 0.3em;
      align-items: center;
    }

    i.bi {
      display: inline-block;
      align-content: center;
      width: 2rem;
      height: 2rem;
      font-size: 0.55em;
      color: $_icon-color;
      text-align: center;
      border: 4px solid $_icon-color;

      @extend .rounded-circle;

      &.bi-heart-fill::before {
        position: relative;
        top: 1px;
        font-size: 0.875em;
      }
    }
  }

  .icon-symbol {
    display: inline-block;
    align-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.7em;
    font-weight: bold;
    color: $_icon-color;
    text-align: center;
    border: 4px solid $_icon-color;

    @extend .rounded-circle;

    &.copyright::before {
      position: relative;
      top: -0.5px;
      left: -1px;
      content: "C";
    }

    &.section::before {
      content: "ยง";
    }
  }
}

@include color-mode(dark) {
  .about-body {
    .content-header {
      .landing-text {
        background: $black;
      }
    }
  }
}
