$_icon-color: var(--bs-tertiary-color);

.about-body {
    .content-header {
        padding: 0;
        text-wrap: pretty;

        .landing-image {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include media-breakpoint-down(md) {
                    max-height: 15rem;
                }
            }

            .attribution {
                position: absolute;
                bottom: 0;
                right: 0;

                margin-bottom: 0;
                padding: 1rem 1.5rem;
                line-height: 1.4;

                background: $vibrant-green;
                color: $body-bg;
            }
        }

        .landing-text {
            padding: 1.5rem 2rem;
            background: $body-color;
            color: $body-bg;

            img {
                height: 1em;
            }

            .vibrant {
                color: $vibrant-green;
            }
        }

        .header-body {
            @extend .bg-body;
            padding: 2rem 2.5rem;
        }
    }

    .header-body {
        h3 {
            display: flex;
            align-items: center;
            gap: 0.3em;
        }

        i.bi {
            display: inline-block;
            text-align: center;
            align-content: center;
            width: 2rem;
            height: 2rem;
            font-size: 0.55em;

            @extend .rounded-circle;
            border: 4px solid $_icon-color;
            color: $_icon-color;

            &.bi-heart-fill::before {
                position: relative;
                top: 1px;
                font-size: 0.875em;
            }
        }
    }

    .icon-symbol {
        display: inline-block;
        text-align: center;
        align-content: center;
        width: 2rem;
        height: 2rem;
        font-size: 0.7em;
        font-weight: bold;

        @extend .rounded-circle;
        border: 4px solid $_icon-color;
        color: $_icon-color;

        &.copyright::before {
            position: relative;
            top: -0.5px;
            left: -1px;
            content: "C";
        }

        &.section::before {
            content: "ยง";
        }
    }
}

@include color-mode(dark) {
    .about-body {
        .content-header {
            .landing-text {
                background: $black;
            }
        }
    }
}
