{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('notes.index.heading', user=profile.display_name) }} | {% endblock %}
{% block body_class %}notes-body{% endblock %}
{% block body %}

    <div class="content-header pb-0">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
            <div class="row mb-3">
                <div class="col-auto">
                    <img class="avatar" src="{{ profile.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                </div>
                <div class="col">
                    <h1>{{ t('notes.index.heading', user=profile.display_name) }}</h1>
                    <p class="mb-0">{{ t('note.user.description') }}</p>
                </div>
            </div>

            {% include 'notes/_nav.jinja2' %}
        </div>
    </div>

    <div class="content-body">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">

            {% if notes_num_items %}
                <div class="notes-pagination">
                    <nav aria-label="{{ t('alt.page_navigation') }}">
                        <ul class="pagination pagination-sm justify-content-end mb-2">
                        </ul>
                    </nav>
                    <ul class="notes-list social-list list-unstyled mb-2"></ul>
                    <nav aria-label="{{ t('alt.page_navigation') }}">
                        <ul class="pagination pagination-sm justify-content-end mb-0"
                            data-action="/api/web/note/user/{{ profile.id }}?page={page}&num_items={{ notes_num_items }}&commented={{ commented }}&status={{ status }}"
                            data-pages="{{ notes_num_pages }}">
                        </ul>
                    </nav>
                </div>
            {% else %}
                <h3>{{ t('traces.index.empty_title') }}</h3>
            {% endif %}

        </div>
    </div>

{% endblock %}
