<!DOCTYPE html>
{%- set _dir = t('html.dir') -%}
<html
  lang="{{ lang }}"
  dir="{{ _dir }}"
  data-config="{{ WEB_CONFIG }}"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    {{ vite_render_asset('app/views/id.ts', rtl=_dir == 'rtl') | safe }}
  </head>

  <body>
    <div class="id-container"></div>
  </body>
</html>
