{% extends '_base' %}
{% block body_class %}map-body{% endblock %}
{% block body %}
  <div class="main-map-container">
    <iframe
      class="main-map id-iframe"
      data-url="{{ ID_URL }}"
    ></iframe>
  </div>
{% endblock %}
