{% extends '_base' %}
{% block body_class %}map-body{% endblock %}
{% block body %}
<div class="main-map-container">
    <iframe id="MainMap" class="rapid-iframe" data-url="{{ RAPID_URL }}"></iframe>
</div>
{% endblock %}
