<div class="action-sidebar index" data-sidebar-overlay="1">
    <div class="section sidebar-banner welcome-banner d-none" data-name="welcome" role="alert">

        <div class="row g-1">
            <div class="col">
                <h2 class="sidebar-title">
                    {{ t('layouts.intro_header') }}
                </h2>
            </div>
            <div class="col-auto">
                <button class="btn-close" aria-label="{{ t('javascripts.close') }}" type="button"></button>
            </div>
        </div>

        <p class="fw-light mb-2">
            {{ t('layouts.intro_text') }}
        </p>

        <p class="fw-light">
            {% set ucl %}
            <a href="https://www.ucl.ac.uk">
                {{- t('layouts.partners_ucl') -}}
            </a>
            {%- endset %}
            {% set fastly %}
            <a href="https://www.fastly.com">
                {{- t('layouts.partners_fastly') -}}
            </a>
            {%- endset %}
            {% set bytemark %}
            <a href="https://www.bytemark.co.uk">
                {{- t('layouts.partners_bytemark') -}}
            </a>
            {%- endset %}
            {% set partners %}
            <a href="https://hardware.openstreetmap.org/thanks/">
                {{- t('layouts.partners_partners') -}}
            </a>
            {%- endset %}
            {{ t(
                'layouts.hosting_partners_html',
                ucl=ucl,
                fastly=fastly,
                bytemark=bytemark,
                partners=partners,
            ) | safe }}
        </p>

        <div class="row g-2">
            <div class="col">
                {% if user is none %}
                <a class="btn btn-primary w-100" href="/signup">
                    {{ t('layouts.start_mapping') }}
                </a>
                {% else %}
                <a class="btn btn-primary w-100" href="/?edit_help=1">
                    {{ t('layouts.start_mapping') }}
                </a>
                {% endif %}
            </div>
            <div class="col">
                <a class="btn btn-outline-primary w-100" href="/about">
                    {{ t('layouts.learn_more') }}
                </a>
            </div>
        </div>

    </div>

    <div class="section sidebar-banner image-banner d-none" data-name="example2" role="alert">
        <a href="https://example.com" target="_blank">
            <img src="/static/img/banner/example2.webp">
        </a>
        <div class="btn-close-wrapper">
            <button class="btn-close" aria-label="{{ t('javascripts.close') }}" type="button"></button>
        </div>
    </div>
</div>
