<div class="action-sidebar changesets-history d-none">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1 mb-3">
                <div class="col">
                    <h2 class="sidebar-title"></h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <ul class="changesets-list social-list list-unstyled mb-0">
                <template class="entry">
                    <li class="social-action social-entry">
                        <p class="header text-muted d-flex justify-content-between">
                            <span>
                                <span class="user"></span>
                                <span class="date"></span>
                            </span>
                            <a class="stretched-link"></a>
                        </p>
                        <div class="body d-flex justify-content-between">
                            <div class="comment"></div>
                            <div class="num-comments"></div>
                        </div>
                    </li>
                </template>
            </ul>

            <div class="loading text-center mt-4">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">{{ t('browse.start_rjs.loading') }}</span>
                </div>
            </div>

        </div>
    </div>
</div>
