<span class="leaflet-contextmenu-item position-relative d-flex align-items-center justify-content-between">
    <button class="btn geolocation-dd flex-grow-1"></button>
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
        <li class="leaflet-context-menu">
            <button class="btn leaflet-contextmenu-item geolocation-geo"> </button>
            <button class="btn leaflet-contextmenu-item geolocation-uri"> </button>

        </li>
    </ul>

</span>
<button class="btn leaflet-contextmenu-item routing-from">{{ t('javascripts.context.directions_from') }}</button>
<button class="btn leaflet-contextmenu-item routing-to">{{ t('javascripts.context.directions_to') }}</button>
<button class="btn leaflet-contextmenu-item new-note">{{ t('context.suggest_edit') }}</button>
<button class="btn leaflet-contextmenu-item show-address">{{ t('javascripts.context.show_address') }}</button>
<button class="btn leaflet-contextmenu-item query-features disabled">{{ t('javascripts.context.query_features') }}</button>
<button class="btn leaflet-contextmenu-item center-here">{{ t('javascripts.context.centre_map') }}</button>
<button class="btn leaflet-contextmenu-item measure-distance">{{ t('context.measure_distance') }}</button>
