<a class="leaflet-contextmenu-item routing-from" href="#">{{ t('javascripts.context.directions_from') }}</a>
<a class="leaflet-contextmenu-item routing-to" href="#">{{ t('javascripts.context.directions_to') }}</a>
<a class="leaflet-contextmenu-item new-note" href="#">{{ t('context.suggest_edit') }}</a>
<a class="leaflet-contextmenu-item show-address" href="#">{{ t('javascripts.context.show_address') }}</a>
<a class="leaflet-contextmenu-item query-features disabled" href="#">{{ t('javascripts.context.query_features') }}</a>
<a class="leaflet-contextmenu-item center-here" href="#">{{ t('javascripts.context.centre_map') }}</a>
<a class="leaflet-contextmenu-item measure-distance" href="#">{{ t('context.measure_distance') }}</a>
