<div class="data-layer-load-alert alert alert-warning map-alert d-none" role="alert">
    <p class="mb-2">{{ t('map.data.display_large_data_warning') }}</p>
    <div class="d-flex justify-content-around align-items-center mx-3">
        <button class="hide-data-btn btn btn-primary" type="button">
            <i class="bi bi-eye-slash-fill me-1"></i>
            {{ t('map.data.hide_map_data') }}
        </button>
        {{ t('map.data.or') }}
        <button class="show-data-btn btn btn-primary" type="button">
            {{ t('map.data.show_map_data') }}
            <i class="bi bi-eye-fill ms-1"></i>
        </button>
    </div>
</div>
<div class="data-layer-error-alert alert alert-warning map-alert d-none" role="alert">
    {{ t('map.data.too_much_data_error') }}
    <i class="bi bi-zoom-in ms-1"></i>
</div>
