<div class="action-sidebar distance d-none" data-sidebar-overlay="1">
    <div class="sidebar-content">
        <div class="section">

            <div class="row g-1">
                <div class="col">
                    <i class="bi bi-signpost-2"></i>
                    <span>{{ t('javascripts.directions.distance') }}</span>:
                    <span class="total-distance fw-semibold"></span>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

        </div>
    </div>
</div>
