<div class="sidebar action-sidebar routing">
    <div class="sidebar-content">
        <form class="section">

            <div class="row g-1 mb-1">
                <div class="col">
                    <h2 class="sidebar-title">
                        {{ t('javascripts.directions.directions') }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="btn-close" aria-label="{{ t('javascripts.close') }}"></button>
                </div>
            </div>

            <div class="d-flex align-items-end mb-1">
                <div class="custom-input-group flex-grow-1 me-2">
                    <label>{{ t('site.search.from') }}</label>
                    <input type="text" class="form-control" name="from">
                </div>
                <img class="draggable-marker btn btn-light" src="/static/img/marker/green.webp"
                    data-guid="018db10c-729f-75cd-a3a9-1beabe239ed0">
            </div>

            <div class="d-flex align-items-end mb-1">
                <div class="custom-input-group flex-grow-1 me-2">
                    <label>{{ t('site.search.to') }}</label>
                    <input type="text" class="form-control" name="to">
                </div>
                <img class="draggable-marker btn btn-light" src="/static/img/marker/red.webp"
                    data-guid="018db10c-729f-73b8-853d-038e3b39ed0b">
            </div>

            <button class="btn btn-sm btn-link reverse-btn mb-2" type="button">
                <i class="bi bi-arrow-repeat"></i>
                {{ t('site.search.reverse_directions_text') }}
            </button>

            <div class="row align-items-end g-2">

                <div class="col">
                    <label class="form-label">{{ t('map.routing.engine.title') }}</label>
                    <select class="form-select format-select" name="engine">
                        <option value="graphhopper_car">
                            {{ t('javascripts.directions.engines.graphhopper_car') }}
                        </option>
                        <option value="fossgis_osrm_car">
                            {{ t('javascripts.directions.engines.fossgis_osrm_car') }}
                        </option>
                        <option value="fossgis_valhalla_car" selected>
                            {{ t('javascripts.directions.engines.fossgis_valhalla_car') }}
                        </option>
                        <option value="graphhopper_bicycle">
                            {{ t('javascripts.directions.engines.graphhopper_bicycle') }}
                        </option>
                        <option value="fossgis_osrm_bike">
                            {{ t('javascripts.directions.engines.fossgis_osrm_bike') }}
                        </option>
                        <option value="fossgis_valhalla_bicycle">
                            {{ t('javascripts.directions.engines.fossgis_valhalla_bicycle') }}
                        </option>
                        <option value="graphhopper_foot">
                            {{ t('javascripts.directions.engines.graphhopper_foot') }}
                        </option>
                        <option value="fossgis_osrm_foot">
                            {{ t('javascripts.directions.engines.fossgis_osrm_foot') }}
                        </option>
                        <option value="fossgis_valhalla_foot">
                            {{ t('javascripts.directions.engines.fossgis_valhalla_foot') }}
                        </option>
                    </select>
                </div>

                <div class="col-auto">
                    <input type="hidden" name="bbox">
                    <button class="btn btn-primary" type="submit">
                        {{ t('site.search.submit_text') }}
                    </button>
                </div>

            </div>

        </form>
    </div>
</div>
