<div class="action-sidebar routing d-none">
    <div class="sidebar-content">
        <form class="routing-form section" method="POST" action="/api/web/routing">

            <div class="row g-1">
                <div class="col">
                    <h2 class="sidebar-title">
                        {{ t('javascripts.directions.directions') }}
                    </h2>
                </div>
                <div class="col-auto">
                    <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"
                        type="button"></button>
                </div>
            </div>

            <div class="d-flex align-items-end mb-1">
                <div class="custom-input-group flex-grow-1 me-2">
                    <label>{{ t('site.search.from') }}</label>
                    <input type="text" class="form-control" name="start" required>
                    <input type="hidden" name="start_loaded" value="" autocomplete="off">
                    <input type="hidden" name="start_loaded_lon" value="0" autocomplete="off">
                    <input type="hidden" name="start_loaded_lat" value="0" autocomplete="off">
                </div>
                <img class="draggable-marker btn btn-light" src="/static/img/marker/green.webp"
                    alt="{{ t('alt.marker.green') }}" loading="lazy" data-direction="start"
                    title="{{ t('map.routing.drag_and_drop.start') }}">
            </div>

            <div class="d-flex align-items-end mb-1">
                <div class="custom-input-group flex-grow-1 me-2">
                    <label>{{ t('site.search.to') }}</label>
                    <input type="text" class="form-control" name="end" required>
                    <input type="hidden" name="end_loaded" value="" autocomplete="off">
                    <input type="hidden" name="end_loaded_lon" value="0" autocomplete="off">
                    <input type="hidden" name="end_loaded_lat" value="0" autocomplete="off">
                </div>
                <img class="draggable-marker btn btn-light" src="/static/img/marker/red.webp"
                    alt="{{ t('alt.marker.red') }}" loading="lazy" data-direction="end"
                    title="{{ t('map.routing.drag_and_drop.end') }}">
            </div>

            <button class="btn btn-sm btn-link reverse-btn mb-2" type="button">
                <i class="bi bi-arrow-repeat me-1"></i>
                {{- t('site.search.reverse_directions_text') }}
            </button>

            <div class="row align-items-end g-2 mb-2">

                <div class="col">
                    <label class="form-label">{{ t('map.routing.engine.title') }}</label>
                    <select class="form-select format-select" name="engine" required>
                        <option value="graphhopper_car">
                            {{ t('javascripts.directions.engines.graphhopper_car') }}
                        </option>
                        <option value="osrm_car">
                            {{ t('javascripts.directions.engines.fossgis_osrm_car') }}
                        </option>
                        <option value="valhalla_auto" selected>
                            {{ t('javascripts.directions.engines.fossgis_valhalla_car') }}
                        </option>
                        <option value="graphhopper_bicycle">
                            {{ t('javascripts.directions.engines.graphhopper_bicycle') }}
                        </option>
                        <option value="osrm_bike">
                            {{ t('javascripts.directions.engines.fossgis_osrm_bike') }}
                        </option>
                        <option value="valhalla_bicycle">
                            {{ t('javascripts.directions.engines.fossgis_valhalla_bicycle') }}
                        </option>
                        <option value="graphhopper_foot">
                            {{ t('javascripts.directions.engines.graphhopper_foot') }}
                        </option>
                        <option value="osrm_foot">
                            {{ t('javascripts.directions.engines.fossgis_osrm_foot') }}
                        </option>
                        <option value="valhalla_pedestrian">
                            {{ t('javascripts.directions.engines.fossgis_valhalla_foot') }}
                        </option>
                    </select>
                </div>

                <div class="col-auto">
                    <input type="hidden" name="bbox" autocomplete="off" required>
                    <button class="btn btn-primary" type="submit">
                        {{ t('site.search.submit_text') }}
                    </button>
                </div>

            </div>

        </form>
        <div class="section">
            <div class="loading text-center mt-2 d-none">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">{{ t('browse.start_rjs.loading') }}</span>
                </div>
            </div>

            <div class="route d-none">
                <div class="route-info mb-3">
                    <div class="mb-1">
                        <span class="me-2">
                            <i class="bi bi-signpost-2"></i>
                            <span>{{ t('javascripts.directions.distance') }}:</span>
                            <span class="distance"></span>
                        </span>
                        <span>
                            <i class="bi bi-stopwatch"></i>
                            <span>{{ t('javascripts.directions.time') }}:</span>
                            <span class="time"></span>
                        </span>
                    </div>
                    <div class="route-elevation-info">
                        <span class="me-2">
                            <span>{{ t('javascripts.directions.ascend') }}:</span>
                            <span class="ascend"></span>
                        </span>
                        <span>
                            <span>{{ t('javascripts.directions.descend') }}:</span>
                            <span class="descend"></span>
                        </span>
                    </div>
                </div>

                <template class="popup">
                    <div>
                        <span class="number"></span>
                        <span class="instruction"></span>
                    </div>
                </template>

                <template class="step">
                    <tr>
                        <td class="icon">
                            <div></div>
                        </td>
                        <td class="number"></td>
                        <td class="instruction"></td>
                        <td class="distance"></td>
                    </tr>
                </template>

                <table class="route-steps table table-sm align-middle mb-4">
                    <tbody></tbody>
                </table>

                <div class="attribution"></div>
            </div>
        </div>
    </div>
</div>
