        <div xmlns="http://www.w3.org/1999/xhtml">
          <style>th { text-align: left } tr { vertical-align: top }</style>
          <table>
            <tr>
              <th>{{ t('browse.created') }}</th>
              <td>{{ created }}</td>
            </tr>
            {% if closed is defined and closed|length %}
            <tr>
              <th>{{ t('browse.closed') }}</th>
              <td>{{ closed }}</td>
            </tr>
            {% endif %}
            <tr>
              <th>{{ t('browse.changeset.belongs_to') }}</th>
              <td>
                <a href="{{ author_uri }}">{{ author_name }}</a>
              </td>
            </tr>
            <tr>
              <th>Tags</th>
              <td>
                <table cellpadding="0">
                  <tr>
                    <td>comment = added water</td>
                  </tr>
                  <tr>
                    <td>created_by = JOSM/1.5 (19096 en)</td>
                  </tr>
                  <tr>
                    <td>source = Bing</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
