@use "bootstrap/scss/functions";

.admin_users\.EditPage {
  .content-header {
    img.avatar {
      font-size: 3.3rem;
    }
  }

  .table {
    tr:last-child {
      td {
        border-bottom: unset;
      }
    }
  }
}
