{% extends '_base' %}
{% block title_prefix %}User management | {{ edit_user.display_name }} | {% endblock %}
{% block body_class %}admin-user-edit-body{% endblock %}
{% block body %}
{% set _is_deleted = user_is_deleted(edit_user) %}

<div class="content-header pb-0">
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
        <a href="/admin/users" class="btn btn-sm btn-light border mb-3">
            <i class="bi bi-arrow-left me-1-5"></i>Back to users
        </a>
        <div class="row mb-3">
            <div class="col-auto">
                <a href="/user/{{ edit_user.display_name }}">
                    <img class="avatar" src="{{ user_avatar_url(edit_user) }}" alt="{{ t('alt.profile_picture') }}">
                </a>
            </div>
            <div class="col">
                <h1 class="mb-2">
                    <a class="link-body-emphasis text-decoration-none" href="/user/{{ edit_user.display_name }}">
                        {{ edit_user.display_name }}
                    </a>
                </h1>
                <div class="d-flex flex-wrap gap-3 text-body-secondary">
                    <span>
                        <i class="bi bi-calendar3 me-1"></i>
                        Member since
                        <time datetime="{{ edit_user.created_at.isoformat() }}" data-date="short"
                            data-time="short"></time>
                    </span>
                    <a href="/audit?user_id={{ edit_user.id }}">
                        <i class="bi bi-journal-text me-1-5"></i>Audit logs
                    </a>
                </div>
                {% if _is_deleted %}
                <div class="alert alert-secondary mt-3 mb-0" role="alert">
                    <i class="bi bi-info-circle me-2"></i>
                    This account has been deleted
                </div>
                {% elif edit_user.scheduled_delete_at %}
                <div class="alert alert-warning mt-3 mb-0" role="alert">
                    <i class="bi bi-exclamation-triangle me-2"></i>
                    Scheduled for deletion on <time datetime="{{ edit_user.scheduled_delete_at.isoformat() }}"
                        data-date="long" data-time="short"></time>
                </div>
                {% endif %}
            </div>
            {% if not _is_deleted %}
            <div class="col-auto">
                <form class="impersonate-form" method="POST"
                    action="/api/web/admin/users/{{ edit_user.id }}/impersonate">
                    <button class="btn btn-secondary" type="submit">
                        Login as user
                        <i class="bi bi-box-arrow-in-right ms-1"></i>
                    </button>
                </form>
            </div>
            {% endif %}
        </div>

        {% if not _is_deleted %}
        <nav>
            <ul class="nav nav-underline gap-2 gap-sm-3 justify-content-around justify-content-sm-start mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="#account" data-bs-toggle="tab">
                        Account settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#connections" data-bs-toggle="tab">
                        {{ t('settings.connected_accounts') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#authorizations" data-bs-toggle="tab">
                        {{ t('settings.authorizations.title') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#applications" data-bs-toggle="tab">
                        {{ t('settings.my_applications.title') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tokens" data-bs-toggle="tab">
                        {{ t('settings.my_tokens.title') }}
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

<div class="content-body">
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
        {% if not _is_deleted %}
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account">
                <h3 class="mb-3">Account information</h3>
                <form class="account-form mb-4" method="POST" action="/api/web/admin/users/{{ edit_user.id }}/update">
                    <label class="form-label d-block">
                        <span>{{ t('activerecord.attributes.user.display_name') | capitalize }}</span>
                        <input type="text" class="form-control mt-2" name="display_name"
                            placeholder="{{ edit_user.display_name }}" maxlength="{{ DISPLAY_NAME_MAX_LENGTH }}">
                    </label>
                    <p class="form-text">Leave blank to keep current value</p>

                    <label class="form-label d-block">
                        <span>{{ t('passwords.new.email address') | capitalize }}</span>
                        <input type="email" class="form-control mt-2" name="email" placeholder="{{ edit_user.email }}">
                    </label>
                    <p class="form-text">Leave blank to keep current value</p>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="email_verified" value="true"
                                {% if edit_user.email_verified %}checked{% endif %}>
                            Email verified
                        </label>
                    </div>

                    <hr class="my-3">

                    <h4 class="mb-3">Roles</h4>
                    <div class="mb-3">
                        {% for role in USER_ROLES %}
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input role-checkbox" type="checkbox" name="roles"
                                    value="{{ role }}" {% if role in edit_user.roles %}checked{% endif %}>
                                {% if role == 'administrator' %}
                                <i class="bi bi-star-fill text-danger" aria-hidden="true"></i>
                                {% elif role == 'moderator' %}
                                <i class="bi bi-star-fill text-blue" aria-hidden="true"></i>
                                {% else %}
                                <i class="bi bi-star-fill text-secondary" aria-hidden="true"></i>
                                {% endif %}
                                <span>{{ role | title }}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <hr class="my-3">

                    <h4 class="mb-3">{{ t('settings.change_password') }}</h4>
                    <label class="form-label d-block">
                        <span>{{ t('settings.new_password') }}</span>
                        <input type="password" class="form-control mt-2" data-name="new_password"
                            minlength="{{ PASSWORD_MIN_LENGTH }}">
                    </label>
                    <p class="form-text">Leave blank to keep current password</p>

                    <label class="form-label d-block mb-3">
                        <span>{{ t('settings.new_password_repeat') }}</span>
                        <input type="password" class="form-control mt-2" data-name="new_password_confirm"
                            minlength="{{ PASSWORD_MIN_LENGTH }}">
                    </label>

                    <div class="text-end">
                        <button class="btn btn-primary px-3" type="submit">
                            {{ t('action.save_changes') }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="connections">
                <h3 class="mb-3">{{ t('settings.connected_accounts') }}</h3>
                <p>{{ t('settings.connections.description') }}</p>
                {% if connected_providers %}
                <div class="table-responsive">
                    <table class="table align-middle">
                        <tbody>
                            {% for provider in connected_providers %}
                            <tr>
                                <td class="d-flex align-items-center">
                                    <img class="auth-provider-icon border me-3 me-lg-4"
                                        src="/static/img/brand/{{ provider }}.webp" alt="{{ t('alt.service_image') }}">
                                    <div>
                                        <h6 class="mb-0">{{ t('service.' ~ provider ~ '.title') }}</h6>
                                        <p class="form-text mb-0">{{ t('service.' ~ provider ~ '.description') }}</p>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <span class="text-success">
                                        <i class="bi bi-link-45deg me-2"></i>
                                        {{ t('state.connected') }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-body-secondary">No connected accounts</p>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="authorizations">
                <h3 class="mb-3">{{ t('settings.authorizations.title') }}</h3>
                <p>{{ t('settings.authorizations.description') }}</p>
                {% if authorizations %}
                <ul class="applications-list list-unstyled">
                    {% for token in authorizations %}
                    {% if token.application %}
                    <li class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ token.application.name }}</h5>
                                <p class="card-text text-body-secondary">
                                    Authorized <time datetime="{{ token.authorized_at.isoformat() }}" data-date="long"
                                        data-time="short"></time>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-body-secondary">No authorized applications</p>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="applications">
                <h3 class="mb-3">{{ t('settings.my_applications.title') }}</h3>
                <p>{{ t('settings.my_applications.description') }}</p>
                {% if applications %}
                <ul class="applications-list list-unstyled">
                    {% for app in applications %}
                    <li class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ app.name }}</h5>
                                <p class="card-text text-body-secondary">
                                    Client ID: <code>{{ app.client_id }}</code>
                                </p>
                                <p class="card-text text-body-secondary">
                                    Created <time datetime="{{ app.created_at.isoformat() }}" data-date="long"
                                        data-time="short"></time>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-body-secondary">
                    {{ t('settings.my_applications.you_have_not_registered_any_applications_yet') }}</p>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="tokens">
                <h3 class="mb-3">{{ t('settings.my_tokens.title') }}</h3>
                <p>{{ t('settings.my_tokens.description') }}</p>
                {% if tokens %}
                <ul class="applications-list list-unstyled">
                    {% for token in tokens %}
                    <li class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ token.name }}</h5>
                                <p class="card-text text-body-secondary">
                                    Created <time datetime="{{ token.created_at.isoformat() }}" data-date="long"
                                        data-time="short"></time>
                                </p>
                                {% if token.authorized_at %}
                                <p class="card-text text-body-secondary">
                                    Last used <time datetime="{{ token.authorized_at.isoformat() }}"
                                        data-style="short"></time>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-body-secondary">{{ t('settings.my_tokens.you_have_not_created_any_tokens_yet') }}</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
