{% if messages %}
<ul class="messages-list list-unstyled">
    {% for message in messages %}
    <li class="social-action social-entry {% if message.id == active_message_id %}active{% endif %} {% if inbox and not message.is_read %}unread{% endif %}"
        data-id="{{ message.id }}">
        <p class="header text-muted d-flex justify-content-between">
            {% if inbox %}
            <span>
                <a href="/user/{{ message.from_user.display_name }}">
                    <img class="avatar" src="{{ message.from_user.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                        loading="lazy">{{ message.from_user.display_name }}{#
                #}</a>
                {{ t('messages.action_sent') }}
                {{ timeago(message.created_at, html=True) | safe }}
            </span>
            {% else %}
            <span>
                <a href="/user/{{ message.to_user.display_name }}">
                    <img class="avatar" src="{{ message.to_user.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                        loading="lazy">{{ message.to_user.display_name }}{#
                #}</a>
                {{ t('messages.action_received') }}
                {{ timeago(message.created_at, html=True) | safe }}
            </span>
            {% endif %}
            <span>
                <span class="unread-badge badge text-bg-primary">
                    <i class="bi bi-bell-fill me-1"></i>{{ t('state.unread') }}
                </span>
            </span>
        </p>
        <div class="body">
            <h6 class="title">{{ message.subject }}</h6>
            <p class="description">{{ message.body | truncate(250) }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% include 'messages/_list_nav.jinja2' %}
{% else %}
<p>{{ t('traces.index.empty_title') }}</p>
{% endif %}
