{% set format = value.format %}
{% if format is none %}
<span class="tag-value">{{ value.text }}</span>
{% elif format == 'html' %}
<span class="tag-value">{{ value.data | safe }}</span>
{% elif format == 'url-safe' %}
<a class="tag-value" href="{{ value.data }}">{{ value.text }}</a>
{% elif format == 'url' or format == 'email' or format == 'phone' %}
<a class="tag-value" href="{{ value.data }}" rel="noopener nofollow">{{ value.text }}</a>
{% elif format == 'color' %}
<span class="tag-value"><span class="color-preview" data-color="{{ value.data }}"></span>{{ value.text }}</span>
{% endif %}
