<div class="sidebar-content">
    <div class="section">

        <div class="row g-1 mb-1">
            <div class="col">
                <h2 class="sidebar-title" data-params="{{ params }}">
                    {{ t('browse.in_changeset') }}: {{ changeset.id }}
                </h2>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>

        <div class="social-entry">
            <p class="header text-muted d-flex justify-content-between">
                <span>
                    {% if changeset.user_id is none %}
                    {{ t('browse.anonymous') }}
                    {% else %}
                    <a href="/user/{{ changeset.user.display_name }}" rel="author">
                        <img class="avatar" src="{{ changeset.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">{#
                    #}{{ changeset.user.display_name }}{#
                    #}</a>
                    {% endif %}
                    {% if changeset.closed_at is none %}
                    {{ t('browse.created') | lower }}
                    {{ timeago(changeset.created_at, html=True) | safe }}
                    {% else %}
                    {{ t('browse.closed') | lower }}
                    {{ timeago(changeset.closed_at, html=True) | safe }}
                    {% endif %}
                </span>
                {% if changeset.closed_at is none %}
                <span>
                    <span class="open-badge badge text-bg-success"
                        title="{{ t('changeset.this_changeset_is_state', state=t('changeset.open').lower()) }}">
                        <i class="bi bi-unlock-fill"></i>
                    </span>
                </span>
                {% endif %}
            </p>
            <p class="body fst-italic">
                {% for value in comment_tag.values %}
                {% include 'partial/_tag_value.jinja2' %}
                {% endfor %}
            </p>
        </div>

        {% if tags %}
        <div class="tags">
            <table class="table table-sm">
                <tbody dir="auto">
                    {% for tag in tags %}
                    <tr>
                        <td>
                            {% set value = tag.key %}
                            {% include 'partial/_tag_value.jinja2' %}
                        </td>
                        <td>
                            {% for value in tag.values %}
                            {% include 'partial/_tag_value.jinja2' %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <div class="mb-4"></div>

        <div class="row g-1 mb-1">
            <div class="col">
                <h4>{{ t('browse.changeset.discussion') }}</h4>
            </div>
            {% if user is not none %}
            {% if is_subscribed %}
            <form class="col-auto subscription-form" method="POST"
                action="/api/web/changeset/{{ changeset.id }}/unsubscribe">
                <button class="btn btn-sm btn-light border" type="submit">
                    <i class="bi bi-bookmark-check me-1"></i>
                    {{ t('javascripts.changesets.show.unsubscribe') }}
                </button>
            </form>
            {% else %}
            <form class="col-auto subscription-form" method="POST"
                action="/api/web/changeset/{{ changeset.id }}/subscribe">
                <button class="btn btn-sm btn-light border" type="submit">
                    {{ t('javascripts.changesets.show.subscribe') }}
                </button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        {% if changeset.comments %}
        <ul class="list-unstyled">
            {% for comment in changeset.comments %}
            <li class="social-entry">
                <p class="header text-muted">
                    <a href="/user/{{ comment.user.display_name }}">
                        <img class="avatar" src="{{ comment.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                            loading="lazy">{#
                        #}{{ comment.user.display_name }}{#
                    #}</a>
                    {{ t('action.commented') }}
                    {{ timeago(comment.created_at, html=True) | safe }}
                </p>
                <p class="body">
                    {{ comment.body_rich | safe }}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if user is not none %}
        <form class="comment-form mb-2" method="POST" action="/api/web/changeset/{{ changeset.id }}/comment">
            <div class="mb-3">
                <textarea class="form-control" name="comment" rows="4"
                    maxlength="{{ CHANGESET_COMMENT_BODY_MAX_LENGTH }}" required></textarea>
            </div>
            <div class="text-end">
                <button class="btn btn-primary" type="submit">
                    {{ t('action.comment') }}
                </button>
            </div>
        </form>
        {% else %}
        <p class="text-center mb-2">
            {# TODO: referer here? #}
            <a href="/login">
                {{ t('browse.changeset.join_discussion') }}
            </a>
        </p>
        {% endif %}

        <div class="elements mt-4 mb-1">
            <template class="group">
                <h4 class="title mt-3"></h4>
                <table class="table table-borderless mb-0">
                    <tbody></tbody>
                </table>
                <nav aria-label="{{ t('alt.elements_page_navigation') }}">
                    <ul class="pagination pagination-sm justify-content-end mt-2 mb-0"></ul>
                </nav>
            </template>
            <template class="entry">
                <tr>
                    <td><img></td>
                    <td>
                        <a class="link-latest"></a>,
                        <a class="link-version"></a>
                    </td>
                </tr>
            </template>
        </div>

    </div>
    <div class="section text-center">
        {% if changeset.user_id is not none %}
        <div class="mb-2">
            {% if prev_changeset_id %}
            <a href="/changeset/{{ prev_changeset_id }}" rel="prev">
                «
                {{ prev_changeset_id }}{#
            #}</a>
            ·
            {% endif %}
            <a href="/user/{{ changeset.user.display_name }}" rel="author">
                {{ changeset.user.display_name }}{#
            #}</a>
            {% if next_changeset_id %}
            ·
            <a href="/changeset/{{ next_changeset_id }}" rel="next">
                {{ next_changeset_id }}
                »{#
            #}</a>
            {% endif %}
        </div>
        {% endif %}

        <small>
            <a href="{{ API_URL }}/api/0.6/changeset/{{ changeset.id }}">
                {{ t('browse.changeset.changesetxml') }}{#
            #}</a>
            ·
            <a href="{{ API_URL }}/api/0.6/changeset/{{ changeset.id }}/download">
                {{ t('browse.changeset.osmchangexml') }}{#
            #}</a>
        </small>
    </div>
</div>
