<div class="sidebar-content" data-tags-diff-mode="{{ tags_diff_mode }}">
    <div class="section pb-1">
        <div class="row g-1 mb-1">
            <div class="col">
                <h2 class="sidebar-title">
                    {% if type == 'node' %}
                    {{ t('browse.node.history_title_html', name=id) | safe }}
                    {% elif type == 'way' %}
                    {{ t('browse.way.history_title_html', name=id) | safe }}
                    {% elif type == 'relation' %}
                    {{ t('browse.relation.history_title_html', name=id) | safe }}
                    {% endif %}
                </h2>
                <div class="form-check ms-1">
                    <label class="form-check-label">
                        <input class="form-check-input tags-diff-mode" type="checkbox" checked>
                        {{ t('element.tags_diff_mode') }}
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>
    </div>

    {% for data in elements_data %}
    {% set element = data.element %}
    {% set changeset = data.changeset %}
    {% set prev_version = data.prev_version %}
    {% set next_version = data.next_version %}
    {% set icon = data.icon %}
    {% set name = data.name %}
    {% set tags_map = data.tags_map %}
    {% set comment_tag = data.comment_tag %}
    {% set show_elements = data.show_elements %}
    {% set show_parents = data.show_parents %}
    {% set compact = True %}
    <div class="version-section section position-relative" data-params="{{ data.params }}"
        data-leaflet="{{ data.leaflet }}">
        <a class="stretched-link" href="/{{ type }}/{{ id }}/history/{{ element.version }}"></a>
        <h3 class="version-badge badge mb-3 {% if next_version is none %}is-latest{% endif %}">
            {{ t('browse.version') }} {{ element.version }}
        </h3>
        {% include 'partial/_element_content.jinja2' %}
    </div>
    {% endfor %}

    {% if num_pages > 1 %}
    <div class="section">
        <nav aria-label="{{ t('alt.elements_page_navigation') }}">
            <ul class="history-pagination pagination pagination-sm justify-content-end mb-0" data-page="{{ page }}"
                data-num-pages="{{ num_pages }}"></ul>
        </nav>
    </div>
    {% endif %}
</div>
