<div class="sidebar-content">
    <div class="section">

        <div class="row g-1 mb-1">
            <div class="col">
                <h2 class="sidebar-title">
                    {{ t('browse.not_found.title') }}
                </h2>
            </div>
            <div class="col-auto">
                <button class="btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>

        <p>
            {% if type == 'node' %}
            {{ t(
                    'browse.not_found.sorry',
                    type=t('javascripts.query.node').lower(),
                    id=id,
                ) }}
            {% elif type == 'way' %}
            {{ t(
                    'browse.not_found.sorry',
                    type=t('javascripts.query.way').lower(),
                    id=id,
                ) }}
            {% elif type == 'relation' %}
            {{ t(
                    'browse.not_found.sorry',
                    type=t('javascripts.query.relation').lower(),
                    id=id,
                ) }}
            {% elif type == 'changeset' %}
            {{ t(
                    'browse.not_found.sorry',
                    type=t('browse.in_changeset').lower(),
                    id=id,
                ) }}
            {% elif type == 'note' %}
            {{ t(
                    'browse.not_found.sorry',
                    type=t('note.title').lower(),
                    id=id,
                ) }}
            {% endif %}
        </p>

    </div>
</div>
