<div class="sidebar-content">
    <div class="section">

        <div class="row g-1 mb-1">
            <div class="col">
                <h2>
                    <span class="sidebar-title" data-params="{{ params }}">
                        {{ t('note.title') }}: {{ note.id }}
                    </span>
                    <span class="status-badge badge" data-status="{{ status }}">
                        {% if status == 'open' %}
                            {{ t('state.unresolved') }}
                        {% elif status == 'closed' %}
                            {{ t('state.resolved') }}
                        {% elif status == 'hidden' %}
                            <i class="bi bi-eye-slash-fill"></i>
                            {{ t('state.hidden') }}
                        {% endif %}
                    </span>
                </h2>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>

        <div class="social-entry">
            <p class="header text-muted d-flex justify-content-between">
                <span>
                    {% if header.user_id is none %}
                        {{ t('browse.anonymous') }}
                    {% else %}
                        <a href="/user/{{ header.user.display_name }}" rel="author">
                        <img class="avatar" src="{{ header.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                        {{- header.user.display_name -}}
                    </a>
                    {% endif %}
                    {{ t('browse.created') | lower }}
                    <time datetime="{{ header.created_at.isoformat() }}" data-style="long"></time>
                </span>
            </p>
            {% if header.body %}
                <div class="body pre">{{ header.body_rich | safe }}</div>
            {% endif %}
            {% if header.user_id is none %}
                <div class="alert alert-warning mb-2" role="alert">
                    {{ t('notes.show.anonymous_warning') }}
                </div>
            {% endif %}
        </div>
        <p class="location-btn-container mb-4">
            {{ t('diary_entries.form.location') }}:
            <button class="location-btn btn btn-link stretched-link">{{ place }}</button>
        </p>

        <div class="row g-1 mb-1">
            <div class="col">
                <h4>{{ t('browse.changeset.discussion') }}</h4>
            </div>
            {% if user is not none %}
                {% if is_subscribed %}
                    <form class="col-auto subscription-form" method="POST"
                          action="/api/web/user-subscription/note/{{ note.id }}/unsubscribe">
                        <button class="btn btn-sm btn-light border" type="submit">
                            <i class="bi bi-bookmark-check me-1"></i>
                            {{ t('javascripts.changesets.show.unsubscribe') }}
                        </button>
                    </form>
                {% else %}
                    <form class="col-auto subscription-form" method="POST"
                          action="/api/web/user-subscription/note/{{ note.id }}/subscribe">
                        <button class="btn btn-sm btn-light border" type="submit">
                            {{ t('javascripts.changesets.show.subscribe') }}
                        </button>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        {% if note_comments_num_items %}
            <div class="note-comments-pagination">
                <ul class="list-unstyled mb-2"></ul>
                <nav aria-label="{{ t('alt.comments_page_navigation') }}">
                    <ul class="pagination pagination-sm justify-content-end mb-2"
                        data-action="/api/web/note/{{ note.id }}/comments?page={page}&num_items={{ note_comments_num_items }}"
                        data-pages="{{ note_comments_num_pages }}">
                    </ul>
                </nav>
            </div>
        {% endif %}

        {% if disappear_days is not none %}
            <p class="text-center fst-italic mx-4">
                {{ t(
                'notes.show.disappear_date_html',
                disappear_in=nt('user_blocks.helper.block_duration.days', count=disappear_days)
            ) | safe }}
            </p>
        {% endif %}

        {% if user is not none %}
            <form class="comment-form" method="POST" action="/api/web/note/{{ note.id }}/comment">
                <input type="hidden" name="event" autocomplete="off" required>
                {% if status == 'open' %}
                    <div class="mb-3">
                        <textarea class="form-control" name="text" rows="5"></textarea>
                    </div>
                    <div class="row g-1">
                        <div class="col">
                            {% if user.is_moderator %}
                                <button class="btn btn-light border" type="submit" data-event="hidden">
                                    {{ t('notes.show.hide') }}
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <button class="close-btn btn btn-primary" type="submit" data-event="closed">
                                {{ t('notes.show.resolve') }}
                            </button>
                            <button class="comment-close-btn btn btn-primary" type="submit" data-event="closed">
                                {{ t('notes.show.comment_and_resolve') }}
                            </button>
                            <button class="comment-btn btn btn-primary" type="submit" data-event="commented">
                                {{ t('action.comment') }}
                            </button>
                        </div>
                    </div>
                {% elif status == 'closed' %}
                    <div class="row g-1">
                        <div class="col">
                            {% if user.is_moderator %}
                                <button class="btn btn-light border" type="submit" data-event="hidden">
                                    {{ t('notes.show.hide') }}
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit" data-event="reopened">
                                {{ t('notes.show.reactivate') }}
                            </button>
                        </div>
                    </div>
                {% elif status == 'hidden' %}
                    <div>
                        <button class="btn btn-light border" type="submit" data-event="reopened">
                            {{ t('action.unhide') }}
                        </button>
                    </div>
                {% endif %}
            </form>
        {% else %}
            <div class="text-center">
                <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                    {{ t('browse.changeset.join_discussion') }}
                </button>
            </div>
        {% endif %}

    </div>
    <div class="section">
        <small>
            {% set link %}
            <a href="/report/note/{{ note.id }}">
                {{- t('notes.show.report') -}}
            </a>
            {%- endset %}
            {{ t('notes.show.report_link_html', link=link) | safe }}

            {% if user is not none and user.id != header.user_id %}
                {% if status == 'open' %}
                    {{ t('notes.show.other_problems_resolve') }}
                {% elif status == 'closed' %}
                    {{ t('notes.show.other_problems_resolved') }}
                {% endif %}
            {% endif %}
        </small>
    </div>
</div>
