<div class="sidebar-content">
    <div class="section">

        <div class="row g-1 mb-1">
            <div class="col">
                <h2>
                    <span class="sidebar-title" data-params="{{ params }}">
                        {{ t('note.title') }}: {{ note.id }}
                    </span>
                    <span class="status-badge badge" data-status="{{ status }}">
                        {% if status == 'open' %}
                        {{ t('state.unresolved') }}
                        {% elif status == 'closed' %}
                        {{ t('state.resolved') }}
                        {% elif status == 'hidden' %}
                        <i class="bi bi-eye-slash-fill"></i>
                        {{ t('state.hidden') }}
                        {% endif %}
                    </span>
                </h2>
            </div>
            <div class="col-auto">
                <button class="sidebar-close-btn btn-close" aria-label="{{ t('javascripts.close') }}"></button>
            </div>
        </div>

        <div class="social-entry mb-4">
            <p class="header text-muted d-flex justify-content-between">
                <span>
                    {% if header.user_id is none %}
                    {{ t('browse.anonymous') }}
                    {% else %}
                    <a href="/user/{{ header.user.display_name }}" rel="author">
                        <img class="avatar" src="{{ header.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                        {{- header.user.display_name -}}
                    </a>
                    {% endif %}
                    {{ t('browse.created') | lower }}
                    {{ timeago(header.created_at, html=True) | safe }}
                </span>
            </p>
            <div class="body">
                {% if header.body_rich %}
                <p class="pre mb-2">{{ header.body_rich | safe }}</p>
                {% endif %}
                <p class="location-btn-container mb-2">
                    {{ t('diary_entries.form.location') }}:
                    <button class="location-btn btn btn-link stretched-link">
                        {{ note.point.y }}, {{ note.point.x }}
                    </button>
                </p>
            </div>
            {% if header.user_id is none %}
            <div class="alert alert-warning" role="alert">
                {{ t('notes.show.anonymous_warning') }}
            </div>
            {% endif %}
        </div>

        <div class="row g-1 mb-1">
            <div class="col">
                <h4>{{ t('browse.changeset.discussion') }}</h4>
            </div>
            {% if user is not none %}
            {% if is_subscribed %}
            <form class="col-auto subscription-form" method="POST" action="/api/web/note/{{ note.id }}/unsubscribe">
                <button class="btn btn-sm btn-light border" type="submit">
                    <i class="bi bi-bookmark-check me-1"></i>
                    {{ t('javascripts.changesets.show.unsubscribe') }}
                </button>
            </form>
            {% else %}
            <form class="col-auto subscription-form" method="POST" action="/api/web/note/{{ note.id }}/subscribe">
                <button class="btn btn-sm btn-light border" type="submit">
                    {{ t('javascripts.changesets.show.subscribe') }}
                </button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        {% if comments %}
        <ul class="list-unstyled">
            {% for comment in comments %}
            {% set event = comment.event.value %}
            <li class="social-entry">
                <p class="header text-muted">
                    <a href="/user/{{ comment.user.display_name }}">
                        <img class="avatar" src="{{ comment.user.avatar_url }}" alt="{{ t('alt.profile_picture') }}"
                            loading="lazy">
                        {{- comment.user.display_name -}}
                    </a>
                    {% if event == 'commented' %}
                    {{ t('action.commented') }}
                    {% elif event == 'closed' %}
                    {{ t('action.resolved') }}
                    {% elif event == 'reopened' %}
                    {{ t('action.reactivated') }}
                    {% elif event == 'hidden' %}
                    {{ t('action.hid') }}
                    {% endif %}
                    {{ timeago(comment.created_at, html=True) | safe }}
                </p>
                {% if comment.body_rich %}
                <div class="body pre">{{ comment.body_rich | safe }}</div>
                {% else %}
                <div class="mb-2"></div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if disappear_days is not none %}
        <p class="text-center fst-italic mx-4">
            {{ t(
                'notes.show.disappear_date_html',
                disappear_in=nt('user_blocks.helper.block_duration.days', count=disappear_days),
            ) | safe }}
        </p>
        {% endif %}

        {% if user is not none %}
        <form class="comment-form" method="POST" action="/api/web/note/{{ note.id }}/comment">
            <input type="hidden" name="event" autocomplete="off" required>
            {% if status == 'open' %}
            <div class="mb-3">
                <textarea class="form-control" name="text" rows="5"></textarea>
            </div>
            <div class="row g-1">
                <div class="col">
                    {% if user.is_moderator %}
                    <button class="btn btn-light border" type="submit" data-event="hidden">
                        {{ t('notes.show.hide') }}
                    </button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    <button class="close-btn btn btn-primary" type="submit" data-event="closed">
                        {{ t('notes.show.resolve') }}
                    </button>
                    <button class="comment-close-btn btn btn-primary" type="submit" data-event="closed">
                        {{ t('notes.show.comment_and_resolve') }}
                    </button>
                    <button class="comment-btn btn btn-primary" type="submit" data-event="commented">
                        {{ t('action.comment') }}
                    </button>
                </div>
            </div>
            {% elif status == 'closed' %}
            <div class="row g-1">
                <div class="col">
                    {% if user.is_moderator %}
                    <button class="btn btn-light border" type="submit" data-event="hidden">
                        {{ t('notes.show.hide') }}
                    </button>
                    {% endif %}
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" data-event="reopened">
                        {{ t('notes.show.reactivate') }}
                    </button>
                </div>
            </div>
            {% elif status == 'hidden' %}
            <div>
                <button class="btn btn-light border" type="submit" data-event="reopened">
                    {{ t('action.unhide') }}
                </button>
            </div>
            {% endif %}
        </form>
        {% else %}
        <div class="text-center">
            <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
                {{ t('browse.changeset.join_discussion') }}
            </button>
        </div>
        {% endif %}

    </div>
    <div class="section">
        <small>
            {% set link %}
            <a href="/report/note/{{ note.id }}">
                {{- t('notes.show.report') -}}
            </a>
            {%- endset %}
            {{ t(
                'notes.show.report_link_html',
                link=link,
            ) | safe }}

            {% if user is not none and user.id != header.user_id %}
            {% if status == 'open' %}
            {{ t('notes.show.other_problems_resolve') }}
            {% elif status == 'closed' %}
            {{ t('notes.show.other_problems_resolved') }}
            {% endif %}
            {% endif %}
        </small>
    </div>
</div>
