<ul class="search-list list-unstyled mb-0" data-params="{{ params }}">
    {% for element, icon, name, prefix in results %}
    <li class="social-action social-entry">
        <p class="header text-muted d-flex justify-content-between">
            <span>
                {% if icon is not none %}
                <img class="icon" src="/static/img/element/{{ icon.filename }}" title="{{ icon.title }}">
                {% endif %}
                {{ prefix }}
            </span>
            <a class="stretched-link" href="/{{ element.type }}/{{ element.id }}">
                {{ element.type }}/{{ element.id }}
            </a>
        </p>
        {% if name %}
        <p class="body">{{ name }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if not has_results %}
<p>{{ t('javascripts.query.nothing_found') }}</p>
{% endif %}
