<ul class="search-list list-unstyled mb-0" data-params="{{ params }}">
    {% for result in results %}
    {% set element = result.element %}
    {% set icon = result.icon %}
    <li class="social-action social-entry">
        <p class="header text-muted d-flex justify-content-between">
            <span>
                {% if icon is not none %}
                <img class="icon" src="/static/img/element/{{ icon.filename }}" title="{{ icon.title }}">
                {% endif %}
                {{ result.prefix }}
            </span>
            <a class="stretched-link" href="/{{ element.type }}/{{ element.id }}">
                {{ element.type }}/{{ element.id }}
            </a>
        </p>
        <p class="body">
            {% if result.display_name %}
            {{ result.display_name }}
            {% else %}
            {% if element.type == 'node' %}
            {{ t('javascripts.query.node') }}
            {% elif element.type == 'way' %}
            {{ t('javascripts.query.way') }}
            {% elif element.type == 'relation' %}
            {{ t('javascripts.query.relation') }}
            {% endif %}
            {{ element.id }}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% if not results %}
<p>{{ t('javascripts.query.nothing_found') }}</p>
{% endif %}
