<ul class="search-list social-list list-unstyled mb-0" data-params="{{ params }}">
    {% for result in results %}
    {% set element = result.element %}
    {% set icon = result.icon %}
    {% set point = result.point %}
    <li class="social-action social-entry" {% if point is not none %} data-lon="{{ point.x }}" data-lat="{{ point.y }}"
        {% endif %}>
        <p class="header text-muted d-flex justify-content-between">
            <span>
                {% if icon is not none %}
                <img class="icon" src="/static/img/element/{{ icon.filename }}" title="{{ icon.title }}">
                {% endif %}
                {{ result.prefix }}
            </span>
            <a class="stretched-link" href="/{{ element.type }}/{{ element.id }}">
                {{ element.type }}/{{ element.id }}
            </a>
        </p>
        <p class="body">{{ result.display_name }}</p>
    </li>
    {% endfor %}
</ul>
{% if not results %}
<p>{{ t('results.we_did_not_find_any_results') }}</p>
{% endif %}
