<!DOCTYPE html>
{%- set _dir = t('html.dir') -%}
<html
  lang="{{ lang }}"
  dir="{{ _dir }}"
  data-config="{{ WEB_CONFIG }}"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    {%- for file in I18NEXT_FILES -%}
      <script
        src="/static-locale/{{ file }}"
        defer
      ></script>
    {%- endfor -%}
    {{ vite_render_asset('app/views/embed.ts', rtl=_dir == 'rtl') | safe }}

    <title>{{ t('project_name') }}</title>
  </head>

  <body>
    <div id="map"></div>
  </body>
</html>
