@import "maplibre-gl/dist/maplibre-gl";
@import "lib/map/marker";

// Display map embed in fullscreen
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.maplibregl-map {
  width: 100%;
  height: 100%;
}
