<div class="traces-pagination">
    <nav aria-label="{{ t('alt.page_navigation') }}">
        <ul class="pagination justify-content-end mb-2"></ul>
    </nav>

    <ul class="traces-list social-list list-unstyled mb-2"></ul>

    <nav aria-label="{{ t('alt.page_navigation') }}">
        <ul class="pagination justify-content-end mb-0" data-action="{{ pagination_action }}"></ul>
    </nav>
</div>
