.trace-preview {
  @extend .border;
  @extend .rounded-2;

  width: 100%;
  height: 40em;

  @include media-breakpoint-down(md) {
    height: max(40em - (breakpoint-max(md) - 100vw) * 0.5, 30em);
  }

  &.trace-preview-sm {
    height: 20em;
  }
}
