{% for comment in comments %}
  <li class="social-entry">
    <div class="header text-muted d-flex justify-content-between align-items-center">
      <span>
        {% if comment.user %}
          <a href="/user/{{ comment.user.display_name }}">
            <img
              class="avatar"
              src="{{ user_avatar_url(comment.user) }}"
              alt="{{ t('alt.profile_picture') }}"
              loading="lazy"
            />
            {{- comment.user.display_name -}}
          </a>
        {% endif %}
        {% if comment.action == 'comment' %}
          commented
        {% elif comment.action == 'close' %}
          closed
        {% elif comment.action == 'reopen' %}
          reopened
        {% else %}
          reported
        {% endif %}
        <time
          datetime="{{ comment.created_at.isoformat() }}"
          data-style="long"
        ></time>
      </span>
      {% if user_is_admin(user) %}
        <form
          class="visibility-form"
          method="POST"
          action="/api/web/reports/{{ report.id }}/comments/{{ comment.id }}/visibility"
        >
          <select
            name="visible_to"
            class="form-select form-select-sm"
          >
            <option
              value="moderator"
              {% if comment.visible_to == 'moderator' %}selected{% endif %}
            >
              Moderators
            </option>
            <option
              value="administrator"
              {% if comment.visible_to == 'administrator' %}selected{% endif %}
            >
              ❗ Administrators
            </option>
          </select>
        </form>
      {% endif %}
    </div>
    <div class="body">{% include 'reports/_comment' %}</div>
  </li>
{% endfor %}
