.reports-body {
  .social-entry {
    .body-preview {
      display: -webkit-box;
      flex: 1;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      .avatar {
        vertical-align: bottom;
      }
    }
  }
}
