.report-show-body {
  .content-header {
    .avatar {
      font-size: 3.3rem;
    }

    .badge {
      font-size: 0.6em;
    }
  }

  .social-list {
    .header {
      .form-select {
        padding: 1px 2.25rem 1px 0.375rem;
        font-size: 0.75rem;

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}
