<!DOCTYPE html>
{# TODO: lang #}
<html lang="{{ lang }}" dir="{{ t('html.dir') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% block title_prefix %}{% endblock %}OpenStreetMap{% endblock %}</title>
    <meta name="description"
        content="OpenStreetMap is a map of the world, created by people like you and free to use under an open license.">

    <link rel="stylesheet" href="/static/css/main.css" fetchpriority="high">
    <script src="/static/js/main.js" type="module" fetchpriority="high" defer></script>

    {# TODO: more og tags #}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="OpenStreetMap">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:description"
        content="OpenStreetMap is a map of the world, created by people like you and free to use under an open license.">
    <meta property="og:image" content="{{ APP_URL + '/static/img/favicon/512.png' }}">
    <meta property="og:image:alt" content="OpenStreetMap logo">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">

    <link rel="icon" sizes="512x512" type="image/webp" href="/static/img/favicon/512.webp">
    <link rel="icon" sizes="512x512" type="image/png" href="/static/img/favicon/512.png">
    <link rel="icon" sizes="256x256" type="image/webp" href="/static/img/favicon/256.webp">
    <link rel="icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">
    <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="/static/img/favicon/512.png">
    <link rel="apple-touch-icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">

    <link rel="search" type="application/opensearchdescription+xml" title="OpenStreetMap Search"
        href="/static/opensearch.xml">
</head>

<body>
    {% include '_navbar.jinja2' %}
    {% block body required %}{% endblock %}
</body>

</html>
