<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fw-semibold" href="/">
            <img src="/static/img/favicon/256.webp" alt="{{ t('alt.logo') }}">
            {{ t('layouts.project_name.title') }}
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="btn-group dropdown d-flex d-lg-inline-flex me-auto" role="group">
                <div class="btn-group edit-group flex-grow-1"
                     data-bs-title="{{ t('javascripts.site.edit_disabled_tooltip') }}">
                    {% if user is none %}
                        {% set _editor = DEFAULT_EDITOR %}
                    {% else %}
                        {% set _editor = user.editor.value or DEFAULT_EDITOR %}
                    {% endif %}
                    <a class="btn btn-outline-green map-link edit-link default" href="/edit?editor={{ _editor }}">
                        {{ t('layouts.edit') }}
                        {% if _editor == 'id' %}
                            <img class="d-only-light" src="/static/img/brand/id-dark.webp" alt="{{ t('alt.logo') }}"
                                 loading="lazy">
                            <img class="d-only-dark" src="/static/img/brand/id-light.webp" alt="{{ t('alt.logo') }}"
                                 loading="lazy">
                        {% elif _editor == 'rapid' %}
                            <img src="/static/img/brand/rapid.webp" alt="{{ t('alt.logo') }}">
                        {% elif _editor == 'remote' %}
                            <img src="/static/img/brand/josm.webp" alt="{{ t('alt.logo') }}">
                        {% endif %}
                    </a>

                    <button class="btn btn-outline-green dropdown-toggle dropdown-toggle-split rounded-0"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                            aria-label="Toggle editor selection">
                    </button>
                    <div class="dropdown-menu dropdown-menu-green">
                        <a class="dropdown-item map-link edit-link" data-editor="id" href="/edit?editor=id">
                            {% set _editor %}
                            <img class="d-only-light" src="/static/img/brand/id-dark.webp" alt="{{ t('alt.logo') }}"
                                 loading="lazy">
                            <img class="d-only-dark" src="/static/img/brand/id-light.webp" alt="{{ t('alt.logo') }}"
                                 loading="lazy">
                            {{ t('editor.id.description') }}
                            {% endset %}
                            {{ t('layouts.edit_with', editor=_editor) | safe }}
                        </a>
                        <a class="dropdown-item map-link edit-link" data-editor="rapid" href="/edit?editor=rapid">
                            {% set _editor %}
                            <img src="/static/img/brand/rapid.webp" alt="{{ t('alt.logo') }}" loading="lazy">
                            {{ t('editor.rapid.name') }}
                            {% endset %}
                            {{ t('layouts.edit_with', editor=_editor) | safe }}
                        </a>
                        <button class="dropdown-item map-link edit-link" data-editor="remote">
                            {% set _editor %}
                            <img src="/static/img/brand/josm.webp" alt="{{ t('alt.logo') }}" loading="lazy">
                            {{ t('editor.remote.description') }}
                            {% endset %}
                            {{ t('layouts.edit_with', editor=_editor) | safe }}
                        </button>
                        <hr class="dropdown-divider">
                        {% if user is none %}
                            <div class="form-check mx-3 disabled" data-bs-toggle="tooltip"
                                 data-bs-title="{{ t('validation.you_must_be_logged_in_to_perform_this_action') }}"
                                 data-bs-placement="bottom">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember-choice" disabled>
                                    {{ t('action.remember_my_choice') }}
                                </label>
                            </div>
                        {% else %}
                            <div class="form-check mx-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember-choice">
                                    {{ t('action.remember_my_choice') }}
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <a class="btn btn-outline-green map-link" href="/history">
                    {{ t('layouts.history') }}
                </a>
                <a class="btn btn-outline-green map-link" href="/export">
                    {{ t('site.export.title') }}
                </a>
            </div>

            {% set _links = (
                ('/traces', t('layouts.gps_traces'), 'title="' + t('layouts.gps_traces_tooltip') + '"'),
                ('/diary', t('layouts.user_diaries'), 'title="' + t('layouts.user_diaries_tooltip') + '"'),
                ('/communities', t('site.communities.title'), ''),
                ('/copyright', t('layouts.copyright'), 'rel="license"'),
                ('/help', t('layouts.help'), ''),
                ('/about', t('layouts.about'), ''),
            ) %}
            <ul class="navbar-nav d-flex d-lg-none d-xxl-flex my-2 my-lg-0">
                {% for _href, _text, _extra in _links %}
                    <li class="nav-item"><a class="nav-link" href="{{ _href }}" {{ _extra | safe }}>{{ _text }}</a></li>
                {% endfor %}
            </ul>

            <div class="btn-group d-none d-lg-block d-xxl-none">
                <button class="btn btn-light btn-bg-initial navbar-color border-0 dropdown-toggle" type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ t('layouts.more') }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% for _href, _text, _extra in _links %}
                        <li><a class="dropdown-item" href="{{ _href }}" {{ _extra | safe }}>{{ _text }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% include '_navbar_theme.jinja2' %}

            {% if user is not none %}
                <div class="dropdown d-flex d-lg-inline-flex">
                    <button
                        class="profile-btn btn btn-light btn-bg-initial border dropdown-toggle d-flex align-items-center flex-grow-1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="avatar me-2" src="{{ user.avatar_url }}" alt="{{ t('alt.profile_picture') }}">
                        {{ user.display_name }}
                        <span class="new-unread-messages-badge badge text-bg-light-green fw-light ms-1-5">
                            {%- if MESSAGES_COUNT_UNREAD > 0 %}{{ MESSAGES_COUNT_UNREAD }}{% endif -%}
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-green dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="/dashboard">
                                {{ t('dashboards.show.title') }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/messages/inbox">
                                {{ t('users.show.my messages') }}
                                <span class="unread-messages-badge badge text-bg-light-green fw-light ms-2">
                                {{ MESSAGES_COUNT_UNREAD }}
                            </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/{{ user.display_name }}">
                                {{ t('users.show.my profile') }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/settings">
                                {{ t('accounts.edit.my settings') }}
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if user.home_point is not none %}
                            <li class="find-home-container d-none">
                                <button class="dropdown-item">
                                    {{ t('layouts.home') }}
                                </button>
                            </li>
                        {% endif %}
                        <li>
                            <form method="POST" action="/api/web/user/logout">
                                <button class="dropdown-item" type="submit">
                                    {{ t('layouts.logout') }}
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="btn-group d-flex d-lg-inline-flex" role="group">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                            data-bs-target="#loginModal">
                        {{ t('login.sign_in') }}
                    </button>
                    <a class="btn btn-outline-secondary" href="/signup">
                        {{ t('users.new.title') | capitalize }}
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</nav>
