{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('layouts.copyright') }} | {% endblock %}
{% block body %}

<div class="content-header">
    {% if should_show_notice %}
        <div class="container">
            <h1>{{ copyright_notice_title }}</h1>
            <p>{{ copyright_notice_html | safe }}</p>
            <hr>
        </div>
    {% endif %}
    <h1 class="container">
        {{ copyright_translated_title }}
    </h1>
</div>
{{ copyright_content | safe }}

{% endblock %}
