{% set cc_by_30_link %}
<a href="https://creativecommons.org/licenses/by/3.0/" rel="noopener">CC BY 3.0</a>
{%- endset %}
{% set cc_by_40_link %}
<a href="https://creativecommons.org/licenses/by/4.0/" rel="noopener">CC BY 4.0</a>
{%- endset %}
<div class="content-body">
    <div class="container">
        <p>
            {% set registered_trademark_link %}<a href="#trademarks"><sup>®</sup></a>{% endset %}
            {% set open_data %}<i>{{ t('site.copyright.legal_babble.introduction_1_open_data') }}</i>{% endset %}
            {% set odc_odbl_link %}
            <a href="https://opendatacommons.org/licenses/odbl/" rel="noopener">
                {{ t('site.copyright.legal_babble.introduction_1_odc_odbl') -}}
            </a>
            {%- endset %}
            {% set osm_foundation_link %}
            <a href="https://osmfoundation.org">
                {{ t('site.about.legal_1_1_openstreetmap_foundation') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.introduction_1_html',
                registered_trademark_link=registered_trademark_link,
                open_data=open_data,
                odc_odbl_link=odc_odbl_link,
                osm_foundation_link=osm_foundation_link
            ) | safe }}
        </p>
        <p>
            {% set legal_code_link %}
            <a href="https://opendatacommons.org/licenses/odbl/1-0/" rel="noopener">
                {{ t('site.copyright.legal_babble.introduction_2_legal_code') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.introduction_2_html',
                legal_code_link=legal_code_link,
            ) | safe }}
        </p>
        <p>
            {% set creative_commons_link %}
            <a href="https://creativecommons.org/licenses/by-sa/2.0/" rel="noopener">
                {{ t('site.copyright.legal_babble.introduction_3_creative_commons') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.introduction_3_html',
                creative_commons_link=creative_commons_link,
            ) | safe }}
        </p>

        <h3>{{ t('site.copyright.legal_babble.credit_title_html') }}</h3>
        <p>{{ t('site.copyright.legal_babble.credit_1_html') }}</p>
        <ol>
            <li>{{ t('site.copyright.legal_babble.credit_2_1') }}</li>
            <li>{{ t('site.copyright.legal_babble.credit_2_2') }}</li>
        </ol>
        <p>
            {% set attribution_guidelines_link %}
            <a href="https://osmfoundation.org/wiki/Licence/Attribution_Guidelines">
                {{ t('site.copyright.legal_babble.credit_3_attribution_guidelines') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.credit_3_html',
                attribution_guidelines_link=attribution_guidelines_link,
            ) | safe }}
        </p>
        <p>
            {% set this_copyright_page_link %}
            <a href="">
                {{ t('site.copyright.legal_babble.credit_4_1_this_copyright_page') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.credit_4_1_html',
                this_copyright_page_link=this_copyright_page_link,
            ) | safe }}
        </p>
        <img class="img-thumbnail mb-3" src="/static/img/copyright/attribution-example.webp"
            alt="{{ t('site.copyright.legal_babble.attribution_example.title') }}">

        <h3>{{ t('site.copyright.legal_babble.more_title_html') }}</h3>
        <p>
            {% set osmf_licence_page_link %}
            <a href="https://osmfoundation.org/wiki/Licence">
                {{ t('site.copyright.legal_babble.more_1_1_osmf_licence_page') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.more_1_1_html',
                osmf_licence_page_link=osmf_licence_page_link,
            ) | safe }}
        </p>
        <p>
            {% set api_usage_policy_link %}
            <a href="https://operations.osmfoundation.org/policies/api/">
                {{ t('site.copyright.legal_babble.more_2_1_api_usage_policy') -}}
            </a>
            {%- endset %}
            {% set tile_usage_policy_link %}
            <a href="https://operations.osmfoundation.org/policies/tiles/">
                {{ t('site.copyright.legal_babble.more_2_1_tile_usage_policy') -}}
            </a>
            {%- endset %}
            {% set nominatim_usage_policy_link %}
            <a href="https://operations.osmfoundation.org/policies/nominatim/">
                {{ t('site.copyright.legal_babble.more_2_1_nominatim_usage_policy') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.more_2_1_html',
                api_usage_policy_link=api_usage_policy_link,
                tile_usage_policy_link=tile_usage_policy_link,
                nominatim_usage_policy_link=nominatim_usage_policy_link,
            ) | safe }}
        </p>

        <h3>{{ t('site.copyright.legal_babble.contributors_title_html') }}</h3>
        <p>{{ t('site.copyright.legal_babble.contributors_intro_html') }}</p>
        <ul>

            <li>
                {% set austria %}<b>{{ t('site.copyright.legal_babble.contributors_at_austria') }}</b>{% endset %}
                {% set stadt_wien_link %}
                <a href="https://www.data.gv.at/auftritte/?organisation=stadt-wien" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_at_stadt_wien') -}}
                </a>
                {%- endset %}
                {% set land_vorarlberg_link %}
                <a href="https://vorarlberg.at/-/digitale-katastralmappe-dkm" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_at_land_vorarlberg') -}}
                </a>
                {%- endset %}
                {% set cc_by_at_with_amendments_link %}
                <a href="https://www.tirol.gv.at/data/nutzungsbedingungen/" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_at_cc_by_at_with_amendments') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_at_credit_html',
                    austria=austria,
                    stadt_wien_link=stadt_wien_link,
                    cc_by_link=cc_by_30_link,
                    land_vorarlberg_link=land_vorarlberg_link,
                    cc_by_at_with_amendments_link=cc_by_at_with_amendments_link,
                ) | safe }}
            </li>

            <li>
                {% set australia %}<b>{{ t('site.copyright.legal_babble.contributors_au_australia') }}</b>{% endset %}
                {% set geoscape_australia_link %}
                <a href="https://geoscape.com.au/legal/data-copyright-and-disclaimer/" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_au_geoscape_australia') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_au_credit_html',
                    australia=australia,
                    geoscape_australia_link=geoscape_australia_link,
                    cc_licence_link=cc_by_40_link,
                ) | safe }}
            </li>

            <li>
                {% set canada %}<b>{{ t('site.copyright.legal_babble.contributors_ca_canada') }}</b>{% endset %}
                {{ t('site.copyright.legal_babble.contributors_ca_credit_html', canada=canada) | safe }}
            </li>

            <li>
                {% set czechia %}<b>{{ t('site.copyright.legal_babble.contributors_cz_czechia') }}</b>{% endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_cz_credit_html',
                    czechia=czechia,
                    cc_licence_link=cc_by_40_link,
                ) | safe }}
            </li>

            <li>
                {% set finland %}<b>{{ t('site.copyright.legal_babble.contributors_fi_finland') }}</b>{% endset %}
                {% set nlsfi_license_link %}
                <a href="https://www.maanmittauslaitos.fi/en/opendata-licence-version1" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_fi_nlsfi_license') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_fi_credit_html',
                    finland=finland,
                    nlsfi_license_link=nlsfi_license_link,
                ) | safe }}
            </li>

            <li>
                {% set france %}<b>{{ t('site.copyright.legal_babble.contributors_fr_france') }}</b>{% endset %}
                {{ t('site.copyright.legal_babble.contributors_fr_credit_html', france=france) | safe }}
            </li>

            <li>
                {% set netherlands %}<b>{{ t('site.copyright.legal_babble.contributors_nl_netherlands') }}</b>{% endset %}
                {% set and_link %}<a href="https://www.and.com/" rel="noopener">www.and.com</a>{% endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_nl_credit_html',
                    netherlands=netherlands,
                    and_link=and_link,
                ) | safe }}
            </li>

            <li>
                {% set new_zealand %}<b>{{ t('site.copyright.legal_babble.contributors_nz_new_zealand') }}</b>{% endset %}
                {% set linz_data_service_link %}
                <a href="https://data.linz.govt.nz/" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_nz_linz_data_service') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_nz_credit_html',
                    new_zealand=new_zealand,
                    linz_data_service_link=linz_data_service_link,
                    cc_by_link=cc_by_40_link,
                ) | safe }}
            </li>

            <li>
                {% set serbia %}<b>{{ t('site.copyright.legal_babble.contributors_rs_serbia') }}</b>{% endset %}
                {% set rgz_link %}
                <a href="https://web.archive.org/web/20220528220349/https://geosrbija.rs/" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_rs_rgz') -}}
                </a>
                {%- endset %}
                {% set open_data_portal %}
                <a href="https://data.gov.rs/sr/" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_rs_open_data_portal') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_rs_credit_html',
                    serbia=serbia,
                    rgz_link=rgz_link,
                    open_data_portal=open_data_portal,
                ) | safe }}
            </li>

            <li>
                {% set slovenia %}<b>{{ t('site.copyright.legal_babble.contributors_si_slovenia') }}</b>{% endset %}
                {% set gu_link %}
                <a href="https://www.gov.si/en/state-authorities/bodies-within-ministries/surveying-and-mapping-authority/"
                    rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_si_gu') -}}
                </a>
                {%- endset %}
                {% set mkgp_link %}
                <a href="https://www.gov.si/en/state-authorities/ministries/ministry-of-agriculture-forestry-and-food/"
                    rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_si_mkgp') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_si_credit_html',
                    slovenia=slovenia,
                    gu_link=gu_link,
                    mkgp_link=mkgp_link,
                ) | safe }}
            </li>

            <li>
                {% set spain %}<b>{{ t('site.copyright.legal_babble.contributors_es_spain') }}</b>{% endset %}
                {% set ign_link -%}
                <a href="https://www.ign.es" rel="noopener">
                    {{- t('site.copyright.legal_babble.contributors_es_ign') -}}
                </a>
                {%- endset %}
                {% set scne_link -%}
                <a href="https://www.scne.es" rel="noopener">
                    {{- t('site.copyright.legal_babble.contributors_es_scne') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_es_credit_html',
                    spain=spain,
                    ign_link=ign_link,
                    scne_link=scne_link,
                    cc_by_link=cc_by_40_link,
                ) | safe }}
            </li>

            <li>
                {% set south_africa %}<b>{{ t('site.copyright.legal_babble.contributors_za_south_africa') }}</b>{% endset %}
                {% set ngi_link %}
                <a href="https://ngi.dalrrd.gov.za" rel="noopener">
                    {{ t('site.copyright.legal_babble.contributors_za_ngi') -}}
                </a>
                {%- endset %}
                {{ t(
                    'site.copyright.legal_babble.contributors_za_credit_html',
                    south_africa=south_africa,
                    ngi_link=ngi_link,
                ) | safe }}
            </li>

            <li>
                {% set united_kingdom %}<b>{{ t('site.copyright.legal_babble.contributors_gb_united_kingdom') }}</b>{% endset %}
                {{ t('site.copyright.legal_babble.contributors_gb_credit_html', united_kingdom=united_kingdom) | safe }}
            </li>

        </ul>
        <p>
            {% set contributors_page_link %}
            <a href="https://wiki.openstreetmap.org/wiki/Contributors">
                {{ t('site.copyright.legal_babble.contributors_2_contributors_page') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.contributors_2_html',
                contributors_page_link=contributors_page_link,
            ) | safe }}
        </p>
        <p>{{ t('site.copyright.legal_babble.contributors_footer_2_html') }}</p>

        <h3>{{ t('site.copyright.legal_babble.infringement_title_html') }}</h3>
        <p>{{ t('site.copyright.legal_babble.infringement_1_html') }}</p>
        <p>
            {% set takedown_procedure_link %}
            <a href="https://osmfoundation.org/wiki/Takedown_procedure">
                {{ t('site.copyright.legal_babble.infringement_2_1_takedown_procedure') -}}
            </a>
            {%- endset %}
            {% set online_filing_page_link %}
            <a href="https://dmca.openstreetmap.org">
                {{ t('site.copyright.legal_babble.infringement_2_1_online_filing_page') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.infringement_2_1_html',
                takedown_procedure_link=takedown_procedure_link,
                online_filing_page_link=online_filing_page_link,
            ) | safe }}
        </p>

        <h3 id="trademarks">{{ t('site.copyright.legal_babble.trademarks_title') }}</h3>
        <p>
            {% set trademark_policy_link %}
            <a href="https://osmfoundation.org/wiki/Trademark_Policy">
                {{ t('site.copyright.legal_babble.trademarks_1_1_trademark_policy') -}}
            </a>
            {%- endset %}
            {{ t(
                'site.copyright.legal_babble.trademarks_1_1_html',
                trademark_policy_link=trademark_policy_link,
            ) | safe }}
        </p>
    </div>
</div>
