<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ t('html.dir') }}" data-config="{{ WEB_CONFIG }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/embed.css">
    {% for file in I18NEXT_FILES %}
        <script src="/static-locale/{{ file }}" defer></script>
    {% endfor %}
    <script src="/static/js/embed.js" type="module" defer></script>

    <title>{{ t('layouts.project_name.title') }}</title>
</head>

<body>
<div id="map"></div>
</body>

</html>
