{% extends '_base.jinja2' %}
{% block title_prefix %}{{ t('layouts.help') }} | {% endblock %}
{% block body %}

    <div class="content-header">
        <h1 class="container">
            {{ t('site.help.title') }}
        </h1>
    </div>
    <div class="content-body">
        <div class="container">
            <p class="mb-4">{{ t('site.help.introduction') }}</p>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="/welcome">
                                    {{ t('site.help.welcome.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.welcome.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://community.openstreetmap.org">
                                    {{ t('site.help.community.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.community.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://wiki.openstreetmap.org/wiki/Beginners%27_guide">
                                    {{ t('site.help.beginners_guide.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.beginners_guide.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://wiki.openstreetmap.org">
                                    {{ t('site.help.wiki.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.wiki.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://lists.openstreetmap.org">
                                    {{ t('site.help.mailing_lists.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.mailing_lists.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://irc.openstreetmap.org">
                                    {{ t('site.help.irc.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.irc.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://welcome.openstreetmap.org">
                                    {{ t('site.help.welcomemat.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.welcomemat.description') }}</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="stretched-link" href="https://switch2osm.org">
                                    {{ t('site.help.switch2osm.title') }}
                                </a>
                            </h5>
                            <p class="mb-0">{{ t('site.help.switch2osm.description') }}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
