{% extends '_main.jinja2' %}
{% block head %}

{% set description = t('layouts.intro_text') %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

{% endblock %}
{% block body %}

{% endblock %}
