{% extends '_main.jinja2' %}
{% block head %}

{% set description = t('layouts.intro_text') %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

{% endblock %}
{% block body_class %}map-body{% endblock %}
{% block body %}

<div class="map-container">
    <div class="main-map"></div>

    {% include 'leaflet/_sidebar_layers.jinja2' %}
    {% include 'leaflet/_sidebar_legend.jinja2' %}
    {% include 'leaflet/_sidebar_share.jinja2' %}
</div>

{% endblock %}
