<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ t('html.dir') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}{{ t('unsupported_browser.title.short') | title }} |
        {{ t('layouts.project_name.title') }}{% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/main.css" fetchpriority="high">

    <link rel="icon" sizes="512x512" type="image/webp" href="/static/img/favicon/512.webp">
    <link rel="icon" sizes="512x512" type="image/png" href="/static/img/favicon/512.png">
    <link rel="icon" sizes="256x256" type="image/webp" href="/static/img/favicon/256.webp">
    <link rel="icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">
    <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="/static/img/favicon/512.png">
    <link rel="apple-touch-icon" sizes="256x256" type="image/png" href="/static/img/favicon/256.png">
</head>

<body class="unsupported-browser container py-4 py-md-5">

    <div class="text-center mb-5">
        <img class="logo mb-3" src="/static/img/favicon/256.png" alt="{{ t('layouts.logo.alt_text') }}">
        <h1 class="display-4">{{ t('unsupported_browser.title.long') }}</h1>
        <p class="lead">{{ t('unsupported_browser.description') }}</p>
    </div>

    <div class="row">
        <div class="col-xl-4 mb-3">
            <a class="d-block browser-option btn btn-outline-primary fw-semibold py-3"
                href="https://www.mozilla.org/firefox/new/" rel="noopener">
                <img src="/static/img/brand/firefox.png" alt="{{ t('alt.logo') }}">
                Firefox
            </a>
        </div>
        <div class="col-xl-4 mb-3">
            <a class="d-block browser-option btn btn-outline-primary fw-semibold py-3"
                href="https://www.google.com/chrome/" rel="noopener">
                <img src="/static/img/brand/google-chrome.png" alt="{{ t('alt.logo') }}">
                Google Chrome
            </a>
        </div>
        <form class="col-xl-4 mb-3" method="POST" action="/api/web/unsupported-browser/override">
            <button class="w-100 browser-option btn btn-light border fw-semibold py-3" type="submit">
                {{ t('unsupported_browser.proceed_anyway') }}
            </button>
        </form>
    </div>

</body>

</html>
